Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

chore(helm): update jupyter 2023-10-20 → 2023-10-31 (patch) (#31839)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(it-tools): switch image to ghcr (#31841)
  charts/stable/it-tools/Chart.yaml
  charts/stable/it-tools/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

make some changes and add comments
  charts/library/common/templates/spawner/traefik/_middleware.tpl
Owners: @privatepuffin, @stavros-k

filter mw once
  charts/library/common/templates/spawner/traefik/_middleware.tpl
Owners: @privatepuffin, @stavros-k

fix
  charts/library/common/templates/spawner/traefik/_middleware.tpl
Owners: @privatepuffin, @stavros-k

more fixes
  charts/library/common/templates/spawner/traefik/_middleware.tpl
Owners: @privatepuffin, @stavros-k

add some tests
  charts/library/common-test/tests/traefik/enabled_test.yaml
  charts/library/common/templates/spawner/traefik/_middleware.tpl
Owners: @privatepuffin, @stavros-k

fmt
  charts/library/common/templates/spawner/traefik/_middleware.tpl
Owners: @privatepuffin, @stavros-k

extend tests
  charts/library/common-test/tests/traefik/enabled_test.yaml
  charts/library/common-test/values.yaml
Owners: @privatepuffin, @stavros-k

update docs
  website/src/content/docs/common/global.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

doc chart middlewares
  website/src/content/docs/common/ingress/traefik.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix test
  charts/library/common-test/tests/ingress/traefik_test.yaml
  charts/library/common/templates/lib/ingress/integrations/_traefik.tpl
  charts/library/common/templates/spawner/traefik/_middleware.tpl
Owners: @privatepuffin, @stavros-k

Commit daily changes
  charts/premium/vaultwarden/Chart.yaml
  charts/stable/apt-cacher-ng/Chart.yaml
  charts/stable/cloudcommander/Chart.yaml
  charts/stable/dokuwiki/Chart.yaml
  charts/stable/hexchat/Chart.yaml
  charts/stable/it-tools/Chart.yaml
  charts/stable/kanboard/Chart.yaml
  charts/stable/minecraft-bedrock/Chart.yaml
  charts/stable/minecraft-java/Chart.yaml
  charts/stable/minecraft-router/Chart.yaml
  charts/stable/miniflux/Chart.yaml
  charts/stable/minio/Chart.yaml
  charts/stable/mongo-express/Chart.yaml
  charts/stable/mongodb/Chart.yaml
  charts/stable/odoo/Chart.yaml
  charts/stable/ombi/Chart.yaml
  charts/stable/phpmyadmin/Chart.yaml
  charts/stable/rcon-webadmin/Chart.yaml
  charts/stable/renovate/Chart.yaml
  charts/stable/renovate/README.md
  charts/stable/rstudio/Chart.yaml
  charts/stable/smartctl-exporter/Chart.yaml
  charts/stable/storj-node/Chart.yaml
  charts/stable/xwiki/Chart.yaml
  clustertool/go.mod
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

fix one more bug
  charts/library/common-test/tests/traefik/enabled_test.yaml
  charts/library/common/templates/spawner/traefik/_middleware.tpl
Owners: @privatepuffin, @stavros-k

chore(github-action): update golangci/golangci-lint-action digest to 2e78893
  .github/workflows/clustertool.golangci-lint.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/accetto/ubuntu-vnc-xfce-firefox-g3 digest to 6130d9a
  charts/stable/firefox-desktop-g3/Chart.yaml
  charts/stable/firefox-desktop-g3/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/alpine/socat digest to e899028
  charts/stable/emby/Chart.yaml
  charts/stable/emby/values.yaml
  charts/stable/jellyfin/Chart.yaml
  charts/stable/jellyfin/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/automaticrippingmachine/automatic-ripping-machine digest to 77b52e2
  charts/stable/automatic-ripping-machine/Chart.yaml
  charts/stable/automatic-ripping-machine/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/cthulhoo/ttrss-web-nginx digest to 997301a
  charts/stable/tt-rss/Chart.yaml
  charts/stable/tt-rss/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/iyuucn/iyuuplus digest to b5a6fb2
  charts/stable/iyuuplus/Chart.yaml
  charts/stable/iyuuplus/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/josh5/steam-headless digest to 16a0697
  charts/stable/steam-headless/Chart.yaml
  charts/stable/steam-headless/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/mbentley/omada-controller digest to d88c890
  charts/stable/omada-controller/Chart.yaml
  charts/stable/omada-controller/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/plexripper/plexripper digest to b59624e
  charts/stable/plexripper/Chart.yaml
  charts/stable/plexripper/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/searxng/searxng digest to e22d861
  charts/stable/searxng/Chart.yaml
  charts/stable/searxng/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/thelounge/thelounge digest to a7ce220
  charts/stable/thelounge/Chart.yaml
  charts/stable/thelounge/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/tvheadend digest to 4ea27c5
  charts/stable/tvheadend/Chart.yaml
  charts/stable/tvheadend/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/suwayomi/tachidesk digest to 33bebec
  charts/stable/tachidesk-docker/Chart.yaml
  charts/stable/tachidesk-docker/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image quay.io/coderaiser/cloudcmd digest to 45cb2c0
  charts/stable/cloudcommander/Chart.yaml
  charts/stable/cloudcommander/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update nextcloud
  charts/premium/nextcloud/Chart.yaml
  charts/premium/nextcloud/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image blocky 16.13.3 → 16.13.4 (clustertool)
  clustertool/embed/generic/kubernetes/core/blocky/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/josh5/unmanic 0.2.7 → 0.2.8
  charts/stable/unmanic/Chart.yaml
  charts/stable/unmanic/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/shlinkio/shlink 4.4.0 → 4.4.2
  charts/stable/shlink/Chart.yaml
  charts/stable/shlink/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/slskd/slskd 0.22.1 → 0.22.2
  charts/incubator/slskd/Chart.yaml
  charts/incubator/slskd/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/alexta69/metube 2025-01-27 → 2025-02-07
  charts/stable/metube/Chart.yaml
  charts/stable/metube/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/metabase/metabase v0.52.9 → v0.53.1
  charts/stable/metabase/Chart.yaml
  charts/stable/metabase/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/prowlarr-develop 1.30.2.4939 → 1.31.0.4941
  charts/stable/prowlarr/Chart.yaml
  charts/stable/prowlarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2023-10-31 → 2023-12-25
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2023-10-31 → 2025-02-03
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update golangci/golangci-lint-action digest to 2e78893 (#31842)
  .github/workflows/clustertool.golangci-lint.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image blocky 16.13.3 → 16.13.4 (clustertool) (#31857)
  clustertool/embed/generic/kubernetes/core/blocky/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k
