Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to b335612 (#32274)
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/dgtlmoon/changedetection.io 0.49.1 → 0.49.2 (#32276)
  charts/stable/changedetection-io/Chart.yaml
  charts/stable/changedetection-io/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to 1c842f4
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/wordpress digest to e1602b6
  charts/stable/wordpress/Chart.yaml
  charts/stable/wordpress/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/oscam 11868-ls133 → 11869-ls134
  charts/stable/oscam/Chart.yaml
  charts/stable/oscam/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2025-02-18 → 2025-02-19
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image renovate 1.11.8 → 1.12.0
  clusters/main/kubernetes/apps/renovate/app/helm-release.yaml
Owners: @privatepuffin

chore(flux): update image renovate 1.11.8 → 1.12.0 (#32281)
  clusters/main/kubernetes/apps/renovate/app/helm-release.yaml
Owners: @privatepuffin

Commit daily changes
  charts/stable/minecraft-java/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/wordpress digest to e1602b6 (#32278)
  charts/stable/wordpress/Chart.yaml
  charts/stable/wordpress/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to 1c842f4 (#32277)
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2025-02-18 → 2025-02-19 (patch) (#32280)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/oscam 11868-ls133 → 11869-ls134 (#32279)
  charts/stable/oscam/Chart.yaml
  charts/stable/oscam/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to 7ecbb00
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/ctfd/ctfd 3.7.5 → 3.7.6
  charts/stable/ctfd/Chart.yaml
  charts/stable/ctfd/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2025-02-19 → 2025-02-20
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update @astrojs/starlight 0.31.1 → 0.32.1
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to 7ecbb00 (#32282)
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2025-02-19 → 2025-02-20 (patch) (#32284)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/ctfd/ctfd 3.7.5 → 3.7.6 (#32283)
  charts/stable/ctfd/Chart.yaml
  charts/stable/ctfd/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(radarr) update docs
  charts/stable/radarr/docs/img/networking.png
  charts/stable/radarr/docs/img/nzbget_radarr_client.png
  charts/stable/radarr/docs/img/nzbget_radarr_storage.png
  charts/stable/radarr/docs/img/nzbget_storage.png
  charts/stable/radarr/docs/img/qbit_radarr_client.png
  charts/stable/radarr/docs/img/qbit_radarr_storage.png
  charts/stable/radarr/docs/img/qbit_storage.png
  charts/stable/radarr/docs/img/sab_internal_link.png
  charts/stable/radarr/docs/img/storage_config.png
  charts/stable/radarr/docs/img/storage_data_backups.png
  charts/stable/radarr/docs/img/storage_data_media.png
  charts/stable/radarr/docs/img/storage_data_nzb.png
  charts/stable/radarr/docs/img/storage_data_qbit.png
  charts/stable/radarr/docs/img/storage_data_syncthing.png
  charts/stable/radarr/docs/installation.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Update values.yaml
  charts/stable/cloudcommander/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update values.yaml
  charts/stable/nitter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/shlinkio/shlink 4.4.0 → 4.4.3
  charts/stable/shlink/Chart.yaml
  charts/stable/shlink/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update values.yaml
  charts/incubator/plant-it/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image quay.io/coderaiser/cloudcmd digest to 45cb2c0 (#31820)
  charts/stable/cloudcommander/Chart.yaml
  charts/stable/cloudcommander/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/shlinkio/shlink 4.4.0 → 4.4.3 (#31438)
  charts/stable/shlink/Chart.yaml
  charts/stable/shlink/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update values.yaml
  charts/stable/nitter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update values.yaml
  charts/incubator/plant-it/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update values.yaml
  charts/stable/nitter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update values.yaml
  charts/incubator/plant-it/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/msdeluise/plant-it-server 0.8.0 → 0.10.0 (#32123)
  charts/incubator/plant-it/Chart.yaml
  charts/incubator/plant-it/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update values.yaml
  charts/stable/nitter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update ct-install.yaml
  .github/ct-install.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/zedeus/nitter digest to 85d67c6 (#32060)
  .github/ct-install.yaml
  charts/stable/nitter/Chart.yaml
  charts/stable/nitter/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1443 → 0.22.1445
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image prometheus-operator 10.3.0 → 11.0.0 (clustertool)
  clustertool/embed/generic/kubernetes/system/prometheus-operator/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1443 → 0.22.1445 (#32287)
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image prometheus-operator 10.3.0 → 11.0.0 (clustertool) (#32288)
  clustertool/embed/generic/kubernetes/system/prometheus-operator/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

update
  charts/stable/radarr/docs/installation.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97
