Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

chore(helm): update image ghcr.io/stirling-tools/s-pdf 0.40.1 → 0.40.2 (#31651)
  charts/stable/stirling-pdf/Chart.yaml
  charts/stable/stirling-pdf/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/cglatot/pasta 1.6.4 → 1.6.6 (#31641)
  charts/stable/pasta/Chart.yaml
  charts/stable/pasta/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/n8nio/n8n 1.77.1 → 1.77.2 (#31645)
  charts/stable/n8n/Chart.yaml
  charts/stable/n8n/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/flowiseai/flowise 2.2.4 → 2.2.5 (#31643)
  charts/stable/flowise/Chart.yaml
  charts/stable/flowise/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/semaphoreui/semaphore v2.12.3 → v2.12.4 (#31648)
  charts/incubator/semaphore/Chart.yaml
  charts/incubator/semaphore/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update astro 5.2.3 → 5.2.5 (#31652)
  website/package-lock.json
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/discordgsm/discord-game-server-monitor 2.17.0 → 2.18.0 (#31655)
  charts/stable/discordgsm/Chart.yaml
  charts/stable/discordgsm/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/sonatype/nexus3 3.76.1 → 3.77.0 (#31656)
  charts/stable/nexus-oss/Chart.yaml
  charts/stable/nexus-oss/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/tailscale/tailscale v1.78.3 → v1.80.0 (#31657)
  charts/stable/tailscale/Chart.yaml
  charts/stable/tailscale/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(container): update golang docker tag to v1.23.6 (#31638)
  containers/apps/charts-ci/Dockerfile
  containers/apps/kube-sa-proxy/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

Add destinationPVC when volsync direct copy method is used
  .github/workflows/common-tests.yaml
  charts/library/common-test/ci/volsync-dest-direct-values.yaml
  charts/library/common-test/ci/volsync-dest-values.yaml
  charts/library/common-test/ci/volsync-src-direct-values.yaml
  charts/library/common/templates/class/volsync/_replicationDestination.tpl
Owners: @privatepuffin, @stavros-k

Add destinationPVC when volsync direct copy method is used
  .github/workflows/common-tests.yaml
  charts/library/common-test/ci/volsync-dest-direct-values.yaml
  charts/library/common-test/ci/volsync-dest-values.yaml
  charts/library/common-test/ci/volsync-src-direct-values.yaml
  charts/library/common-test/tests/volsync/replication_dest_spec_test.yaml
  charts/library/common/templates/class/volsync/_replicationDestination.tpl
Owners: @privatepuffin, @stavros-k

chore(helm): update image chronograf digest to 7ab2cf1
  charts/stable/chronograf/Chart.yaml
  charts/stable/chronograf/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/automaticrippingmachine/automatic-ripping-machine digest to 0b86718
  charts/stable/automatic-ripping-machine/Chart.yaml
  charts/stable/automatic-ripping-machine/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/coderaiser/cloudcmd digest to ac96b06
  charts/stable/cloudcommander/Chart.yaml
  charts/stable/cloudcommander/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to ee74883
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/escaping/core-keeper-dedicated digest to bb7ad5b
  charts/stable/core-keeper-dedicated-server/Chart.yaml
  charts/stable/core-keeper-dedicated-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/foldingathome digest to 44e37dc
  charts/stable/foldingathome/Chart.yaml
  charts/stable/foldingathome/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/lazylibrarian digest to 6b2cc63
  charts/stable/lazylibrarian/Chart.yaml
  charts/stable/lazylibrarian/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to f2d546f
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/mintplex-labs/anything-llm digest to a7d3af9
  charts/stable/anything-llm/Chart.yaml
  charts/stable/anything-llm/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/calibre-web digest to e45459f
  charts/stable/calibre-web/Chart.yaml
  charts/stable/calibre-web/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image redmine digest to 66f08e8
  charts/stable/redmine/Chart.yaml
  charts/stable/redmine/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.10 → 23.3.11
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(flux): update image prometheus-operator 10.2.1 → 10.2.2 (clustertool)
  clustertool/embed/generic/kubernetes/system/prometheus-operator/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update chart clickhouse 15.0.1 → 15.0.2
  charts/stable/plausible/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/automaticrippingmachine/automatic-ripping-machine 2.10.3 → 2.10.5
  charts/stable/automatic-ripping-machine/Chart.yaml
  charts/stable/automatic-ripping-machine/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/bitnami/memcached 1.6.35 → 1.6.36
  charts/stable/memcached/Chart.yaml
  charts/stable/memcached/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/doitandbedone/ispyagentdvr 6.0.6.0 → 6.0.8.0
  charts/stable/ispy-agent-dvr/Chart.yaml
  charts/stable/ispy-agent-dvr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/gitea/gitea 1.23.1 → 1.23.2
  charts/stable/gitea/Chart.yaml
  charts/stable/gitea/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/gotson/komga 1.19.0 → 1.19.1
  charts/stable/komga/Chart.yaml
  charts/stable/komga/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ipfs/kubo v0.33.0 → v0.33.1
  charts/stable/ipfs/Chart.yaml
  charts/stable/ipfs/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1368 → 0.22.1372
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/ellite/wallos 2.45.1 → 2.45.2
  charts/stable/wallos/Chart.yaml
  charts/stable/wallos/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/advplyr/audiobookshelf 2.18.1 → 2.19.0
  charts/stable/audiobookshelf/Chart.yaml
  charts/stable/audiobookshelf/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/homeassistant/home-assistant 2025.1.4 → 2025.2.0
  charts/stable/home-assistant/Chart.yaml
  charts/stable/home-assistant/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jenkins/jenkins 2.495 → 2.496
  charts/stable/jenkins/Chart.yaml
  charts/stable/jenkins/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jorenn92/maintainerr 2.8.0 → 2.9.0
  charts/stable/maintainerr/Chart.yaml
  charts/stable/maintainerr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/misskey/misskey 2025.1.0 → 2025.2.0
  charts/stable/misskey/Chart.yaml
  charts/stable/misskey/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/onlyoffice/documentserver 8.2.2 → 8.3.0
  charts/stable/onlyoffice-document-server/Chart.yaml
  charts/stable/onlyoffice-document-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97
