Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

chore(helm): update image docker.io/accetto/ubuntu-vnc-xfce-firefox-g3 digest to 6130d9a (#31843)
  charts/stable/firefox-desktop-g3/Chart.yaml
  charts/stable/firefox-desktop-g3/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/alpine/socat digest to e899028 (#31844)
  charts/stable/emby/Chart.yaml
  charts/stable/emby/values.yaml
  charts/stable/jellyfin/Chart.yaml
  charts/stable/jellyfin/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/josh5/steam-headless digest to 16a0697 (#31849)
  charts/stable/steam-headless/Chart.yaml
  charts/stable/steam-headless/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/cthulhoo/ttrss-web-nginx digest to 997301a (#31847)
  charts/stable/tt-rss/Chart.yaml
  charts/stable/tt-rss/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/thelounge/thelounge digest to a7ce220 (#31853)
  charts/stable/thelounge/Chart.yaml
  charts/stable/thelounge/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/alexta69/metube 2025-01-27 → 2025-02-07 (#31860)
  charts/stable/metube/Chart.yaml
  charts/stable/metube/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/iyuucn/iyuuplus digest to b5a6fb2 (#31848)
  charts/stable/iyuuplus/Chart.yaml
  charts/stable/iyuuplus/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2023-10-31 → 2023-12-25 (minor) (#31840)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/suwayomi/tachidesk digest to 33bebec (#31855)
  charts/stable/tachidesk-docker/Chart.yaml
  charts/stable/tachidesk-docker/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/searxng/searxng digest to e22d861 (#31852)
  charts/stable/searxng/Chart.yaml
  charts/stable/searxng/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/metabase/metabase v0.52.9 → v0.53.1 (#31861)
  charts/stable/metabase/Chart.yaml
  charts/stable/metabase/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/plexripper/plexripper digest to b59624e (#31851)
  charts/stable/plexripper/Chart.yaml
  charts/stable/plexripper/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/automaticrippingmachine/automatic-ripping-machine digest to 77b52e2 (#31845)
  charts/stable/automatic-ripping-machine/Chart.yaml
  charts/stable/automatic-ripping-machine/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/tvheadend digest to 4ea27c5 (#31854)
  charts/stable/tvheadend/Chart.yaml
  charts/stable/tvheadend/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/slskd/slskd 0.22.1 → 0.22.2 (#31859)
  charts/incubator/slskd/Chart.yaml
  charts/incubator/slskd/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/prowlarr-develop 1.30.2.4939 → 1.31.0.4941 (#31862)
  charts/stable/prowlarr/Chart.yaml
  charts/stable/prowlarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update nextcloud (#31856)
  charts/premium/nextcloud/Chart.yaml
  charts/premium/nextcloud/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

should only work if an ingress is enabled
  charts/library/common-test/tests/traefik/enabled_test.yaml
  charts/library/common/templates/spawner/traefik/_middleware.tpl
Owners: @privatepuffin, @stavros-k

add one more test
  charts/library/common-test/tests/traefik/enabled_test.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update jupyter 2023-10-31 → 2025-02-03 (major) (#31863)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/mbentley/omada-controller digest to d88c890 (#31850)
  charts/stable/omada-controller/Chart.yaml
  charts/stable/omada-controller/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): fix news sidebar
  website/src/content/config.ts
  website/src/content/docs/news/2025-01-30-2025-start.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

feat(common): enable middlewares when referenced on ingress and add chart+common middlewares (#31535)
  charts/library/common-test/Chart.yaml
  charts/library/common-test/tests/ingress/traefik_test.yaml
  charts/library/common-test/tests/traefik/enabled_test.yaml
  charts/library/common-test/values.yaml
  charts/library/common/Chart.yaml
  charts/library/common/templates/lib/ingress/integrations/_traefik.tpl
  charts/library/common/templates/spawner/traefik/_middleware.tpl
  charts/library/common/values.yaml
  website/src/content/docs/common/global.md
  website/src/content/docs/common/ingress/traefik.md
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(clustertool) change included patch format and add nvidia patch (#31813)
  clustertool/embed/generic/patches/all.yaml
  clustertool/embed/generic/patches/controlplane.yaml
  clustertool/embed/generic/patches/nvidia.yaml
  clustertool/embed/generic/patches/worker.yaml
Owners: @privatepuffin, @stavros-k

feat(common): include dependencies as a common-subtree
  charts/library/common/templates/values/_init.tpl
Owners: @privatepuffin, @stavros-k

blacklist certain options
  charts/library/common/templates/values/_init.tpl
Owners: @privatepuffin, @stavros-k

spaces
  charts/library/common/templates/values/_init.tpl
Owners: @privatepuffin, @stavros-k

take enabled tpl into account
  charts/library/common/templates/values/_init.tpl
Owners: @privatepuffin, @stavros-k

Update charts/library/common/templates/values/_init.tpl
  charts/library/common/templates/values/_init.tpl
Owners: @privatepuffin, @stavros-k

Update charts/library/common/templates/values/_init.tpl
  charts/library/common/templates/values/_init.tpl
Owners: @privatepuffin, @stavros-k

Update Chart.yaml
  charts/library/common/Chart.yaml
Owners: @privatepuffin, @stavros-k

Update Chart.yaml
  charts/library/common-test/Chart.yaml
Owners: @privatepuffin, @stavros-k

feat(common): BREAKING CHANGE disable traefik integration by default
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

feat(nextcloud): prep nextcloud ingress for new common
  charts/premium/nextcloud/Chart.yaml
  charts/premium/nextcloud/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

feat(common): include dependencies as a common-subtree (#31534)
  charts/library/common-test/Chart.yaml
  charts/library/common/Chart.yaml
  charts/library/common/templates/values/_init.tpl
Owners: @privatepuffin, @stavros-k

feat(common): BREAKING CHANGE disable traefik integration by default (#31865)
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/cthulhoo/ttrss-fpm-pgsql-static digest to 195c7bb
  charts/stable/tt-rss/Chart.yaml
  charts/stable/tt-rss/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/renovate/renovate 39.164.0 → 39.164.1
  charts/stable/renovate/Chart.yaml
  charts/stable/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1382 → 0.22.1391
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/cthulhoo/ttrss-fpm-pgsql-static digest to 195c7bb (#31846)
  charts/stable/tt-rss/Chart.yaml
  charts/stable/tt-rss/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97
