Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix tests and only set automountSAToken to the selected workloads
  charts/library/common-test/tests/addons/tailscale_test.yaml
  charts/library/common/templates/addons/_tailscale.tpl
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

update getting started guide
  website/src/content/docs/clustertool/getting-started.md
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

sdwebui stable
  charts/stable/sd-webui/.helmignore
  charts/stable/sd-webui/CHANGELOG.md
  charts/stable/sd-webui/Chart.yaml
  charts/stable/sd-webui/README.md
  charts/stable/sd-webui/templates/NOTES.txt
  charts/stable/sd-webui/templates/common.yaml
  charts/stable/sd-webui/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

move manyfold to stable
  charts/stable/manyfold/.helmignore
  charts/stable/manyfold/CHANGELOG.md
  charts/stable/manyfold/Chart.yaml
  charts/stable/manyfold/README.md
  charts/stable/manyfold/icon-small.webp
  charts/stable/manyfold/icon.webp
  charts/stable/manyfold/templates/NOTES.txt
  charts/stable/manyfold/templates/_secrets.tpl
  charts/stable/manyfold/templates/common.yaml
  charts/stable/manyfold/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

f
  charts/stable/manyfold/Chart.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

removed links to removed docs
  website/src/content/docs/news/2024-07-25-clustertool-public-beta.md
  website/src/content/docs/news/2024-08-22-scale-faq.md
  website/src/content/docs/news/2024-10-27-leaving-scale.md
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

f
  website/src/content/docs/news/2024-10-16-news.md
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(docs): update clustertool section (#32469)
  website/src/content/docs/clustertool/commands/adv/index.md
  website/src/content/docs/clustertool/commands/adv/precommit.md
  website/src/content/docs/clustertool/commands/adv/test.md
  website/src/content/docs/clustertool/csi/ceph.md
  website/src/content/docs/clustertool/csi/democratic.md
  website/src/content/docs/clustertool/csi/index.md
  website/src/content/docs/clustertool/csi/longhorn.md
  website/src/content/docs/clustertool/csi/nfs.md
  website/src/content/docs/clustertool/csi/openebs.md
  website/src/content/docs/clustertool/csi/smb.md
  website/src/content/docs/clustertool/csi/topolvm.md
  website/src/content/docs/clustertool/files-folders.md
  website/src/content/docs/clustertool/getting-started.md
  website/src/content/docs/clustertool/index.md
  website/src/content/docs/clustertool/migrations/scale.md
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(charts): move to stable (#32468)
  charts/stable/manyfold/.helmignore
  charts/stable/manyfold/CHANGELOG.md
  charts/stable/manyfold/Chart.yaml
  charts/stable/manyfold/README.md
  charts/stable/manyfold/icon-small.webp
  charts/stable/manyfold/icon.webp
  charts/stable/manyfold/templates/NOTES.txt
  charts/stable/manyfold/templates/_secrets.tpl
  charts/stable/manyfold/templates/common.yaml
  charts/stable/manyfold/values.yaml
  charts/stable/sd-webui/.helmignore
  charts/stable/sd-webui/CHANGELOG.md
  charts/stable/sd-webui/Chart.yaml
  charts/stable/sd-webui/README.md
  charts/stable/sd-webui/templates/NOTES.txt
  charts/stable/sd-webui/templates/common.yaml
  charts/stable/sd-webui/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Commit daily changes
  charts/stable/broadcast-box/README.md
  charts/stable/cannery/README.md
  charts/stable/comet/README.md
  charts/stable/docuseal/README.md
  charts/stable/flashpaper/Chart.yaml
  charts/stable/flashpaper/README.md
  charts/stable/gatus/README.md
  charts/stable/kapowarr/README.md
  charts/stable/lyrion-music-server/README.md
  charts/stable/manyfold/README.md
  charts/stable/mixpost/README.md
  charts/stable/pairdrop/README.md
  charts/stable/peppermint/README.md
  charts/stable/pingvin-share/README.md
  charts/stable/plant-it/README.md
  charts/stable/prometheus-pve-exporter/README.md
  charts/stable/ps3netsrv/README.md
  charts/stable/riven/README.md
  charts/stable/sd-webui/README.md
  charts/stable/semaphore/README.md
  charts/stable/slskd/README.md
  charts/stable/teslamate/README.md
  charts/stable/victoriametrics/README.md
  charts/stable/wdosg/README.md
  charts/stable/wisemapping/README.md
  charts/stable/zilean/README.md
  charts/stable/zurg/README.md
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/zedeus/nitter digest to 3c4e606
  charts/stable/nitter/Chart.yaml
  charts/stable/nitter/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.28 → 23.3.29
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image ghcr.io/itzg/minecraft-server 2025.2.0 → 2025.2.1
  charts/stable/minecraft-java/Chart.yaml
  charts/stable/minecraft-java/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/speedtest-tracker 1.2.4 → 1.2.5
  charts/stable/speedtest-tracker/Chart.yaml
  charts/stable/speedtest-tracker/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2025-02-22 → 2025-02-23
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.28 → 23.3.29 (#32472)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image ghcr.io/linuxserver/speedtest-tracker 1.2.4 → 1.2.5 (#32474)
  charts/stable/speedtest-tracker/Chart.yaml
  charts/stable/speedtest-tracker/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/zedeus/nitter digest to 3c4e606 (#32471)
  charts/stable/nitter/Chart.yaml
  charts/stable/nitter/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/itzg/minecraft-server 2025.2.0 → 2025.2.1 (#32473)
  charts/stable/minecraft-java/Chart.yaml
  charts/stable/minecraft-java/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2025-02-22 → 2025-02-23 (patch) (#32475)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(flux): update image minecraft-java 22.12.8 → 22.12.11
  clusters/main/kubernetes/apps/minecraft/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update jupyter 2025-02-23 → 2025-02-24
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(flux): update image minecraft-java 22.12.8 → 22.12.11 (#32476)
  clusters/main/kubernetes/apps/minecraft/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update jupyter 2025-02-23 → 2025-02-24 (patch) (#32477)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

limit codeserver to 1 workload
  charts/library/common-test/tests/addons/codeserver_test.yaml
  charts/library/common/templates/addons/_codeserver.tpl
Owners: @privatepuffin, @stavros-k

Update ct-install.yaml
  .github/ct-install.yaml
Owners: @privatepuffin, @stavros-k

fix(excluded-charts): Update ct-install.yaml (#32478)
  .github/ct-install.yaml
Owners: @privatepuffin, @stavros-k

push chart
  charts/incubator/.gitkeep
  charts/stable/mend-renovate/.helmignore
  charts/stable/mend-renovate/CHANGELOG.md
  charts/stable/mend-renovate/Chart.yaml
  charts/stable/mend-renovate/README.md
  charts/stable/mend-renovate/icon.png
  charts/stable/mend-renovate/templates/NOTES.txt
  charts/stable/mend-renovate/templates/common.yaml
  charts/stable/mend-renovate/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Update charts/stable/mend-renovate/Chart.yaml
  charts/stable/mend-renovate/Chart.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Update charts/stable/mend-renovate/Chart.yaml
  charts/stable/mend-renovate/Chart.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Update charts/stable/mend-renovate/Chart.yaml
  charts/stable/mend-renovate/Chart.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

stable not incubator
  charts/stable/mend-renovate/Chart.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

server port
  charts/stable/mend-renovate/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

add ""
  charts/stable/mend-renovate/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

feat(mend-renovate): Add chart (#32479)
  charts/incubator/.gitkeep
  charts/stable/mend-renovate/.helmignore
  charts/stable/mend-renovate/CHANGELOG.md
  charts/stable/mend-renovate/Chart.yaml
  charts/stable/mend-renovate/README.md
  charts/stable/mend-renovate/icon.png
  charts/stable/mend-renovate/templates/NOTES.txt
  charts/stable/mend-renovate/templates/common.yaml
  charts/stable/mend-renovate/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Update values.yaml
  charts/stable/mend-renovate/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Update Chart.yaml
  charts/stable/mend-renovate/Chart.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(mend-renovate): add protocol and securityContext (#32480)
  charts/stable/mend-renovate/Chart.yaml
  charts/stable/mend-renovate/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

feat(common): Allow configuring default topologyKey (#32461)
  charts/library/common-test/Chart.yaml
  charts/library/common-test/tests/pod/topologySpreadConstraints.yaml
  charts/library/common/Chart.yaml
  charts/library/common/templates/lib/pod/_topologySpreadConstraints .tpl
  charts/library/common/values.yaml
  website/src/content/docs/common/fallbackDefaults.md
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/automaticrippingmachine/automatic-ripping-machine digest to cc1251d
  charts/stable/automatic-ripping-machine/Chart.yaml
  charts/stable/automatic-ripping-machine/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

.github/CODEOWNERS:

# Default code owners
*                         @truecharts/core-team @privatepuffin @stavros-k @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**        @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md        @privatepuffin @stavros-k @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
