Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

chore(helm): update image docker.io/renovate/renovate 39.164.0 → 39.168.1
  charts/stable/renovate/Chart.yaml
  charts/stable/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.18 → 23.3.19 (#31998)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(flux): update image blocky 16.13.4 → 16.13.5 (clustertool) (#31997)
  clustertool/embed/generic/kubernetes/core/blocky/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image ghcr.io/meeb/tubesync digest to 3f364e4 (#31996)
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/manyfold3d/manyfold 0.100.0 → 0.100.1 (#31999)
  charts/incubator/manyfold/Chart.yaml
  charts/incubator/manyfold/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/plex 1.41.3.9314-a0bfb8370 → 1.41.4.9463-630c9f557 (#32000)
  charts/stable/plex/Chart.yaml
  charts/stable/plex/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image quay.io/netdata/netdata v2.2.4 → v2.2.5 (#32001)
  charts/stable/netdata/Chart.yaml
  charts/stable/netdata/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2025-02-11 → 2025-02-12 (patch) (#32002)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update astro 5.2.5 → 5.2.6 (#32003)
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix seafile 12 update
  charts/stable/seafile/Chart.yaml
  charts/stable/seafile/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image registry.k8s.io/kubectl v1.32.1 → v1.32.2 (clustertool)
  clustertool/embed/generic/kubernetes/system/system-upgrade-controller/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/sourcegraph/server 6.0.0 → 6.0.2687
  charts/stable/sourcegraph/Chart.yaml
  charts/stable/sourcegraph/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(deps): update module helm.sh/helm/v3 v3.17.0 → v3.17.1 (clustertool)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k

chore(flux): update image registry.k8s.io/kubectl v1.32.1 → v1.32.2 (clustertool) (#32007)
  clustertool/embed/generic/kubernetes/system/system-upgrade-controller/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

fix(deps): update module helm.sh/helm/v3 v3.17.0 → v3.17.1 (clustertool) (#32009)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k

chore(helm): update jupyter (#32006)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/sourcegraph/server 6.0.0 → 6.0.2687 (#32008)
  charts/stable/sourcegraph/Chart.yaml
  charts/stable/sourcegraph/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/renovate/renovate 39.164.0 → 39.169.3
  charts/stable/renovate/Chart.yaml
  charts/stable/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(deps): update ghcr.io/siderolabs/kubelet docker tag to v1.32.2 (clustertool)
  clustertool/embed/generic/base/talos/talconfig.yaml
  clustertool/embed/generic/kubernetes/flux-system/flux/upgradesettings.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update chart cert-manager v1.17.0 → v1.17.1
  charts/system/cert-manager/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1411 → 0.22.1421
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1411 → 0.22.1421 (#32014)
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update Chart.yaml
  charts/system/cert-manager/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update helm release cilium 1.17.0 → 1.17.1 (clustertool)
  clustertool/embed/generic/kubernetes/kube-system/cilium/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image public.ecr.aws/bitnami/wordpress 6.7.1 → 6.7.2
  charts/stable/wordpress/Chart.yaml
  charts/stable/wordpress/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(deps): update ghcr.io/siderolabs/kubelet docker tag to v1.32.2 (clustertool) (#32011)
  clustertool/embed/generic/base/talos/talconfig.yaml
  clustertool/embed/generic/kubernetes/flux-system/flux/upgradesettings.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update helm release cilium 1.17.0 → 1.17.1 (clustertool) (#32012)
  clustertool/embed/generic/kubernetes/kube-system/cilium/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update chart cert-manager v1.17.0 → v1.17.1 (#32013)
  charts/system/cert-manager/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/wordpress 6.7.1 → 6.7.2 (#32015)
  charts/stable/wordpress/Chart.yaml
  charts/stable/wordpress/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update values.yaml
  charts/stable/sinusbot/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update Chart.yaml
  charts/stable/sinusbot/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update golangci/golangci-lint-action digest to e0ebdd2
  .github/workflows/clustertool.golangci-lint.yaml
Owners: @privatepuffin, @stavros-k

chore(deps): update ghcr.io/siderolabs/installer docker tag to v1.9.4 (clustertool)
  clustertool/embed/generic/base/talos/talconfig.yaml
  clustertool/embed/generic/kubernetes/flux-system/flux/upgradesettings.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image jackett 23.3.19 → 23.3.20
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

fix(deps): update kubernetes packages v0.32.1 → v0.32.2 (clustertool)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k

fix(website): update astro 5.2.5 → 5.3.0
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(website): update prettier 3.4.2 → 3.5.1
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(github-action): update golangci/golangci-lint-action digest to e0ebdd2 (#32017)
  .github/workflows/clustertool.golangci-lint.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image jackett 23.3.19 → 23.3.20 (#32019)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin
