Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

chore(helm): update image docker.io/doitandbedone/ispyagentdvr 6.1.6.0 → 6.1.8.0 (#32209)
  charts/stable/ispy-agent-dvr/Chart.yaml
  charts/stable/ispy-agent-dvr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/metabase/metabase v0.53.2 → v0.53.3 (#32211)
  charts/stable/metabase/Chart.yaml
  charts/stable/metabase/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/homebridge/homebridge 2025-02-15 → 2025-02-16 (#32210)
  charts/stable/homebridge/Chart.yaml
  charts/stable/homebridge/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/bizmodeller/mymediaforalexa 1.3.152.0 → 1.3.152.1 (#32208)
  charts/stable/mymediaforalexa/Chart.yaml
  charts/stable/mymediaforalexa/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/anonaddy/anonaddy 1.3.0 → 1.3.1 (#32207)
  charts/stable/anonaddy/Chart.yaml
  charts/stable/anonaddy/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(container): update public.ecr.aws/docker/library/traefik:v3.3.3 docker digest to 19884a9
  containers/apps/traefik/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(github-action): update azure/setup-helm digest to b9e5190
  .github/workflows/charts-lint.yaml
  .github/workflows/charts-release.yaml
  .github/workflows/charts-test.yaml
  .github/workflows/common-tests.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/diygod/rsshub digest to 119c11f
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/machines/filestash digest to 9ed5552
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/babybuddy digest to 50eb27c
  charts/stable/babybuddy/Chart.yaml
  charts/stable/babybuddy/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/ddclient digest to ccd4fd7
  charts/stable/ddclient/Chart.yaml
  charts/stable/ddclient/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/duckdns digest to b2ce677
  charts/stable/duckdns/Chart.yaml
  charts/stable/duckdns/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/filezilla digest to 47647b4
  charts/stable/filezilla/Chart.yaml
  charts/stable/filezilla/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/foldingathome digest to b18ca7a
  charts/stable/foldingathome/Chart.yaml
  charts/stable/foldingathome/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/lazylibrarian digest to 62fd836
  charts/stable/lazylibrarian/Chart.yaml
  charts/stable/lazylibrarian/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/tvheadend digest to 39bcc2f
  charts/stable/tvheadend/Chart.yaml
  charts/stable/tvheadend/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/mintplex-labs/anything-llm digest to db45b3f
  charts/stable/anything-llm/Chart.yaml
  charts/stable/anything-llm/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/qbittorrent digest to a84f7f2
  charts/stable/qbittorrent/Chart.yaml
  charts/stable/qbittorrent/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/sonarr digest to b9f76d8
  charts/stable/sonarr/Chart.yaml
  charts/stable/sonarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/calibre-web digest to fa19a5c
  charts/stable/calibre-web/Chart.yaml
  charts/stable/calibre-web/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/cops digest to 713d6c5
  charts/stable/cops/Chart.yaml
  charts/stable/cops/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update azure/setup-helm digest to b9e5190 (#32230)
  .github/workflows/charts-lint.yaml
  .github/workflows/charts-release.yaml
  .github/workflows/charts-test.yaml
  .github/workflows/common-tests.yaml
Owners: @privatepuffin, @stavros-k

chore(container): update public.ecr.aws/docker/library/traefik:v3.3.3 docker digest to 19884a9 (#32229)
  containers/apps/traefik/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

Update website/src/content/docs/development/contibuting-example.md
  website/src/content/docs/development/contibuting-example.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to 119c11f (#32112)
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/machines/filestash digest to 9ed5552 (#32114)
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/foldingathome digest to b18ca7a (#32236)
  charts/stable/foldingathome/Chart.yaml
  charts/stable/foldingathome/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/duckdns digest to b2ce677 (#32234)
  charts/stable/duckdns/Chart.yaml
  charts/stable/duckdns/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/babybuddy digest to 50eb27c (#32231)
  charts/stable/babybuddy/Chart.yaml
  charts/stable/babybuddy/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/lazylibrarian digest to 62fd836 (#32237)
  charts/stable/lazylibrarian/Chart.yaml
  charts/stable/lazylibrarian/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/filezilla digest to 47647b4 (#32235)
  charts/stable/filezilla/Chart.yaml
  charts/stable/filezilla/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/ddclient digest to ccd4fd7 (#32232)
  charts/stable/ddclient/Chart.yaml
  charts/stable/ddclient/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/cops digest to 713d6c5 (#32242)
  charts/stable/cops/Chart.yaml
  charts/stable/cops/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/qbittorrent digest to a84f7f2 (#32239)
  charts/stable/qbittorrent/Chart.yaml
  charts/stable/qbittorrent/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/tvheadend digest to 39bcc2f (#32238)
  charts/stable/tvheadend/Chart.yaml
  charts/stable/tvheadend/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter (#32243)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/sonarr digest to b9f76d8 (#32240)
  charts/stable/sonarr/Chart.yaml
  charts/stable/sonarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/mintplex-labs/anything-llm digest to db45b3f (#32115)
  charts/stable/anything-llm/Chart.yaml
  charts/stable/anything-llm/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/calibre-web digest to fa19a5c (#32241)
  charts/stable/calibre-web/Chart.yaml
  charts/stable/calibre-web/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97
