Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

chore(helm): update image ghcr.io/linuxserver/davos digest to 130266b (#31756)
  charts/stable/davos/Chart.yaml
  charts/stable/davos/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/automaticrippingmachine/automatic-ripping-machine digest to 7c65476 (#31815)
  charts/stable/automatic-ripping-machine/Chart.yaml
  charts/stable/automatic-ripping-machine/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/dtjs48jkt/twonkyserver digest to 9797ac9 (#31817)
  charts/stable/twonky-server/Chart.yaml
  charts/stable/twonky-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/factoriotools/factorio digest to b7968be (#31818)
  charts/stable/factorio/Chart.yaml
  charts/stable/factorio/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/testdasi/simple-dns-doh digest to 44ce837 (#31819)
  charts/stable/dns-doh-companion/Chart.yaml
  charts/stable/dns-doh-companion/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image quay.io/jupyter/base-notebook digest to 979ba51 (#31823)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image quay.io/netdata/netdata digest to 13810e6 (#31830)
  charts/stable/netdata/Chart.yaml
  charts/stable/netdata/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image quay.io/fjudith/pwm digest to 5842a0b (#31821)
  charts/stable/pwm/Chart.yaml
  charts/stable/pwm/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image quay.io/sinusbot/docker digest to 225e1f0 (#31831)
  charts/stable/sinusbot/Chart.yaml
  charts/stable/sinusbot/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/nocodb/nocodb 0.260.5 → 0.260.6 (#31832)
  charts/stable/nocodb/Chart.yaml
  charts/stable/nocodb/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ronivay/xen-orchestra 5.169.1 → 5.170.0 (#31833)
  charts/stable/xen-orchestra/Chart.yaml
  charts/stable/xen-orchestra/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/alertmanager digest to a28f966 (#31801)
  charts/premium/prometheus/Chart.yaml
  charts/premium/prometheus/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/matomo digest to 011e644 (#31803)
  charts/stable/matomo/Chart.yaml
  charts/stable/matomo/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/mariadb digest to dd4f10f (#31802)
  charts/stable/mariadb/Chart.yaml
  charts/stable/mariadb/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.14 → 23.3.15 (#31811)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image public.ecr.aws/bitnami/memcached digest to 6f93688 (#31804)
  charts/stable/memcached/Chart.yaml
  charts/stable/memcached/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/prometheus digest to a282956 (#31805)
  charts/premium/prometheus/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/solr digest to 76999da (#31807)
  charts/stable/solr/Chart.yaml
  charts/stable/solr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/redis digest to f3caa41 (#31806)
  charts/stable/redis/Chart.yaml
  charts/stable/redis/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/wordpress digest to ca3a33b (#31808)
  charts/stable/wordpress/Chart.yaml
  charts/stable/wordpress/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image tccr.io/tccr/openvpn-client digest to 9bfdf50 (#31810)
  charts/library/common/Chart.yaml
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

Update customVersioning.json5
  .github/renovate/special/customVersioning.json5
Owners: @privatepuffin, @stavros-k

Update groups.json5
  .github/renovate/special/groups.json5
Owners: @privatepuffin, @stavros-k

Update helm-release.yaml
  clusters/main/kubernetes/apps/renovate/app/helm-release.yaml
Owners: @privatepuffin

whisparr-fix
  .github/renovate/special/customVersioning.json5
Owners: @privatepuffin, @stavros-k

Update customVersioning.json5
  .github/renovate/special/customVersioning.json5
Owners: @privatepuffin, @stavros-k

Update main.json5
  .github/renovate/main.json5
Owners: @privatepuffin, @stavros-k

add it-tools
  .github/renovate/special/customVersioning.json5
Owners: @privatepuffin, @stavros-k

chore(renovate): add special regex for it-tools and whisparr (#31834)
  .github/renovate/special/customVersioning.json5
Owners: @privatepuffin, @stavros-k

chore(helm): update image tccr.io/tccr/nextcloud-fpm digest to 56f76f4 (#31809)
  charts/premium/nextcloud/Chart.yaml
  charts/premium/nextcloud/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update chart mariadb 15.8.1 → 15.8.2
  charts/incubator/mixpost/Chart.yaml
  charts/incubator/plant-it/Chart.yaml
  charts/stable/anonaddy/Chart.yaml
  charts/stable/bookstack/Chart.yaml
  charts/stable/chevereto/Chart.yaml
  charts/stable/clarkson/Chart.yaml
  charts/stable/ctfd/Chart.yaml
  charts/stable/fleet/Chart.yaml
  charts/stable/friendica/Chart.yaml
  charts/stable/gaseous-server/Chart.yaml
  charts/stable/humhub/Chart.yaml
  charts/stable/matomo/Chart.yaml
  charts/stable/monica/Chart.yaml
  charts/stable/nginx-proxy-manager/Chart.yaml
  charts/stable/observium/Chart.yaml
  charts/stable/photoprism/Chart.yaml
  charts/stable/piwigo/Chart.yaml
  charts/stable/projectsend/Chart.yaml
  charts/stable/romm/Chart.yaml
  charts/stable/seafile/Chart.yaml
  charts/stable/servas/Chart.yaml
  charts/stable/tsn-ranksystem/Chart.yaml
  charts/stable/wordpress/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update chart memcached 14.5.3 → 14.5.4
  charts/stable/gitea/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update chart redis 15.6.2 → 15.6.3
  charts/incubator/manyfold/Chart.yaml
  charts/incubator/mixpost/Chart.yaml
  charts/incubator/plant-it/Chart.yaml
  charts/premium/authelia/Chart.yaml
  charts/premium/blocky/Chart.yaml
  charts/premium/nextcloud/Chart.yaml
  charts/stable/anonaddy/Chart.yaml
  charts/stable/authentik/Chart.yaml
  charts/stable/baserow/Chart.yaml
  charts/stable/ctfd/Chart.yaml
  charts/stable/etesync/Chart.yaml
  charts/stable/fireflyiii/Chart.yaml
  charts/stable/friendica/Chart.yaml
  charts/stable/ghostfolio/Chart.yaml
  charts/stable/hasty-paste/Chart.yaml
  charts/stable/humhub/Chart.yaml
  charts/stable/immich/Chart.yaml
  charts/stable/misskey/Chart.yaml
  charts/stable/n8n/Chart.yaml
  charts/stable/nitter/Chart.yaml
  charts/stable/nocodb/Chart.yaml
  charts/stable/onlyoffice-document-server/Chart.yaml
  charts/stable/outline/Chart.yaml
  charts/stable/paperless-ngx/Chart.yaml
  charts/stable/papermerge/Chart.yaml
  charts/stable/romm/Chart.yaml
  charts/stable/rsshub/Chart.yaml
  charts/stable/send/Chart.yaml
  charts/stable/shlink/Chart.yaml
  charts/stable/speedtest-tracker/Chart.yaml
  charts/stable/vikunja/Chart.yaml
  charts/stable/weblate/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/hotio/whisparr v3-3.0.0.621 → v3-3.0.0.786
  charts/stable/whisparr/Chart.yaml
  charts/stable/whisparr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2023-10-20 → 2023-10-31
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

switch image to ghcr
  charts/stable/it-tools/Chart.yaml
  charts/stable/it-tools/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update chart memcached 14.5.3 → 14.5.4 (#31836)
  charts/stable/gitea/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update chart mariadb 15.8.1 → 15.8.2 (#31835)
  charts/incubator/mixpost/Chart.yaml
  charts/incubator/plant-it/Chart.yaml
  charts/stable/anonaddy/Chart.yaml
  charts/stable/bookstack/Chart.yaml
  charts/stable/chevereto/Chart.yaml
  charts/stable/clarkson/Chart.yaml
  charts/stable/ctfd/Chart.yaml
  charts/stable/fleet/Chart.yaml
  charts/stable/friendica/Chart.yaml
  charts/stable/gaseous-server/Chart.yaml
  charts/stable/humhub/Chart.yaml
  charts/stable/matomo/Chart.yaml
  charts/stable/monica/Chart.yaml
  charts/stable/nginx-proxy-manager/Chart.yaml
  charts/stable/observium/Chart.yaml
  charts/stable/photoprism/Chart.yaml
  charts/stable/piwigo/Chart.yaml
  charts/stable/projectsend/Chart.yaml
  charts/stable/romm/Chart.yaml
  charts/stable/seafile/Chart.yaml
  charts/stable/servas/Chart.yaml
  charts/stable/tsn-ranksystem/Chart.yaml
  charts/stable/wordpress/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/hotio/whisparr v3-3.0.0.621 → v3-3.0.0.786 (#31838)
  charts/stable/whisparr/Chart.yaml
  charts/stable/whisparr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update chart redis 15.6.2 → 15.6.3 (#31837)
  charts/incubator/manyfold/Chart.yaml
  charts/incubator/mixpost/Chart.yaml
  charts/incubator/plant-it/Chart.yaml
  charts/premium/authelia/Chart.yaml
  charts/premium/blocky/Chart.yaml
  charts/premium/nextcloud/Chart.yaml
  charts/stable/anonaddy/Chart.yaml
  charts/stable/authentik/Chart.yaml
  charts/stable/baserow/Chart.yaml
  charts/stable/ctfd/Chart.yaml
  charts/stable/etesync/Chart.yaml
  charts/stable/fireflyiii/Chart.yaml
  charts/stable/friendica/Chart.yaml
  charts/stable/ghostfolio/Chart.yaml
  charts/stable/hasty-paste/Chart.yaml
  charts/stable/humhub/Chart.yaml
  charts/stable/immich/Chart.yaml
  charts/stable/misskey/Chart.yaml
  charts/stable/n8n/Chart.yaml
  charts/stable/nitter/Chart.yaml
  charts/stable/nocodb/Chart.yaml
  charts/stable/onlyoffice-document-server/Chart.yaml
  charts/stable/outline/Chart.yaml
  charts/stable/paperless-ngx/Chart.yaml
  charts/stable/papermerge/Chart.yaml
  charts/stable/romm/Chart.yaml
  charts/stable/rsshub/Chart.yaml
  charts/stable/send/Chart.yaml
  charts/stable/shlink/Chart.yaml
  charts/stable/speedtest-tracker/Chart.yaml
  charts/stable/vikunja/Chart.yaml
  charts/stable/weblate/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97
