Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

chore(helm): update image docker.io/tinymediamanager/tinymediamanager 5.1.1 → 5.1.2 (#32119)
  charts/stable/tinymediamanager/Chart.yaml
  charts/stable/tinymediamanager/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update astro 5.2.5 → 5.2.6 (#32122)
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix seafile 12 update
  charts/stable/seafile/Chart.yaml
  charts/stable/seafile/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update charts/stable/seafile/values.yaml
  charts/stable/seafile/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update values.yaml
  charts/stable/seafile/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update values.yaml
  charts/stable/seafile/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/suwayomi/tachidesk digest to 6e1c3d7
  charts/stable/tachidesk-docker/Chart.yaml
  charts/stable/tachidesk-docker/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update values.yaml
  charts/stable/seafile/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/suwayomi/tachidesk digest to 6e1c3d7 (#32127)
  charts/stable/tachidesk-docker/Chart.yaml
  charts/stable/tachidesk-docker/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.21 → 23.3.22
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

fix(deps): update module github.com/go-playground/validator/v10 v10.24.0 → v10.25.0 (clustertool)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k

fix(deps): update module github.com/spf13/cobra v1.8.1 → v1.9.0 (clustertool)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/linuxserver/transmission 4.0.6 → 2021.11.18
  charts/stable/transmission/Chart.yaml
  charts/stable/transmission/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/seafileltd/seafile-mc 11.0.13 → 12.0.9
  charts/stable/seafile/Chart.yaml
  charts/stable/seafile/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.21 → 23.3.22 (#32131)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

fix(deps): update module github.com/go-playground/validator/v10 v10.24.0 → v10.25.0 (clustertool) (#32133)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k

fix(deps): update module github.com/spf13/cobra v1.8.1 → v1.9.0 (clustertool) (#32134)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/jlesage/tsmuxer v24.12.1 → v25.02.1
  charts/stable/tsmuxer/Chart.yaml
  charts/stable/tsmuxer/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Updated docs
  charts/stable/seafile/docs/img/memcached_added.png
  charts/stable/seafile/docs/install-notes.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Update install-notes.md
  charts/stable/seafile/docs/install-notes.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Update install-notes.md
  charts/stable/seafile/docs/install-notes.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Delete charts/stable/seafile/docs/img/SeafileShell.png
  charts/stable/seafile/docs/img/SeafileShell.png
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Delete charts/stable/seafile/docs/img/SeafileSeafdavConf.png
  charts/stable/seafile/docs/img/SeafileSeafdavConf.png
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Delete charts/stable/seafile/docs/img/SeafilePod.png
  charts/stable/seafile/docs/img/SeafilePod.png
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(seafile): BREAKING CHANGE version 12 update (#32005)
  charts/stable/seafile/Chart.yaml
  charts/stable/seafile/docs/img/SeafilePod.png
  charts/stable/seafile/docs/img/SeafileSeafdavConf.png
  charts/stable/seafile/docs/img/SeafileShell.png
  charts/stable/seafile/docs/img/memcached_added.png
  charts/stable/seafile/docs/install-notes.md
  charts/stable/seafile/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/tsmuxer v24.12.1 → v25.02.1 (#32151)
  charts/stable/tsmuxer/Chart.yaml
  charts/stable/tsmuxer/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to e172e4a
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/dtjs48jkt/twonkyserver digest to 5bd7729
  charts/stable/twonky-server/Chart.yaml
  charts/stable/twonky-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/josh5/steam-headless digest to 408290e
  charts/stable/steam-headless/Chart.yaml
  charts/stable/steam-headless/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/machines/filestash digest to f7cba33
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/modem7/newyearcountdown digest to 74cc3f7
  charts/stable/newyearcountdownclock/Chart.yaml
  charts/stable/newyearcountdownclock/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ronivay/xen-orchestra digest to fd66f79
  charts/stable/xen-orchestra/Chart.yaml
  charts/stable/xen-orchestra/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/searxng/searxng digest to f9c07b2
  charts/stable/searxng/Chart.yaml
  charts/stable/searxng/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/serverlein/tsn-ranksystem-webserver digest to a1976b0
  charts/stable/tsn-ranksystem/Chart.yaml
  charts/stable/tsn-ranksystem/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/zedeus/nitter digest to b0c2cea
  charts/stable/nitter/Chart.yaml
  charts/stable/nitter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/hotio/cloudflareddns digest to 5a2b98c
  charts/stable/cloudflareddns/Chart.yaml
  charts/stable/cloudflareddns/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/hotio/rflood digest to 5000326
  charts/stable/rflood/Chart.yaml
  charts/stable/rflood/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/hotio/whisparr digest to fc622d7
  charts/stable/whisparr/Chart.yaml
  charts/stable/whisparr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/doublecommander digest to e4b6845
  charts/stable/doublecommander/Chart.yaml
  charts/stable/doublecommander/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/fleet digest to 21b65a3
  charts/stable/fleet/Chart.yaml
  charts/stable/fleet/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97
