Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

chore(helm): update image lscr.io/linuxserver/pyload-ng digest to a210a31 (#31561)
  charts/stable/pyload-ng/Chart.yaml
  charts/stable/pyload-ng/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update rdesktop (#31562)
  charts/stable/rdesktop/Chart.yaml
  charts/stable/rdesktop/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/brandawg93/peanut 5.0.2 → 5.1.0
  charts/stable/peanut/Chart.yaml
  charts/stable/peanut/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ghostfolio/ghostfolio 2.136.0 → 2.137.1
  charts/stable/ghostfolio/Chart.yaml
  charts/stable/ghostfolio/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/haveagitgat/tdarr 2.29.01 → 2.30.01
  charts/stable/tdarr/Chart.yaml
  charts/stable/tdarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/haveagitgat/tdarr_node 2.29.01 → 2.30.01
  charts/stable/tdarr-node/Chart.yaml
  charts/stable/tdarr-node/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/koenkk/zigbee2mqtt 2.0.0 → 2.1.0
  charts/stable/zigbee2mqtt/Chart.yaml
  charts/stable/zigbee2mqtt/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ronivay/xen-orchestra 5.168.1 → 5.169.1
  charts/stable/xen-orchestra/Chart.yaml
  charts/stable/xen-orchestra/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/lidarr 2.8.2.4493 → 2.9.6.4552
  charts/stable/lidarr/Chart.yaml
  charts/stable/lidarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/radarr 5.17.2.9580 → 5.18.4.9674
  charts/stable/radarr/Chart.yaml
  charts/stable/radarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image quay.io/kiwigrid/k8s-sidecar 1.29.1 → 1.30.0
  charts/premium/grafana/Chart.yaml
  charts/premium/grafana/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image renovate/renovate 39.146.1 → 39.156.1
  charts/incubator/renovate/Chart.yaml
  charts/incubator/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/b4bz/homer v24.12.1 → v25.02.1
  charts/stable/homer/Chart.yaml
  charts/stable/homer/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/seafileltd/seafile-mc 11.0.13 → 12.0.7
  charts/stable/seafile/Chart.yaml
  charts/stable/seafile/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/cloudnative-pg/postgis
  charts/library/common/Chart.yaml
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/lancachenet/lancache-dns digest to 6ecb9bd (#31543)
  charts/stable/lancache-dns/Chart.yaml
  charts/stable/lancache-dns/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(website): lock file maintenance
  website/package-lock.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/lancachenet/monolithic digest to 407a20b (#31544)
  charts/stable/lancache-monolithic/Chart.yaml
  charts/stable/lancache-monolithic/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/odoo digest to 493e5e2 (#31547)
  charts/stable/odoo/Chart.yaml
  charts/stable/odoo/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ronnieroller/media-roller digest to f75a013 (#31548)
  charts/stable/media-roller/Chart.yaml
  charts/stable/media-roller/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/nodered/node-red digest to 9492661 (#31546)
  charts/stable/node-red/Chart.yaml
  charts/stable/node-red/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/thelounge/thelounge digest to eb39291 (#31577)
  charts/stable/thelounge/Chart.yaml
  charts/stable/thelounge/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/hotio/cloudflareddns digest to 51e8638 (#31550)
  charts/stable/cloudflareddns/Chart.yaml
  charts/stable/cloudflareddns/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/tvheadend digest to 993b1a0 (#31578)
  charts/stable/tvheadend/Chart.yaml
  charts/stable/tvheadend/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/babybuddy digest to c802793 (#31551)
  charts/stable/babybuddy/Chart.yaml
  charts/stable/babybuddy/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/iyuucn/iyuuplus digest to 651227c (#31542)
  charts/stable/iyuuplus/Chart.yaml
  charts/stable/iyuuplus/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/piwigo digest to 4804c2b (#31557)
  charts/stable/piwigo/Chart.yaml
  charts/stable/piwigo/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/mysql-workbench digest to f68b5af (#31556)
  charts/stable/mysql-workbench/Chart.yaml
  charts/stable/mysql-workbench/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/requarks/wiki 2.5.305 → 2.5.306 (#31582)
  charts/stable/wikijs/Chart.yaml
  charts/stable/wikijs/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/bobokun/qbit_manage v4.1.15 → v4.1.16 (#31566)
  charts/stable/qbitmanage/Chart.yaml
  charts/stable/qbitmanage/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/metabase/metabase v0.52.8 → v0.52.9 (#31596)
  charts/stable/metabase/Chart.yaml
  charts/stable/metabase/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/vabene1111/recipes 1.5.30 → 1.5.31 (#31583)
  charts/stable/tandoor-recipes/Chart.yaml
  charts/stable/tandoor-recipes/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to 43f795e (#31558)
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/suwayomi/tachidesk digest to 49a3ece (#31580)
  charts/stable/tachidesk-docker/Chart.yaml
  charts/stable/tachidesk-docker/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image linuxserver/ombi digest to 074af33 (#31559)
  charts/stable/ombi/Chart.yaml
  charts/stable/ombi/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/koenkk/zigbee2mqtt 2.0.0 → 2.1.0 (#31588)
  charts/stable/zigbee2mqtt/Chart.yaml
  charts/stable/zigbee2mqtt/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image quay.io/kiwigrid/k8s-sidecar 1.29.1 → 1.30.0 (#31590)
  charts/premium/grafana/Chart.yaml
  charts/premium/grafana/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update chart memcached 14.5.1 → 14.5.2 (#31565)
  charts/stable/gitea/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/feramance/qbitrr v4.10.10 → v4.10.11 (#31581)
  charts/stable/qbitrr/Chart.yaml
  charts/stable/qbitrr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/n8nio/n8n 1.77.0 → 1.77.1 (#31597)
  charts/stable/n8n/Chart.yaml
  charts/stable/n8n/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97
