Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

chore(helm): update chart kube-prometheus-stack 68.5.0 → 69.3.2 (#32138)
  charts/premium/prometheus/Chart.yaml
  charts/system/prometheus-operator/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/stirling-tools/s-pdf 0.41.0 → 0.42.0 (#32252)
  charts/stable/stirling-pdf/Chart.yaml
  charts/stable/stirling-pdf/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/jdownloader-2 v24.12.1 → v25.02.1
  charts/stable/jdownloader2/Chart.yaml
  charts/stable/jdownloader2/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/filebot v24.12.1 → v25.02.1
  charts/stable/filebot/Chart.yaml
  charts/stable/filebot/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/handbrake v24.12.1 → v25.02.2
  charts/stable/handbrake/Chart.yaml
  charts/stable/handbrake/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/czkawka v24.12.1 → v25.02.1
  charts/stable/czkawka/Chart.yaml
  charts/stable/czkawka/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/avidemux v24.12.1 → v25.02.1
  charts/stable/avidemux/Chart.yaml
  charts/stable/avidemux/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/dpage/pgadmin4 8.14 → 9.0
  charts/stable/pgadmin/Chart.yaml
  charts/stable/pgadmin/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update starlight-blog 0.16.1 → 0.17.2
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(docs): first changes (#32228)
  website/src/content/docs/development/chart-structure.md
  website/src/content/docs/development/chart-yaml-structure.md
  website/src/content/docs/development/contibuting-example.md
  website/src/content/docs/development/handycommands.md
  website/src/content/docs/development/ingress.md
  website/src/content/docs/development/services.md
  website/src/content/docs/development/storage.md
  website/src/content/docs/development/values-yaml.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(docs): add talos stuff (#32227)
  website/src/content/docs/guides/talos/talos.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(docs): Redo Quick-Start Guide (#32225)
  website/src/content/docs/guides/index.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(docs): Update Ingress Guide (#32223)
  website/astro.config.mjs
  website/package-lock.json
  website/src/content/docs/guides/add-ingress.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(docs): update nvidia guide (#32226)
  website/src/content/docs/guides/gpu/nvidia.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/avidemux v24.12.1 → v25.02.1 (#32140)
  charts/stable/avidemux/Chart.yaml
  charts/stable/avidemux/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/jdownloader-2 v24.12.1 → v25.02.1 (#32144)
  charts/stable/jdownloader2/Chart.yaml
  charts/stable/jdownloader2/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/handbrake v24.12.1 → v25.02.2 (#32143)
  charts/stable/handbrake/Chart.yaml
  charts/stable/handbrake/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/filebot v24.12.1 → v25.02.1 (#32142)
  charts/stable/filebot/Chart.yaml
  charts/stable/filebot/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/czkawka v24.12.1 → v25.02.1 (#32141)
  charts/stable/czkawka/Chart.yaml
  charts/stable/czkawka/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/dpage/pgadmin4 8.14 → 9.0 (#32139)
  charts/stable/pgadmin/Chart.yaml
  charts/stable/pgadmin/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update astro 5.2.5 → 5.3.0
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(website): update @astrojs/starlight 0.31.1 → 0.32.0
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/recyclarr/recyclarr 7.4.0 → 7.4.1
  charts/stable/recyclarr/Chart.yaml
  charts/stable/recyclarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/suwayomi/tachidesk digest to 542e2d4
  charts/stable/tachidesk-docker/Chart.yaml
  charts/stable/tachidesk-docker/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to 16911e3
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/serverlein/tsn-ranksystem-webserver digest to a1976b0
  charts/stable/tsn-ranksystem/Chart.yaml
  charts/stable/tsn-ranksystem/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/serverlein/tsn-ranksystem-webserver digest to a1976b0 (#32126)
  charts/stable/tsn-ranksystem/Chart.yaml
  charts/stable/tsn-ranksystem/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/recyclarr/recyclarr 7.4.0 → 7.4.1 (#32132)
  charts/stable/recyclarr/Chart.yaml
  charts/stable/recyclarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(docs): Move guides around (#32224)
  website/src/content/docs/guides/addons/code-server.md
  website/src/content/docs/guides/addons/img/vpn_proxy_1.png
  website/src/content/docs/guides/addons/img/vpn_testing.png
  website/src/content/docs/guides/addons/img/vpn_wireguard_config.png
  website/src/content/docs/guides/addons/vpn-setup.md
  website/src/content/docs/guides/backup & restore/cnpg-backup-restore.md
  website/src/content/docs/guides/backup & restore/volsync-backup-restore.md
  website/src/content/docs/guides/img/s3_backblaze_1.png
  website/src/content/docs/guides/img/s3_backblaze_2.png
  website/src/content/docs/guides/img/s3_backblaze_3.png
  website/src/content/docs/guides/img/s3_cloudflare_1.png
  website/src/content/docs/guides/img/s3_cloudflare_2.png
  website/src/content/docs/guides/img/s3_cloudflare_3.png
  website/src/content/docs/guides/img/s3_minio_1.png
  website/src/content/docs/guides/img/s3_minio_2.png
  website/src/content/docs/guides/img/s3_minio_3.png
  website/src/content/docs/guides/img/s3_minio_4.png
  website/src/content/docs/guides/img/s3_minio_5.png
  website/src/content/docs/guides/img/s3_storj_1.png
  website/src/content/docs/guides/img/s3_storj_2.png
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/suwayomi/tachidesk digest to 542e2d4 (#32130)
  charts/stable/tachidesk-docker/Chart.yaml
  charts/stable/tachidesk-docker/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to 16911e3 (#32129)
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update astro 5.2.5 → 5.3.0 (#32136)
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image tccr.io/tccr/alpine v3.21.2 → v3.21.3
  charts/library/common/Chart.yaml
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/josh5/steam-headless digest to 408290e
  charts/stable/steam-headless/Chart.yaml
  charts/stable/steam-headless/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/msdeluise/plant-it-server 0.8.0 → 0.10.0
  charts/incubator/plant-it/Chart.yaml
  charts/incubator/plant-it/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image registry digest to a3d8aaa
  charts/stable/dockerregistry/Chart.yaml
  charts/stable/dockerregistry/values.yaml
  charts/stable/reg/Chart.yaml
  charts/stable/reg/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/heimdall digest to 6b36556
  charts/stable/heimdall/Chart.yaml
  charts/stable/heimdall/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/blender digest to 6c3e6c4
  charts/stable/blender/Chart.yaml
  charts/stable/blender/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image hello-world digest to e0b569a
  charts/premium/clusterissuer/Chart.yaml
  charts/premium/clusterissuer/values.yaml
  charts/premium/metallb-config/Chart.yaml
  charts/premium/metallb-config/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image tccr.io/tccr/alpine v3.21.2 → v3.21.3 (#32121)
  charts/library/common/Chart.yaml
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k
