Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

.github/CODEOWNERS:

# Default code owners
*                         @truecharts/core-team @privatepuffin @stavros-k @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**        @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md        @privatepuffin @stavros-k @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97

chore(helm): update image ghcr.io/elfhosted/nzbhydra2 digest to 48ea041 (#32555)
  charts/stable/nzbhydra/Chart.yaml
  charts/stable/nzbhydra/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image yourls digest to 573aa79 (#32558)
  charts/stable/yourls/Chart.yaml
  charts/stable/yourls/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/plex digest to 7e169d1 (#32557)
  charts/stable/plex/Chart.yaml
  charts/stable/plex/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/phpmyadmin digest to fe8e5b0
  charts/stable/phpmyadmin/Chart.yaml
  charts/stable/phpmyadmin/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/prowlarr-develop digest to fa776c7
  charts/stable/prowlarr/Chart.yaml
  charts/stable/prowlarr/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/alertmanager digest to 940e1ee
  charts/premium/prometheus/Chart.yaml
  charts/premium/prometheus/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image yourls digest to d8c94ce
  charts/stable/yourls/Chart.yaml
  charts/stable/yourls/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(container): update public.ecr.aws/docker/library/traefik docker tag to v3.3.4
  containers/apps/traefik/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update chart kube-prometheus-stack 69.5.1 → 69.5.2
  charts/premium/prometheus/Chart.yaml
  charts/system/prometheus-operator/Chart.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/bakito/adguardhome-sync v0.7.0 → v0.7.1
  charts/stable/adguardhome-sync/Chart.yaml
  charts/stable/adguardhome-sync/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/riven v0.21.0 → v0.21.1
  charts/stable/riven/Chart.yaml
  charts/stable/riven/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/stirling-tools/s-pdf 0.42.0 → 0.43.0
  charts/stable/stirling-pdf/Chart.yaml
  charts/stable/stirling-pdf/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/docker/library/xwiki 17.0.0-postgres-tomcat → 17.1.0-postgres-tomcat
  charts/stable/xwiki/Chart.yaml
  charts/stable/xwiki/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(container): update public.ecr.aws/docker/library/traefik docker tag to v3.3.4 (#32567)
  containers/apps/traefik/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image yourls digest to d8c94ce (#32566)
  charts/stable/yourls/Chart.yaml
  charts/stable/yourls/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/riven v0.21.0 → v0.21.1 (#32570)
  charts/stable/riven/Chart.yaml
  charts/stable/riven/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/stirling-tools/s-pdf 0.42.0 → 0.43.0 (#32571)
  charts/stable/stirling-pdf/Chart.yaml
  charts/stable/stirling-pdf/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/alertmanager digest to 940e1ee (#32565)
  charts/premium/prometheus/Chart.yaml
  charts/premium/prometheus/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/prowlarr-develop digest to fa776c7 (#32564)
  charts/stable/prowlarr/Chart.yaml
  charts/stable/prowlarr/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/phpmyadmin digest to fe8e5b0 (#32563)
  charts/stable/phpmyadmin/Chart.yaml
  charts/stable/phpmyadmin/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/docker/library/xwiki 17.0.0-postgres-tomcat → 17.1.0-postgres-tomcat (#32572)
  charts/stable/xwiki/Chart.yaml
  charts/stable/xwiki/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update chart kube-prometheus-stack 69.5.1 → 69.5.2 (#32568)
  charts/premium/prometheus/Chart.yaml
  charts/system/prometheus-operator/Chart.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/bakito/adguardhome-sync v0.7.0 → v0.7.1 (#32569)
  charts/stable/adguardhome-sync/Chart.yaml
  charts/stable/adguardhome-sync/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(container): update public.ecr.aws/docker/library/traefik:3.3.4 docker digest to cc11989
  containers/apps/traefik/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to abecee1
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/docker/library/xwiki digest to 9a24bbe
  charts/stable/xwiki/Chart.yaml
  charts/stable/xwiki/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(flux): update image prometheus-operator 11.2.0 → 11.2.1 (clustertool)
  clustertool/embed/generic/kubernetes/system/prometheus-operator/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image ghcr.io/elfhosted/riven v0.21.1 → v0.21.2
  charts/stable/riven/Chart.yaml
  charts/stable/riven/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/ylianst/meshcentral 1.1.38 → 1.1.39
  charts/stable/meshcentral/Chart.yaml
  charts/stable/meshcentral/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(container): update public.ecr.aws/docker/library/traefik:3.3.4 docker digest to cc11989 (#32573)
  containers/apps/traefik/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image prometheus-operator 11.2.0 → 11.2.1 (clustertool) (#32576)
  clustertool/embed/generic/kubernetes/system/prometheus-operator/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image ghcr.io/meeb/tubesync digest to abecee1 (#32574)
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/riven v0.21.1 → v0.21.2 (#32577)
  charts/stable/riven/Chart.yaml
  charts/stable/riven/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/ylianst/meshcentral 1.1.38 → 1.1.39 (#32578)
  charts/stable/meshcentral/Chart.yaml
  charts/stable/meshcentral/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/docker/library/xwiki digest to 9a24bbe (#32575)
  charts/stable/xwiki/Chart.yaml
  charts/stable/xwiki/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to fcba55f
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1458 → 0.22.1459
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/stirling-tools/s-pdf 0.43.0 → 0.43.1
  charts/stable/stirling-pdf/Chart.yaml
  charts/stable/stirling-pdf/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(container): update public.ecr.aws/docker/library/nextcloud docker tag to v31
  containers/apps/nextcloud-fpm/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update authentik 2024.12.3 → 2025.2.0
  charts/stable/authentik/Chart.yaml
  charts/stable/authentik/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97
