Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

bumps
  charts/library/common-test/Chart.yaml
  charts/library/common/Chart.yaml
Owners: @privatepuffin, @stavros-k

basic new structure
  charts/library/common/templates/addons/gluetun/_gluetun.tpl
  charts/library/common/templates/addons/gluetun/_gluetunContainer.tpl
  charts/library/common/templates/addons/gluetun/_secret.tpl
  charts/library/common/templates/addons/gluetun/_volume.tpl
  charts/library/common/templates/addons/openvpn/_openvpn.tpl
  charts/library/common/templates/addons/openvpn/_openvpnContainer.tpl
  charts/library/common/templates/addons/openvpn/_secret.tpl
  charts/library/common/templates/addons/openvpn/_volume.tpl
  charts/library/common/templates/addons/tailscale/_secret.tpl
  charts/library/common/templates/addons/tailscale/_tailscale.tpl
  charts/library/common/templates/addons/tailscale/_tailscaleContainer.tpl
  charts/library/common/templates/addons/tailscale/_volume.tpl
  charts/library/common/templates/addons/vpn/_configmap.tpl
  charts/library/common/templates/addons/wireguard/_secret.tpl
  charts/library/common/templates/addons/wireguard/_volume.tpl
  charts/library/common/templates/addons/wireguard/_wireguard.tpl
  charts/library/common/templates/addons/wireguard/_wireguardContainer.tpl
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

actually load new vpn addon locations
  charts/library/common/templates/loader/_init.tpl
Owners: @privatepuffin, @stavros-k

fix test
  charts/library/common/templates/lib/ingress/integrations/_traefik.tpl
Owners: @privatepuffin, @stavros-k

add note
  charts/library/common/templates/lib/ingress/integrations/_traefik.tpl
Owners: @privatepuffin, @stavros-k

cleanup references
  charts/library/common/templates/addons/gluetun/_gluetun.tpl
  charts/library/common/templates/addons/gluetun/_gluetunContainer.tpl
  charts/library/common/templates/addons/gluetun/_secret.tpl
  charts/library/common/templates/addons/gluetun/_volume.tpl
  charts/library/common/templates/addons/openvpn/_openvpn.tpl
  charts/library/common/templates/addons/openvpn/_openvpnContainer.tpl
  charts/library/common/templates/addons/openvpn/_secret.tpl
  charts/library/common/templates/addons/openvpn/_volume.tpl
  charts/library/common/templates/addons/tailscale/_secret.tpl
  charts/library/common/templates/addons/tailscale/_tailscale.tpl
  charts/library/common/templates/addons/tailscale/_tailscaleContainer.tpl
  charts/library/common/templates/addons/tailscale/_volume.tpl
  charts/library/common/templates/addons/wireguard/_secret.tpl
  charts/library/common/templates/addons/wireguard/_volume.tpl
  charts/library/common/templates/addons/wireguard/_wireguard.tpl
  charts/library/common/templates/addons/wireguard/_wireguardContainer.tpl
Owners: @privatepuffin, @stavros-k

remove old openvpn and wireguard
  charts/library/common/templates/addons/openvpn/_openvpn.tpl
  charts/library/common/templates/addons/openvpn/_openvpnContainer.tpl
  charts/library/common/templates/addons/openvpn/_secret.tpl
  charts/library/common/templates/addons/openvpn/_volume.tpl
  charts/library/common/templates/addons/wireguard/_secret.tpl
  charts/library/common/templates/addons/wireguard/_volume.tpl
  charts/library/common/templates/addons/wireguard/_wireguard.tpl
  charts/library/common/templates/addons/wireguard/_wireguardContainer.tpl
  charts/library/common/templates/loader/_init.tpl
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

feat(common): BREAKING CHANGE change traefik middleware logic (#31498)
  charts/library/common-test/Chart.yaml
  charts/library/common-test/tests/ingress/traefik_test.yaml
  charts/library/common/Chart.yaml
  charts/library/common/templates/lib/ingress/integrations/_traefik.tpl
  charts/library/common/values.yaml
  website/src/content/docs/common/ingress/traefik.md
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Commit daily changes
  charts/stable/fireflyiii/Chart.yaml
  clustertool/go.mod
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

chore(flux): update image blocky 16.13.2 → 16.13.3 (clustertool)
  clustertool/embed/generic/kubernetes/core/blocky/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image traefik 30.4.2 → 30.4.3 (clustertool)
  clustertool/embed/generic/kubernetes/core/traefik/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image blocky 16.13.2 → 16.13.3 (clustertool) (#31510)
  clustertool/embed/generic/kubernetes/core/blocky/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image traefik 30.4.2 → 30.4.3 (clustertool) (#31511)
  clustertool/embed/generic/kubernetes/core/traefik/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/naskio/strapi 4.25.11 → 5.9.0
  charts/stable/strapi/Chart.yaml
  charts/stable/strapi/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/cloudnative-pg/postgis
  charts/library/common/Chart.yaml
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

chore(docs,tests): remove references to fixedMiddlewares and allowCors(middlewares)
  charts/library/common-test/ci/ingress-values.yaml
  charts/library/common-test/tests/chartContext/data_test.yaml
  charts/library/common-test/tests/chartContext/portal_test.yaml
  charts/library/common/values.yaml
  clustertool/pkg/charts/valuesYaml/ingressValues.go
  website/src/content/docs/common/global.md
  website/src/content/docs/common/ingress/index.md
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

regen lock file
  website/package-lock.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/accetto/ubuntu-vnc-xfce-freecad-g3 digest to 7bef618
  charts/stable/freecad-desktop-g3/Chart.yaml
  charts/stable/freecad-desktop-g3/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/automaticrippingmachine/automatic-ripping-machine digest to 0579ad5
  charts/stable/automatic-ripping-machine/Chart.yaml
  charts/stable/automatic-ripping-machine/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/machines/filestash digest to a926a1f
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/revenz/fileflows digest to 2ccb271
  charts/stable/fileflows/Chart.yaml
  charts/stable/fileflows/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/firefox digest to a0ef137
  charts/stable/firefox/Chart.yaml
  charts/stable/firefox/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to 2aa3f3e
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/mintplex-labs/anything-llm digest to 70191dc
  charts/stable/anything-llm/Chart.yaml
  charts/stable/anything-llm/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image tccr.io/tccr/db-wait-postgres digest to d9f071b
  charts/library/common/Chart.yaml
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image tccr.io/tccr/db-wait-redis digest to 078875f
  charts/library/common/Chart.yaml
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/accetto/ubuntu-vnc-xfce-freecad-g3 digest to 7bef618 (#31501)
  charts/stable/freecad-desktop-g3/Chart.yaml
  charts/stable/freecad-desktop-g3/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/machines/filestash digest to a926a1f (#31503)
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/revenz/fileflows digest to 2ccb271 (#31504)
  charts/stable/fileflows/Chart.yaml
  charts/stable/fileflows/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image tccr.io/tccr/db-wait-postgres digest to d9f071b (#31508)
  charts/library/common/Chart.yaml
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/bitnami/memcached 1.6.34 → 1.6.35
  charts/stable/memcached/Chart.yaml
  charts/stable/memcached/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/clickhouse/clickhouse-server 25.1.1.4165 → 25.1.2.3
  charts/stable/clickhouse/Chart.yaml
  charts/stable/clickhouse/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/cloudflare/cloudflared 2025.1.0 → 2025.1.1
  charts/stable/cloudflared/Chart.yaml
  charts/stable/cloudflared/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jesec/flood 4.9.0 → 4.9.3
  charts/stable/flood/Chart.yaml
  charts/stable/flood/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/wiserain/flexget 3.13.23 → 3.13.26
  charts/stable/flexget/Chart.yaml
  charts/stable/flexget/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1355 → 0.22.1359
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/netbootxyz/netbootxyz 0.7.3 → 0.7.4
  charts/stable/netbootxyz/Chart.yaml
  charts/stable/netbootxyz/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/firefox digest to a0ef137 (#31505)
  charts/stable/firefox/Chart.yaml
  charts/stable/firefox/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/mintplex-labs/anything-llm digest to 70191dc (#31507)
  charts/stable/anything-llm/Chart.yaml
  charts/stable/anything-llm/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to 2aa3f3e (#31506)
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97
