Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

chore(container): update ubuntu:latest docker digest to 7229784
  containers/apps/db-wait-mongodb/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(github-action): update docker/setup-buildx-action digest to f7ce87c
  .github/workflows/containers.build.yaml
Owners: @privatepuffin, @stavros-k

chore(github-action): update docker/setup-qemu-action digest to 4574d27
  .github/workflows/containers.build.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/bitnami/wordpress digest to ce39246
  charts/stable/wordpress/Chart.yaml
  charts/stable/wordpress/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to 2f9a9af
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/library/xwiki digest to 7e25b0a
  charts/stable/xwiki/Chart.yaml
  charts/stable/xwiki/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/linuxserver/transmission digest to d3a56ad
  charts/stable/transmission/Chart.yaml
  charts/stable/transmission/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/machines/filestash digest to e10af36
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/mbentley/omada-controller digest to d4d752e
  charts/stable/omada-controller/Chart.yaml
  charts/stable/omada-controller/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/niruix/sshwifty digest to 837fd62
  charts/stable/sshwifty/Chart.yaml
  charts/stable/sshwifty/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/odoo digest to fb921bf
  charts/stable/odoo/Chart.yaml
  charts/stable/odoo/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/phasecorex/red-discordbot digest to 707bef4
  charts/stable/red-discordbot/Chart.yaml
  charts/stable/red-discordbot/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/projectsend digest to 2e8a4fc
  charts/stable/projectsend/Chart.yaml
  charts/stable/projectsend/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/pwndrop digest to 3529fcf
  charts/stable/pwndrop/Chart.yaml
  charts/stable/pwndrop/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/pylon digest to 63f2652
  charts/stable/pylon/Chart.yaml
  charts/stable/pylon/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/remmina digest to 036fdd3
  charts/stable/remmina/Chart.yaml
  charts/stable/remmina/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/resilio-sync digest to b540f83
  charts/stable/resilio-sync/Chart.yaml
  charts/stable/resilio-sync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/mintplex-labs/anything-llm digest to 0994db8
  charts/stable/anything-llm/Chart.yaml
  charts/stable/anything-llm/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/open-webui/open-webui digest to fbe4e82
  charts/stable/ollama/Chart.yaml
  charts/stable/ollama/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image monica digest to a8e03e8
  charts/stable/monica/Chart.yaml
  charts/stable/monica/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image yourls digest to d9fc5f3
  charts/stable/yourls/Chart.yaml
  charts/stable/yourls/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.11 → 23.3.12
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(flux): update image kyverno 3.3.4 → 3.3.5 (clustertool)
  clustertool/embed/generic/kubernetes/system/kyverno/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update chart memcached 14.5.2 → 14.5.3
  charts/stable/gitea/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jc21/nginx-proxy-manager 2.12.2 → 2.12.3
  charts/stable/nginx-proxy-manager/Chart.yaml
  charts/stable/nginx-proxy-manager/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/n8nio/n8n 1.77.2 → 1.77.3
  charts/stable/n8n/Chart.yaml
  charts/stable/n8n/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/nocodb/nocodb 0.260.4 → 0.260.5
  charts/stable/nocodb/Chart.yaml
  charts/stable/nocodb/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/actualbudget/actual-server 25.2.0 → 25.2.1
  charts/stable/actualserver/Chart.yaml
  charts/stable/actualserver/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image renovate/renovate 39.156.1 → 39.156.2
  charts/incubator/renovate/Chart.yaml
  charts/incubator/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(deps): update module github.com/budimanjojo/talhelper/v3 v3.0.17 → v3.0.18 (clustertool)
  clustertool/go.mod
  clustertool/go.sum
Owners: @privatepuffin, @stavros-k

chore(helm): update chart kube-prometheus-stack 68.4.5 → 68.5.0
  charts/premium/prometheus/Chart.yaml
  charts/system/prometheus-operator/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/n8nio/n8n 1.77.2 → 1.78.0
  charts/stable/n8n/Chart.yaml
  charts/stable/n8n/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image renovate/renovate 39.156.1 → 39.162.1
  charts/incubator/renovate/Chart.yaml
  charts/incubator/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update docker/setup-qemu-action digest to 4574d27 (#31697)
  .github/workflows/containers.build.yaml
Owners: @privatepuffin, @stavros-k

chore(container): update docker.io/nextcloud:30.0.5-fpm docker digest to 1654f68 (#31694)
  containers/apps/nextcloud-fpm/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(container): update ubuntu:latest docker digest to 7229784 (#31695)
  containers/apps/db-wait-mongodb/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(github-action): update docker/setup-buildx-action digest to f7ce87c (#31696)
  .github/workflows/containers.build.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image jackett 23.3.11 → 23.3.12 (#31716)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(flux): update image kyverno 3.3.4 → 3.3.5 (clustertool) (#31717)
  clustertool/embed/generic/kubernetes/system/kyverno/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/library/xwiki digest to 7e25b0a (#31700)
  charts/stable/xwiki/Chart.yaml
  charts/stable/xwiki/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97
