Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

chore(helm): update image ghcr.io/immich-app/immich-server v1.125.7 → v1.126.1 (#31895)
  charts/stable/immich/Chart.yaml
  charts/stable/immich/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1393 → 0.22.1404
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/ix-ai/smtp v0.7.1 → v0.7.2
  charts/stable/smtp-relay/Chart.yaml
  charts/stable/smtp-relay/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(deps): update node.js v22.13.1 → v22.14.0
  website/.nvmrc
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/renovate/renovate 39.164.0 → 39.165.3
  charts/stable/renovate/Chart.yaml
  charts/stable/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/ix-ai/smtp v0.7.1 → v0.7.2 (#31902)
  charts/stable/smtp-relay/Chart.yaml
  charts/stable/smtp-relay/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(deps): update node.js v22.13.1 → v22.14.0 (#31903)
  website/.nvmrc
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1393 → 0.22.1404 (#31901)
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image app-template 3.7.0 → 3.7.1 (clustertool)
  clustertool/embed/generic/kubernetes/system/system-upgrade-controller/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image jackett 23.3.17 → 23.3.18
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image ghcr.io/beryju/gravity v0.26.1 → v0.26.3
  charts/stable/gravity/Chart.yaml
  charts/stable/gravity/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/fluidd-core/fluidd v1.32.1 → v1.32.2
  charts/stable/fluidd/Chart.yaml
  charts/stable/fluidd/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2025-02-10 → 2025-02-11
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jenkins/jenkins 2.496 → 2.497
  charts/stable/jenkins/Chart.yaml
  charts/stable/jenkins/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/renovate/renovate 39.164.0 → 39.166.0
  charts/stable/renovate/Chart.yaml
  charts/stable/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.17 → 23.3.18 (#31905)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(flux): update image app-template 3.7.0 → 3.7.1 (clustertool) (#31904)
  clustertool/embed/generic/kubernetes/system/system-upgrade-controller/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update jupyter 2025-02-10 → 2025-02-11 (patch) (#31908)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/fluidd-core/fluidd v1.32.1 → v1.32.2 (#31907)
  charts/stable/fluidd/Chart.yaml
  charts/stable/fluidd/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jenkins/jenkins 2.496 → 2.497 (#31909)
  charts/stable/jenkins/Chart.yaml
  charts/stable/jenkins/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/beryju/gravity v0.26.1 → v0.26.3 (#31906)
  charts/stable/gravity/Chart.yaml
  charts/stable/gravity/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/automaticrippingmachine/automatic-ripping-machine digest to c5d6ae4
  charts/stable/automatic-ripping-machine/Chart.yaml
  charts/stable/automatic-ripping-machine/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/clamav/clamav digest to 12efd8f
  charts/premium/nextcloud/Chart.yaml
  charts/premium/nextcloud/values.yaml
  charts/stable/clamav/Chart.yaml
  charts/stable/clamav/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to 83ed0c5
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/grafana/grafana-image-renderer digest to 74911db
  charts/stable/grafana-image-renderer/Chart.yaml
  charts/stable/grafana-image-renderer/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jgraph/drawio digest to 56c7683
  charts/stable/drawio/Chart.yaml
  charts/stable/drawio/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/krateng/maloja digest to 4ecea26
  charts/stable/maloja/Chart.yaml
  charts/stable/maloja/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/linuxserver/transmission digest to 847d4f4
  charts/stable/transmission/Chart.yaml
  charts/stable/transmission/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/lmscommunity/lyrionmusicserver digest to c58901a
  charts/incubator/lyrion-music-server/Chart.yaml
  charts/incubator/lyrion-music-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/machines/filestash digest to b442e09
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/mikenye/tar1090 digest to 38f2773
  charts/stable/tar1090/Chart.yaml
  charts/stable/tar1090/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/soulraven1980/wdosg digest to 19cb965
  charts/incubator/wdosg/Chart.yaml
  charts/incubator/wdosg/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/tombursch/kitchenowl digest to 60d491c
  charts/stable/kitchenowl/Chart.yaml
  charts/stable/kitchenowl/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/tombursch/kitchenowl-web digest to f112eac
  charts/stable/kitchenowl/Chart.yaml
  charts/stable/kitchenowl/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/victoriametrics/victoria-metrics digest to 1676d73
  charts/incubator/victoriametrics/Chart.yaml
  charts/incubator/victoriametrics/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/x1unix/go-playground digest to 071cf5a
  charts/stable/go-playground/Chart.yaml
  charts/stable/go-playground/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/babybuddy digest to eba88cb
  charts/stable/babybuddy/Chart.yaml
  charts/stable/babybuddy/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/boinc digest to efdfecb
  charts/stable/boinc/Chart.yaml
  charts/stable/boinc/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/ddclient digest to ba28bcf
  charts/stable/ddclient/Chart.yaml
  charts/stable/ddclient/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/digikam digest to 9037241
  charts/stable/digikam/Chart.yaml
  charts/stable/digikam/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97
