Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

fix oopsie
  charts/library/common/templates/spawner/traefik/_middleware.tpl
Owners: @privatepuffin, @stavros-k

Update charts-release.yaml
  .github/workflows/charts-release.yaml
Owners: @privatepuffin, @stavros-k

feat(common): add basic support for pod affinity
  charts/library/common/Chart.yaml
  charts/library/common/templates/lib/pod/_affinity.tpl
Owners: @privatepuffin, @stavros-k

hmm
  charts/library/common-test/Chart.yaml
Owners: @privatepuffin, @stavros-k

Commit daily changes
  clustertool/pkg/charts/valuesYaml/ingressValues.go
Owners: @privatepuffin, @stavros-k

chore(flux): update image jackett 23.3.8 → 23.3.9
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(flux): update image jackett 23.3.8 → 23.3.9 (#31563)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(flux): update image minecraft-java 22.1.1 → 22.12.0
  clusters/main/kubernetes/apps/minecraft/app/helm-release.yaml
Owners: @privatepuffin

chore(flux): update image minecraft-java 22.1.1 → 22.12.0 (#31570)
  clusters/main/kubernetes/apps/minecraft/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image ghcr.io/cloudnative-pg/postgis
  charts/library/common/Chart.yaml
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

Update charts-release.yaml
  .github/workflows/charts-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image ghcr.io/cloudnative-pg/postgis
  charts/library/common/Chart.yaml
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

Update all.yaml
  clustertool/embed/generic/patches/all.yaml
Owners: @privatepuffin, @stavros-k

feat(clustertool): update sysctls
  clustertool/embed/generic/patches/all.yaml
Owners: @privatepuffin, @stavros-k

feat(clustertool): disable scheduler ImageLocality
  clustertool/embed/generic/patches/controlplane.yaml
Owners: @privatepuffin, @stavros-k

traefik link fixes
  charts/premium/clusterissuer/docs/how-to.md
  website/src/content/docs/guides/index.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(docs): traefik link fixes (#31593)
  charts/premium/clusterissuer/docs/how-to.md
  website/src/content/docs/guides/index.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

update dockerfile
  containers/apps/devcontainer/VERSION
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

BREAKING: fix transmission
  charts/stable/transmission/Chart.yaml
  charts/stable/transmission/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update VERSION
  containers/apps/devcontainer/VERSION
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

Update values.yaml
  charts/stable/transmission/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/alpine/socat digest to 6284166
  charts/stable/emby/Chart.yaml
  charts/stable/emby/values.yaml
  charts/stable/jellyfin/Chart.yaml
  charts/stable/jellyfin/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/bitnami/mongodb digest to 4508625
  charts/stable/mongodb/Chart.yaml
  charts/stable/mongodb/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/cyfershepard/jellystat digest to 038c887
  charts/stable/jellystat/Chart.yaml
  charts/stable/jellystat/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/duplicati/duplicati digest to c6a2efd
  charts/stable/duplicati/Chart.yaml
  charts/stable/duplicati/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ekzhang/rustpad digest to 536b638
  charts/stable/rustpad/Chart.yaml
  charts/stable/rustpad/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/iyuucn/iyuuplus digest to 651227c
  charts/stable/iyuuplus/Chart.yaml
  charts/stable/iyuuplus/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/lancachenet/lancache-dns digest to 6ecb9bd
  charts/stable/lancache-dns/Chart.yaml
  charts/stable/lancache-dns/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/lancachenet/monolithic digest to 407a20b
  charts/stable/lancache-monolithic/Chart.yaml
  charts/stable/lancache-monolithic/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/library/xwiki digest to e7db507
  charts/stable/xwiki/Chart.yaml
  charts/stable/xwiki/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/machines/filestash digest to fb32598
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/nodered/node-red digest to 9492661
  charts/stable/node-red/Chart.yaml
  charts/stable/node-red/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/odoo digest to 493e5e2
  charts/stable/odoo/Chart.yaml
  charts/stable/odoo/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ronnieroller/media-roller digest to f75a013
  charts/stable/media-roller/Chart.yaml
  charts/stable/media-roller/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/thelounge/thelounge digest to eb39291
  charts/stable/thelounge/Chart.yaml
  charts/stable/thelounge/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/wabayang/jelu digest to 411bd3a
  charts/stable/jelu/Chart.yaml
  charts/stable/jelu/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/hotio/cloudflareddns digest to 51e8638
  charts/stable/cloudflareddns/Chart.yaml
  charts/stable/cloudflareddns/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/babybuddy digest to c802793
  charts/stable/babybuddy/Chart.yaml
  charts/stable/babybuddy/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/budge digest to 4c4b510
  charts/stable/budge/Chart.yaml
  charts/stable/budge/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/fleet digest to db1c00b
  charts/stable/fleet/Chart.yaml
  charts/stable/fleet/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97
