Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

chore(helm): update image ghcr.io/actualbudget/actual-server 25.1.0 → 25.2.0
  charts/stable/actualserver/Chart.yaml
  charts/stable/actualserver/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/mealie-recipes/mealie v2.5.0 → v2.6.0
  charts/stable/mealie/Chart.yaml
  charts/stable/mealie/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image tccr.io/tccr/tailscale v1.78.3 → v1.80.0
  charts/library/common/Chart.yaml
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image prometheus-operator 10.2.1 → 10.2.2 (clustertool) (#31673)
  clustertool/embed/generic/kubernetes/system/prometheus-operator/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image jackett 23.3.10 → 23.3.11 (#31672)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image chronograf digest to 7ab2cf1 (#31660)
  charts/stable/chronograf/Chart.yaml
  charts/stable/chronograf/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/coderaiser/cloudcmd digest to ac96b06 (#31662)
  charts/stable/cloudcommander/Chart.yaml
  charts/stable/cloudcommander/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/automaticrippingmachine/automatic-ripping-machine digest to 0b86718 (#31661)
  charts/stable/automatic-ripping-machine/Chart.yaml
  charts/stable/automatic-ripping-machine/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to ee74883 (#31663)
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/foldingathome digest to 44e37dc (#31666)
  charts/stable/foldingathome/Chart.yaml
  charts/stable/foldingathome/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/escaping/core-keeper-dedicated digest to bb7ad5b (#31664)
  charts/stable/core-keeper-dedicated-server/Chart.yaml
  charts/stable/core-keeper-dedicated-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/lazylibrarian digest to 6b2cc63 (#31667)
  charts/stable/lazylibrarian/Chart.yaml
  charts/stable/lazylibrarian/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/gitea/gitea 1.23.1 → 1.23.2 (#31678)
  charts/stable/gitea/Chart.yaml
  charts/stable/gitea/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/mintplex-labs/anything-llm digest to a7d3af9 (#31669)
  charts/stable/anything-llm/Chart.yaml
  charts/stable/anything-llm/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/bitnami/memcached 1.6.35 → 1.6.36 (#31676)
  charts/stable/memcached/Chart.yaml
  charts/stable/memcached/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/calibre-web digest to e45459f (#31670)
  charts/stable/calibre-web/Chart.yaml
  charts/stable/calibre-web/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to f2d546f (#31668)
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update chart clickhouse 15.0.1 → 15.0.2 (#31674)
  charts/stable/plausible/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image redmine digest to 66f08e8 (#31671)
  charts/stable/redmine/Chart.yaml
  charts/stable/redmine/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ipfs/kubo v0.33.0 → v0.33.1 (#31680)
  charts/stable/ipfs/Chart.yaml
  charts/stable/ipfs/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1368 → 0.22.1372 (#31681)
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/ellite/wallos 2.45.1 → 2.45.2 (#31682)
  charts/stable/wallos/Chart.yaml
  charts/stable/wallos/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/gotson/komga 1.19.0 → 1.19.1 (#31679)
  charts/stable/komga/Chart.yaml
  charts/stable/komga/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/advplyr/audiobookshelf 2.18.1 → 2.19.0 (#31683)
  charts/stable/audiobookshelf/Chart.yaml
  charts/stable/audiobookshelf/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/doitandbedone/ispyagentdvr 6.0.6.0 → 6.0.8.0 (#31677)
  charts/stable/ispy-agent-dvr/Chart.yaml
  charts/stable/ispy-agent-dvr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/homeassistant/home-assistant 2025.1.4 → 2025.2.0 (#31684)
  charts/stable/home-assistant/Chart.yaml
  charts/stable/home-assistant/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jenkins/jenkins 2.495 → 2.496 (#31685)
  charts/stable/jenkins/Chart.yaml
  charts/stable/jenkins/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jorenn92/maintainerr 2.8.0 → 2.9.0 (#31686)
  charts/stable/maintainerr/Chart.yaml
  charts/stable/maintainerr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/misskey/misskey 2025.1.0 → 2025.2.0 (#31687)
  charts/stable/misskey/Chart.yaml
  charts/stable/misskey/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/actualbudget/actual-server 25.1.0 → 25.2.0 (#31689)
  charts/stable/actualserver/Chart.yaml
  charts/stable/actualserver/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/onlyoffice/documentserver 8.2.2 → 8.3.0 (#31688)
  charts/stable/onlyoffice-document-server/Chart.yaml
  charts/stable/onlyoffice-document-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/mealie-recipes/mealie v2.5.0 → v2.6.0 (#31690)
  charts/stable/mealie/Chart.yaml
  charts/stable/mealie/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

take into account that ingress enabled can be tpl
  charts/library/common/templates/spawner/traefik/_middleware.tpl
Owners: @privatepuffin, @stavros-k

code-smell
  charts/library/common/templates/class/volsync/_replicationDestination.tpl
Owners: @privatepuffin, @stavros-k

Update Chart.yaml
  charts/stable/automatic-ripping-machine/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

feat(common): Add destinationPVC when volsync direct copy method is used (#31659)
  .github/workflows/common-tests.yaml
  charts/library/common-test/ci/volsync-dest-direct-values.yaml
  charts/library/common-test/ci/volsync-dest-values.yaml
  charts/library/common-test/ci/volsync-src-direct-values.yaml
  charts/library/common-test/tests/volsync/replication_dest_spec_test.yaml
  charts/library/common/templates/class/volsync/_replicationDestination.tpl
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/machines/filestash digest to f662ca2
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/automaticrippingmachine/automatic-ripping-machine 2.10.3 → 2.10.5 (#31675)
  charts/stable/automatic-ripping-machine/Chart.yaml
  charts/stable/automatic-ripping-machine/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/machines/filestash digest to f662ca2 (#31665)
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(container): update docker.io/nextcloud:30.0.5-fpm docker digest to 1654f68
  containers/apps/nextcloud-fpm/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97
