Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

chore(helm): update image ghcr.io/m1k1o/neko/remmina 2.8.12 → 2.8.13
  charts/stable/neko/Chart.yaml
  charts/stable/neko/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/m1k1o/neko/tor-browser 2.8.12 → 2.8.13
  charts/stable/neko/Chart.yaml
  charts/stable/neko/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/m1k1o/neko/vivaldi 2.8.12 → 2.8.13
  charts/stable/neko/Chart.yaml
  charts/stable/neko/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/m1k1o/neko/vlc 2.8.12 → 2.8.13
  charts/stable/neko/Chart.yaml
  charts/stable/neko/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/m1k1o/neko/xfce 2.8.12 → 2.8.13
  charts/stable/neko/Chart.yaml
  charts/stable/neko/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/renovate/renovate 39.164.0 → 39.167.0
  charts/stable/renovate/Chart.yaml
  charts/stable/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/manyfold3d/manyfold 0.99.1 → 0.100.0
  charts/incubator/manyfold/Chart.yaml
  charts/incubator/manyfold/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/suwayomi/tachidesk digest to 155d1cd (#31982)
  charts/stable/tachidesk-docker/Chart.yaml
  charts/stable/tachidesk-docker/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/universalmediaserver/ums digest to c10efa6 (#31981)
  charts/stable/universal-media-server/Chart.yaml
  charts/stable/universal-media-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1404 → 0.22.1411 (#31983)
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/searxng/searxng digest to a555d80 (#31980)
  charts/stable/searxng/Chart.yaml
  charts/stable/searxng/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/m1k1o/neko/chromium 2.8.12 → 2.8.13 (#31985)
  charts/stable/neko/Chart.yaml
  charts/stable/neko/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/m1k1o/neko/brave 2.8.12 → 2.8.13 (#31984)
  charts/stable/neko/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/m1k1o/neko/microsoft-edge 2.8.12 → 2.8.13 (#31988)
  charts/stable/neko/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/m1k1o/neko/remmina 2.8.12 → 2.8.13 (#31989)
  charts/stable/neko/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/m1k1o/neko/vlc 2.8.12 → 2.8.13 (#31992)
  charts/stable/neko/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/manyfold3d/manyfold 0.99.1 → 0.100.0 (#31995)
  charts/incubator/manyfold/Chart.yaml
  charts/incubator/manyfold/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/m1k1o/neko/vivaldi 2.8.12 → 2.8.13 (#31991)
  charts/stable/neko/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/m1k1o/neko/firefox 2.8.12 → 2.8.13 (#31986)
  charts/stable/neko/Chart.yaml
  charts/stable/neko/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/m1k1o/neko/xfce 2.8.12 → 2.8.13 (#31993)
  charts/stable/neko/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/m1k1o/neko/google-chrome 2.8.12 → 2.8.13 (#31987)
  charts/stable/neko/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/m1k1o/neko/tor-browser 2.8.12 → 2.8.13 (#31990)
  charts/stable/neko/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to 3033a16
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/resilio-sync digest to 617fcd0
  charts/stable/resilio-sync/Chart.yaml
  charts/stable/resilio-sync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/smokeping digest to fae29ee
  charts/stable/smokeping/Chart.yaml
  charts/stable/smokeping/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/advplyr/audiobookshelf 2.19.0 → 2.19.1 (#31960)
  charts/stable/audiobookshelf/Chart.yaml
  charts/stable/audiobookshelf/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/resilio-sync digest to 617fcd0 (#31939)
  charts/stable/resilio-sync/Chart.yaml
  charts/stable/resilio-sync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/smokeping digest to fae29ee (#31940)
  charts/stable/smokeping/Chart.yaml
  charts/stable/smokeping/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to 3033a16 (#31943)
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update Chart.yaml
  charts/stable/rsshub/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update chart redis 15.6.3 → 15.6.4 (#31978)
  charts/incubator/manyfold/Chart.yaml
  charts/incubator/mixpost/Chart.yaml
  charts/incubator/plant-it/Chart.yaml
  charts/premium/authelia/Chart.yaml
  charts/premium/blocky/Chart.yaml
  charts/premium/nextcloud/Chart.yaml
  charts/stable/anonaddy/Chart.yaml
  charts/stable/authentik/Chart.yaml
  charts/stable/baserow/Chart.yaml
  charts/stable/ctfd/Chart.yaml
  charts/stable/etesync/Chart.yaml
  charts/stable/fireflyiii/Chart.yaml
  charts/stable/friendica/Chart.yaml
  charts/stable/ghostfolio/Chart.yaml
  charts/stable/hasty-paste/Chart.yaml
  charts/stable/humhub/Chart.yaml
  charts/stable/immich/Chart.yaml
  charts/stable/misskey/Chart.yaml
  charts/stable/n8n/Chart.yaml
  charts/stable/nitter/Chart.yaml
  charts/stable/nocodb/Chart.yaml
  charts/stable/onlyoffice-document-server/Chart.yaml
  charts/stable/outline/Chart.yaml
  charts/stable/paperless-ngx/Chart.yaml
  charts/stable/papermerge/Chart.yaml
  charts/stable/romm/Chart.yaml
  charts/stable/rsshub/Chart.yaml
  charts/stable/send/Chart.yaml
  charts/stable/shlink/Chart.yaml
  charts/stable/speedtest-tracker/Chart.yaml
  charts/stable/vikunja/Chart.yaml
  charts/stable/weblate/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to 3f364e4
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image blocky 16.13.4 → 16.13.5 (clustertool)
  clustertool/embed/generic/kubernetes/core/blocky/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image jackett 23.3.18 → 23.3.19
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image ghcr.io/manyfold3d/manyfold 0.100.0 → 0.100.1
  charts/incubator/manyfold/Chart.yaml
  charts/incubator/manyfold/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/plex 1.41.3.9314-a0bfb8370 → 1.41.4.9463-630c9f557
  charts/stable/plex/Chart.yaml
  charts/stable/plex/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image quay.io/netdata/netdata v2.2.4 → v2.2.5
  charts/stable/netdata/Chart.yaml
  charts/stable/netdata/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2025-02-11 → 2025-02-12
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update astro 5.2.5 → 5.2.6
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/fireflyiii/core version-6.1.25 → version-6.2.5
  charts/stable/fireflyiii/Chart.yaml
  charts/stable/fireflyiii/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97
