Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

chore(helm): update image ghcr.io/linuxserver/rsnapshot digest to 339cc11
  charts/stable/rsnapshot/Chart.yaml
  charts/stable/rsnapshot/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/webgrabplus digest to 32d6e04
  charts/stable/webgrabplus/Chart.yaml
  charts/stable/webgrabplus/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/znc digest to 2c2d7ae
  charts/stable/znc/Chart.yaml
  charts/stable/znc/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to 16911e3
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/mintplex-labs/anything-llm digest to 798952a
  charts/stable/anything-llm/Chart.yaml
  charts/stable/anything-llm/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/open-webui/open-webui digest to 1623214
  charts/stable/ollama/Chart.yaml
  charts/stable/ollama/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/sethforprivacy/simple-monerod digest to 7f5a3fd
  charts/stable/monero-node/Chart.yaml
  charts/stable/monero-node/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/suwayomi/tachidesk digest to 542e2d4
  charts/stable/tachidesk-docker/Chart.yaml
  charts/stable/tachidesk-docker/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image hello-world digest to e0b569a
  charts/premium/clusterissuer/Chart.yaml
  charts/premium/clusterissuer/values.yaml
  charts/premium/metallb-config/Chart.yaml
  charts/premium/metallb-config/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/blender digest to 6c3e6c4
  charts/stable/blender/Chart.yaml
  charts/stable/blender/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/heimdall digest to 6b36556
  charts/stable/heimdall/Chart.yaml
  charts/stable/heimdall/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image quay.io/coderaiser/cloudcmd digest to 45cb2c0
  charts/stable/cloudcommander/Chart.yaml
  charts/stable/cloudcommander/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image registry digest to a3d8aaa
  charts/stable/dockerregistry/Chart.yaml
  charts/stable/dockerregistry/values.yaml
  charts/stable/reg/Chart.yaml
  charts/stable/reg/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update chart memcached 14.5.4 → 14.5.5
  charts/stable/seafile/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/shlinkio/shlink 4.4.0 → 4.4.2
  charts/stable/shlink/Chart.yaml
  charts/stable/shlink/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/authelia/authelia 4.38.18 → 4.38.19
  charts/premium/authelia/Chart.yaml
  charts/premium/authelia/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/ix-ai/smtp v0.7.2 → v0.7.3
  charts/stable/smtp-relay/Chart.yaml
  charts/stable/smtp-relay/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/recyclarr/recyclarr 7.4.0 → 7.4.1
  charts/stable/recyclarr/Chart.yaml
  charts/stable/recyclarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image tccr.io/tccr/alpine v3.21.2 → v3.21.3
  charts/library/common/Chart.yaml
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/fireflyiii/core version-6.1.25 → version-6.2.6
  charts/stable/fireflyiii/Chart.yaml
  charts/stable/fireflyiii/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/msdeluise/plant-it-server 0.8.0 → 0.10.0
  charts/incubator/plant-it/Chart.yaml
  charts/incubator/plant-it/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/renovate/renovate 39.164.0 → 39.170.1
  charts/stable/renovate/Chart.yaml
  charts/stable/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/nwithan8/tauticord 5.11.0 → 5.12.0
  charts/stable/tauticord/Chart.yaml
  charts/stable/tauticord/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update @astrojs/starlight 0.31.1 → 0.32.0
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(website): update astro 5.2.5 → 5.3.0
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update chart kube-prometheus-stack 68.5.0 → 69.3.1
  charts/premium/prometheus/Chart.yaml
  charts/system/prometheus-operator/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/dpage/pgadmin4 8.14 → 9.0
  charts/stable/pgadmin/Chart.yaml
  charts/stable/pgadmin/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/avidemux v24.12.1 → v25.02.1
  charts/stable/avidemux/Chart.yaml
  charts/stable/avidemux/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/czkawka v24.12.1 → v25.02.1
  charts/stable/czkawka/Chart.yaml
  charts/stable/czkawka/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/filebot v24.12.1 → v25.02.1
  charts/stable/filebot/Chart.yaml
  charts/stable/filebot/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/handbrake v24.12.1 → v25.02.2
  charts/stable/handbrake/Chart.yaml
  charts/stable/handbrake/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/jdownloader-2 v24.12.1 → v25.02.1
  charts/stable/jdownloader2/Chart.yaml
  charts/stable/jdownloader2/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/makemkv v24.12.1 → v25.02.2
  charts/stable/makemkv/Chart.yaml
  charts/stable/makemkv/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/mediainfo v24.12.1 → v25.02.1
  charts/stable/mediainfo/Chart.yaml
  charts/stable/mediainfo/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/mkvcleaver v24.12.1 → v25.02.1
  charts/stable/mkvcleaver/Chart.yaml
  charts/stable/mkvcleaver/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/mkvtoolnix v24.12.2 → v25.02.1
  charts/stable/mkvtoolnix/Chart.yaml
  charts/stable/mkvtoolnix/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/putty v24.12.1 → v25.02.1
  charts/stable/putty/Chart.yaml
  charts/stable/putty/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/qdirstat v24.12.1 → v25.02.1
  charts/stable/qdirstat/Chart.yaml
  charts/stable/qdirstat/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Add documentation for `clustertool talos kubeconfig` command
  website/src/content/docs/clustertool/commands/talos/kubeconfig.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/rogerfar/rdtclient 2.0.96 → 2.0.97
  charts/stable/rdtclient/Chart.yaml
  charts/stable/rdtclient/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97
