Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

chore(container): update golang:1.24.0-alpine docker digest to 2d40d4f
  containers/apps/kube-sa-proxy/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(container): update tccr.io/tccr/alpine:latest docker digest to 8ae22cc
  containers/apps/db-wait-mariadb/Dockerfile
  containers/apps/db-wait-postgres/Dockerfile
  containers/apps/db-wait-redis/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(container): update traefik:v3.3.3 docker digest to 19884a9
  containers/apps/traefik/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(helm): update image docker.io/n8nio/n8n 1.79.0 → 1.79.1
  charts/stable/n8n/Chart.yaml
  charts/stable/n8n/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(container): update golang:1.24.0-alpine docker digest to 2d40d4f (#32180)
  containers/apps/kube-sa-proxy/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(container): update tccr.io/tccr/alpine:latest docker digest to 8ae22cc (#32181)
  containers/apps/db-wait-mariadb/Dockerfile
  containers/apps/db-wait-postgres/Dockerfile
  containers/apps/db-wait-redis/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(container): update traefik:v3.3.3 docker digest to 19884a9 (#32182)
  containers/apps/traefik/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(helm): update image twinproduction/gatus v5.15.0 → v5.16.0
  charts/incubator/gatus/Chart.yaml
  charts/incubator/gatus/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/shenxn/protonmail-bridge 3.12.0 → 3.16.0
  charts/stable/protonmail-bridge/Chart.yaml
  charts/stable/protonmail-bridge/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/revenz/fileflows 25.01 → 25.02
  charts/stable/fileflows/Chart.yaml
  charts/stable/fileflows/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/outlinewiki/outline 0.81.1 → 0.82.0
  charts/stable/outline/Chart.yaml
  charts/stable/outline/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/onerahmet/openai-whisper-asr-webservice v1.7.1 → v1.8.2
  charts/stable/whisper-asr-webservice/Chart.yaml
  charts/stable/whisper-asr-webservice/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update Ingress Guide
  website/astro.config.mjs
  website/package-lock.json
  website/src/content/docs/guides/add-ingress.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Move stuff
  charts/premium/metallb-config/setup-guide
  website/src/content/docs/guides/addons/code-server.md
  website/src/content/docs/guides/addons/img/vpn_proxy_1.png
  website/src/content/docs/guides/addons/img/vpn_testing.png
  website/src/content/docs/guides/addons/img/vpn_wireguard_config.png
  website/src/content/docs/guides/addons/vpn-setup.md
  website/src/content/docs/guides/backup & restore/cnpg-backup-restore.md
  website/src/content/docs/guides/backup & restore/volsync-backup-restore.md
  website/src/content/docs/guides/img/s3_backblaze_1.png
  website/src/content/docs/guides/img/s3_backblaze_2.png
  website/src/content/docs/guides/img/s3_backblaze_3.png
  website/src/content/docs/guides/img/s3_cloudflare_1.png
  website/src/content/docs/guides/img/s3_cloudflare_2.png
  website/src/content/docs/guides/img/s3_cloudflare_3.png
  website/src/content/docs/guides/img/s3_minio_1.png
  website/src/content/docs/guides/img/s3_minio_2.png
  website/src/content/docs/guides/img/s3_minio_3.png
  website/src/content/docs/guides/img/s3_minio_4.png
  website/src/content/docs/guides/img/s3_minio_5.png
  website/src/content/docs/guides/img/s3_storj_1.png
  website/src/content/docs/guides/img/s3_storj_2.png
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Delete charts/premium/metallb-config/setup-guide
  charts/premium/metallb-config/setup-guide
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image twinproduction/gatus v5.15.0 → v5.16.0 (#32222)
  charts/incubator/gatus/Chart.yaml
  charts/incubator/gatus/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/shenxn/protonmail-bridge 3.12.0 → 3.16.0 (#32221)
  charts/stable/protonmail-bridge/Chart.yaml
  charts/stable/protonmail-bridge/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/outlinewiki/outline 0.81.1 → 0.82.0 (#32219)
  charts/stable/outline/Chart.yaml
  charts/stable/outline/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/revenz/fileflows 25.01 → 25.02 (#32220)
  charts/stable/fileflows/Chart.yaml
  charts/stable/fileflows/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/onerahmet/openai-whisper-asr-webservice v1.7.1 → v1.8.2 (#32218)
  charts/stable/whisper-asr-webservice/Chart.yaml
  charts/stable/whisper-asr-webservice/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/n8nio/n8n 1.79.0 → 1.80.0
  charts/stable/n8n/Chart.yaml
  charts/stable/n8n/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ghostfolio/ghostfolio 2.138.0 → 2.139.1
  charts/stable/ghostfolio/Chart.yaml
  charts/stable/ghostfolio/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2025-02-17 → 2025-02-18
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/qbittorrent 5.0.3 → 5.0.4
  charts/stable/qbittorrent/Chart.yaml
  charts/stable/qbittorrent/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image fyb3roptik/threadfin 1.2.26 → 1.2.28
  charts/stable/threadfin/Chart.yaml
  charts/stable/threadfin/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Redo Quick-Start Guide
  website/src/content/docs/guides/index.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

update nvidia guide
  website/src/content/docs/guides/gpu/nvidia.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

add talos stuff
  website/src/content/docs/guides/talos/talos.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/n8nio/n8n 1.79.0 → 1.80.0 (#32217)
  charts/stable/n8n/Chart.yaml
  charts/stable/n8n/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/qbittorrent 5.0.3 → 5.0.4 (#32214)
  charts/stable/qbittorrent/Chart.yaml
  charts/stable/qbittorrent/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image fyb3roptik/threadfin 1.2.26 → 1.2.28 (#32213)
  charts/stable/threadfin/Chart.yaml
  charts/stable/threadfin/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ghostfolio/ghostfolio 2.138.0 → 2.139.1 (#32216)
  charts/stable/ghostfolio/Chart.yaml
  charts/stable/ghostfolio/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2025-02-17 → 2025-02-18 (patch) (#32215)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

first changes
  website/src/content/docs/development/chart-structure.md
  website/src/content/docs/development/chart-yaml-structure.md
  website/src/content/docs/development/contibuting-example.md
  website/src/content/docs/development/handycommands.md
  website/src/content/docs/development/ingress.md
  website/src/content/docs/development/services.md
  website/src/content/docs/development/storage.md
  website/src/content/docs/development/values-yaml.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

remove link
  website/src/content/docs/guides/index.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/metabase/metabase v0.53.2 → v0.53.3
  charts/stable/metabase/Chart.yaml
  charts/stable/metabase/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/homebridge/homebridge 2025-02-15 → 2025-02-16
  charts/stable/homebridge/Chart.yaml
  charts/stable/homebridge/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/doitandbedone/ispyagentdvr 6.1.6.0 → 6.1.8.0
  charts/stable/ispy-agent-dvr/Chart.yaml
  charts/stable/ispy-agent-dvr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/bizmodeller/mymediaforalexa 1.3.152.0 → 1.3.152.1
  charts/stable/mymediaforalexa/Chart.yaml
  charts/stable/mymediaforalexa/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/anonaddy/anonaddy 1.3.0 → 1.3.1
  charts/stable/anonaddy/Chart.yaml
  charts/stable/anonaddy/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97
