Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

chore(helm): update image ghcr.io/fluidd-core/fluidd v1.32.2 → v1.32.3
  charts/stable/fluidd/Chart.yaml
  charts/stable/fluidd/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/stirling-tools/s-pdf 0.41.0 → 0.42.0
  charts/stable/stirling-pdf/Chart.yaml
  charts/stable/stirling-pdf/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image clusterissuer 9.5.1 → 9.5.2 (clustertool) (#32258)
  clustertool/embed/generic/kubernetes/core/clusterissuer/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image metallb-config 8.5.1 → 8.5.2 (clustertool) (#32260)
  clustertool/embed/generic/kubernetes/core/metallb-config/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(github-action): update actions/cache digest to 0c907a7 (#32253)
  .github/workflows/charts-release.yaml
  .github/workflows/common-tests.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image jackett 23.3.23 → 23.3.24 (#32259)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image docker.io/diygod/rsshub digest to 0272d09 (#32254)
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/suwayomi/tachidesk digest to 38a6295 (#32256)
  charts/stable/tachidesk-docker/Chart.yaml
  charts/stable/tachidesk-docker/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/fluidd-core/fluidd v1.32.2 → v1.32.3 (#32261)
  charts/stable/fluidd/Chart.yaml
  charts/stable/fluidd/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/stirling-tools/s-pdf 0.41.0 → 0.42.0 (#32262)
  charts/stable/stirling-pdf/Chart.yaml
  charts/stable/stirling-pdf/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to 2d25aee (#32255)
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter (#32257)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to 7d5085b
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to 782ae5b
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/plex digest to 1d75895
  charts/stable/plex/Chart.yaml
  charts/stable/plex/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/alertmanager digest to b0f89be
  charts/premium/prometheus/Chart.yaml
  charts/premium/prometheus/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/plex digest to 1d75895 (#32265)
  charts/stable/plex/Chart.yaml
  charts/stable/plex/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to 782ae5b (#32264)
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to 7d5085b (#32263)
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/alertmanager digest to b0f89be (#32266)
  charts/premium/prometheus/Chart.yaml
  charts/premium/prometheus/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to 9f2b4b9
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to 912fe2a
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/prowlarr-develop digest to 269667d
  charts/stable/prowlarr/Chart.yaml
  charts/stable/prowlarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/anotherstranger/borg-server 2.6.6 → 2.6.7
  charts/stable/borg-server/Chart.yaml
  charts/stable/borg-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1438 → 0.22.1443
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to 9f2b4b9 (#32267)
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/prowlarr-develop digest to 269667d (#32269)
  charts/stable/prowlarr/Chart.yaml
  charts/stable/prowlarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1438 → 0.22.1443 (#32271)
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to 912fe2a (#32268)
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/anotherstranger/borg-server 2.6.6 → 2.6.7 (#32270)
  charts/stable/borg-server/Chart.yaml
  charts/stable/borg-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(jdownloader2) remove outdated docs
  charts/stable/jdownloader2/docs/installation_notes.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Create ci-values.yaml
  charts/stable/renovate/ci/ci-values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(jdownloader2) remove outdated docs (#32272)
  charts/stable/jdownloader2/docs/installation_notes.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/renovate/renovate 39.164.0 → 39.173.1 (#32250)
  charts/stable/renovate/Chart.yaml
  charts/stable/renovate/ci/ci-values.yaml
  charts/stable/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update docker/build-push-action digest to 0adf995
  .github/workflows/containers.build.yaml
  containers/apps/kube-sa-proxy/.github/workflows/docker-publish.yml
Owners: @privatepuffin, @stavros-k, @truecharts/core-team, @alfi0812, @kqmaverick, @Heavybullets8

chore(helm): update image docker.io/diygod/rsshub digest to b335612
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.24 → 23.3.25
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image ghcr.io/dgtlmoon/changedetection.io 0.49.1 → 0.49.2
  charts/stable/changedetection-io/Chart.yaml
  charts/stable/changedetection-io/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update docker/build-push-action digest to 0adf995 (#32273)
  .github/workflows/containers.build.yaml
  containers/apps/kube-sa-proxy/.github/workflows/docker-publish.yml
Owners: @privatepuffin, @stavros-k, @truecharts/core-team, @alfi0812, @kqmaverick, @Heavybullets8

chore(flux): update image jackett 23.3.24 → 23.3.25 (#32275)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin
