Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

.github/CODEOWNERS:

# Default code owners
*                         @truecharts/core-team @privatepuffin @stavros-k @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**        @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md        @privatepuffin @stavros-k @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97

chore(container): update public.ecr.aws/docker/library/nextcloud docker tag to v31 (#32582)
  containers/apps/nextcloud-fpm/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1458 → 0.22.1459 (#32580)
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to fcba55f (#32579)
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/stirling-tools/s-pdf 0.43.0 → 0.43.1 (#32581)
  charts/stable/stirling-pdf/Chart.yaml
  charts/stable/stirling-pdf/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update authentik 2024.12.3 → 2025.2.0 (major) (#32583)
  charts/stable/authentik/Chart.yaml
  charts/stable/authentik/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(container): update public.ecr.aws/docker/library/nextcloud:31.0.0-fpm docker digest to dd76149
  containers/apps/nextcloud-fpm/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update docker/build-push-action digest to 471d1dc
  .github/workflows/containers.build.yaml
  containers/apps/kube-sa-proxy/.github/workflows/docker-publish.yml
Owners: @privatepuffin, @stavros-k, @truecharts/core-team, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update docker/metadata-action digest to 902fa8e
  .github/workflows/containers.build.yaml
  containers/apps/kube-sa-proxy/.github/workflows/docker-publish.yml
Owners: @privatepuffin, @stavros-k, @truecharts/core-team, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update docker/setup-buildx-action digest to b5ca514
  .github/workflows/containers.build.yaml
Owners: @privatepuffin, @stavros-k

chore(github-action): update docker/setup-qemu-action digest to 5964de0
  .github/workflows/containers.build.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image public.ecr.aws/bitnami/wordpress digest to fab54ea
  charts/stable/wordpress/Chart.yaml
  charts/stable/wordpress/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.31 → 23.3.32
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image ghcr.io/pmmp/pocketmine-mp 5.25.0 → 5.25.1
  charts/stable/pocketmine-mp/Chart.yaml
  charts/stable/pocketmine-mp/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/immich-app/immich-server v1.126.1 → v1.127.0
  charts/stable/immich/Chart.yaml
  charts/stable/immich/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(container): update public.ecr.aws/docker/library/nextcloud:31.0.0-fpm docker digest to dd76149 (#32584)
  containers/apps/nextcloud-fpm/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update docker/build-push-action digest to 471d1dc (#32585)
  .github/workflows/containers.build.yaml
  containers/apps/kube-sa-proxy/.github/workflows/docker-publish.yml
Owners: @privatepuffin, @stavros-k, @truecharts/core-team, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update docker/setup-buildx-action digest to b5ca514 (#32587)
  .github/workflows/containers.build.yaml
Owners: @privatepuffin, @stavros-k

chore(github-action): update docker/metadata-action digest to 902fa8e (#32586)
  .github/workflows/containers.build.yaml
  containers/apps/kube-sa-proxy/.github/workflows/docker-publish.yml
Owners: @privatepuffin, @stavros-k, @truecharts/core-team, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.31 → 23.3.32 (#32590)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(github-action): update docker/setup-qemu-action digest to 5964de0 (#32588)
  .github/workflows/containers.build.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image ghcr.io/immich-app/immich-server v1.126.1 → v1.127.0 (#32592)
  charts/stable/immich/Chart.yaml
  charts/stable/immich/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/pmmp/pocketmine-mp 5.25.0 → 5.25.1 (#32591)
  charts/stable/pocketmine-mp/Chart.yaml
  charts/stable/pocketmine-mp/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/wordpress digest to fab54ea (#32589)
  charts/stable/wordpress/Chart.yaml
  charts/stable/wordpress/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

nextcloud container: fix version number
  .github/workflows/containers.build.yaml
  containers/apps/nextcloud-fpm/get-version.sh
Owners: @privatepuffin, @stavros-k, @truecharts/core-team, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix
  containers/apps/nextcloud-fpm/VERSION
  containers/apps/nextcloud-fpm/latest-version.sh
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chmod
  containers/apps/nextcloud-fpm/get-version.sh
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Authelia Update Setup-Guide.md
  charts/premium/authelia/docs/Setup-Guide.md
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Authelia Update Setup-Guide.md (#32594)
  charts/premium/authelia/docs/Setup-Guide.md
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update authentik 2025.2.0 → 2025.2.1
  charts/stable/authentik/Chart.yaml
  charts/stable/authentik/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/emby 4.9.0.38 → 4.9.0.40
  charts/stable/emby/Chart.yaml
  charts/stable/emby/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2025-02-24 → 2025-02-26
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/bookstack 24.12.20241223 → 25.02.20250226
  charts/stable/bookstack/Chart.yaml
  charts/stable/bookstack/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update authentik 2025.2.0 → 2025.2.1 (patch) (#32595)
  charts/stable/authentik/Chart.yaml
  charts/stable/authentik/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2025-02-24 → 2025-02-26 (patch) (#32597)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/emby 4.9.0.38 → 4.9.0.40 (#32596)
  charts/stable/emby/Chart.yaml
  charts/stable/emby/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to 2480e57
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/oscam 11869-ls134 → 11870-ls134
  charts/stable/oscam/Chart.yaml
  charts/stable/oscam/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/oscam 11869-ls134 → 11870-ls134 (#32600)
  charts/stable/oscam/Chart.yaml
  charts/stable/oscam/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to 2480e57 (#32599)
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/bookstack 24.12.20241223 → 25.02.20250226 (#32598)
  charts/stable/bookstack/Chart.yaml
  charts/stable/bookstack/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97
