Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

.github/CODEOWNERS:

# Default code owners
*                         @truecharts/core-team @privatepuffin @stavros-k @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**        @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md        @privatepuffin @stavros-k @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97

chore(helm): update image docker.io/feramance/qbitrr v4.10.12 → v4.10.13
  charts/stable/qbitrr/Chart.yaml
  charts/stable/qbitrr/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/homebridge/homebridge 2025-02-16 → 2025-02-26
  charts/stable/homebridge/Chart.yaml
  charts/stable/homebridge/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/makemkv v25.02.2 → v25.02.3
  charts/stable/makemkv/Chart.yaml
  charts/stable/makemkv/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/kubernetesui/dashboard-api 1.10.2 → 1.10.3
  charts/premium/kubernetes-dashboard/Chart.yaml
  charts/premium/kubernetes-dashboard/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/kubernetesui/dashboard-web 1.6.1 → 1.6.2
  charts/premium/kubernetes-dashboard/Chart.yaml
  charts/premium/kubernetes-dashboard/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/misskey/misskey 2025.2.0 → 2025.2.1
  charts/stable/misskey/Chart.yaml
  charts/stable/misskey/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/n8nio/n8n 1.80.3 → 1.80.4
  charts/stable/n8n/Chart.yaml
  charts/stable/n8n/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/nocodb/nocodb 0.262.0 → 0.262.1
  charts/stable/nocodb/Chart.yaml
  charts/stable/nocodb/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/onlyoffice/documentserver 8.3.0 → 8.3.1
  charts/stable/onlyoffice-document-server/Chart.yaml
  charts/stable/onlyoffice-document-server/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/portainer/portainer-ce 2.27.0 → 2.27.1
  charts/stable/portainer/Chart.yaml
  charts/stable/portainer/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/portainer/portainer-ee 2.27.0 → 2.27.1
  charts/stable/portainer/Chart.yaml
  charts/stable/portainer/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/sonatype/nexus3 3.77.1 → 3.77.2
  charts/stable/nexus-oss/Chart.yaml
  charts/stable/nexus-oss/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/tinymediamanager/tinymediamanager 5.1.2 → 5.1.3
  charts/stable/tinymediamanager/Chart.yaml
  charts/stable/tinymediamanager/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/whyour/qinglong 2.18.1 → 2.18.2
  charts/stable/qinglong/Chart.yaml
  charts/stable/qinglong/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/doitandbedone/ispyagentdvr 6.1.8.0 → 6.2.1.0
  charts/stable/ispy-agent-dvr/Chart.yaml
  charts/stable/ispy-agent-dvr/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ghostfolio/ghostfolio 2.140.0 → 2.141.0
  charts/stable/ghostfolio/Chart.yaml
  charts/stable/ghostfolio/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/haveagitgat/tdarr 2.33.01 → 2.34.01
  charts/stable/tdarr/Chart.yaml
  charts/stable/tdarr/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/haveagitgat/tdarr_node 2.33.01 → 2.34.01
  charts/stable/tdarr-node/Chart.yaml
  charts/stable/tdarr-node/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jenkins/jenkins 2.498 → 2.499
  charts/stable/jenkins/Chart.yaml
  charts/stable/jenkins/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/n8nio/n8n 1.80.3 → 1.81.1
  charts/stable/n8n/Chart.yaml
  charts/stable/n8n/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/wekanteam/wekan v7.81 → v7.82
  charts/stable/wekan/Chart.yaml
  charts/stable/wekan/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/zwavejs/zwave-js-ui 9.30.1 → 9.31.0
  charts/stable/zwavejs2mqtt/Chart.yaml
  charts/stable/zwavejs2mqtt/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(deps): update module github.com/go-git/go-git/v5 v5.13.2 → v5.14.0 (clustertool)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k

fix(website): update astro 5.2.6 → 5.4.0
  website/package.json
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(container): update golang:1.24.0 docker digest to cd0c949 (#32605)
  containers/apps/charts-ci/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update actions/cache digest to d4323d4 (#32606)
  .github/workflows/charts-release.yaml
  .github/workflows/common-tests.yaml
Owners: @privatepuffin, @stavros-k

chore(container): update traefik docker tag to v3.3.4 (#32625)
  containers/apps/traefik/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.32 → 23.3.33 (#32627)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(flux): update image blocky 16.13.6 → 16.13.8 (clustertool) (#32626)
  clustertool/embed/generic/kubernetes/core/blocky/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/feramance/qbitrr v4.10.12 → v4.10.13 (#32633)
  charts/stable/qbitrr/Chart.yaml
  charts/stable/qbitrr/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/benzino77/tasmocompiler digest to 63640e0 (#32610)
  charts/stable/tasmocompiler/Chart.yaml
  charts/stable/tasmocompiler/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/revenz/fileflows digest to 54ae364 (#32616)
  charts/stable/fileflows/Chart.yaml
  charts/stable/fileflows/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/webpsh/webps digest to 0e7d505 (#32618)
  charts/stable/webp-server/Chart.yaml
  charts/stable/webp-server/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image friendica digest to 1028146 (#32620)
  charts/stable/friendica/Chart.yaml
  charts/stable/friendica/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/xavierh/goaccess-for-nginxproxymanager digest to 4604796 (#32619)
  charts/stable/goaccess-npm-logs/Chart.yaml
  charts/stable/goaccess-npm-logs/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image monica digest to 06ee8de (#32623)
  charts/stable/monica/Chart.yaml
  charts/stable/monica/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/riven-frontend digest to c901b97 (#32621)
  charts/stable/riven/Chart.yaml
  charts/stable/riven/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/b4bz/homer v25.02.1 → v25.02.2 (#32629)
  charts/stable/homer/Chart.yaml
  charts/stable/homer/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker 28.0.0 → 28.0.1 (#32628)
  charts/stable/docker/Chart.yaml
  charts/stable/docker/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/docuseal/docuseal 1.9.2 → 1.9.3 (#32631)
  charts/stable/docuseal/Chart.yaml
  charts/stable/docuseal/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97
