Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

.github/CODEOWNERS:

# Default code owners
*                         @truecharts/core-team @privatepuffin @stavros-k @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**        @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md        @privatepuffin @stavros-k @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97

chore(helm): update image ghcr.io/linuxserver/budge digest to 605e977
  charts/stable/budge/Chart.yaml
  charts/stable/budge/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/testdasi/simple-dns-doh digest to d3e7394
  charts/stable/dns-doh-companion/Chart.yaml
  charts/stable/dns-doh-companion/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/soulraven1980/wdosg digest to 32746c2
  charts/stable/wdosg/Chart.yaml
  charts/stable/wdosg/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ronnieroller/media-roller digest to 77f6b22
  charts/stable/media-roller/Chart.yaml
  charts/stable/media-roller/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/josh5/steam-headless digest to bffdeb6
  charts/stable/steam-headless/Chart.yaml
  charts/stable/steam-headless/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/digikam digest to ef55dbc (#32526)
  charts/stable/digikam/Chart.yaml
  charts/stable/digikam/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/davos digest to a0470f1 (#32525)
  charts/stable/davos/Chart.yaml
  charts/stable/davos/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/soulraven1980/wdosg digest to 32746c2 (#32521)
  charts/stable/wdosg/Chart.yaml
  charts/stable/wdosg/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/budge digest to 605e977 (#32524)
  charts/stable/budge/Chart.yaml
  charts/stable/budge/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ronnieroller/media-roller digest to 77f6b22 (#32520)
  charts/stable/media-roller/Chart.yaml
  charts/stable/media-roller/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/testdasi/simple-dns-doh digest to d3e7394 (#32522)
  charts/stable/dns-doh-companion/Chart.yaml
  charts/stable/dns-doh-companion/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/josh5/steam-headless digest to bffdeb6 (#32518)
  charts/stable/steam-headless/Chart.yaml
  charts/stable/steam-headless/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/lazylibrarian digest to 1258157
  charts/stable/lazylibrarian/Chart.yaml
  charts/stable/lazylibrarian/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image tccr.io/tccr/nextcloud-fpm digest to e94432d
  charts/premium/nextcloud/Chart.yaml
  charts/premium/nextcloud/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image yourls digest to 24df737
  charts/stable/yourls/Chart.yaml
  charts/stable/yourls/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1455 → 0.22.1458
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update chart kube-prometheus-stack 69.4.1 → 69.5.1
  charts/premium/prometheus/Chart.yaml
  charts/system/prometheus-operator/Chart.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/manyfold3d/manyfold 0.101.0 → 0.102.0
  charts/stable/manyfold/Chart.yaml
  charts/stable/manyfold/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(website): update starlight-blog 0.16.1 → 0.18.0
  website/package.json
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/manyfold3d/manyfold 0.101.0 → 0.102.0 (#32552)
  charts/stable/manyfold/Chart.yaml
  charts/stable/manyfold/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image yourls digest to 24df737 (#32549)
  charts/stable/yourls/Chart.yaml
  charts/stable/yourls/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/lazylibrarian digest to 1258157 (#32547)
  charts/stable/lazylibrarian/Chart.yaml
  charts/stable/lazylibrarian/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image tccr.io/tccr/nextcloud-fpm digest to e94432d (#32548)
  charts/premium/nextcloud/Chart.yaml
  charts/premium/nextcloud/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1455 → 0.22.1458 (#32550)
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update chart kube-prometheus-stack 69.4.1 → 69.5.1 (#32551)
  charts/premium/prometheus/Chart.yaml
  charts/system/prometheus-operator/Chart.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/machines/filestash digest to 797e411
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/nzbhydra2 digest to 48ea041
  charts/stable/nzbhydra/Chart.yaml
  charts/stable/nzbhydra/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/firefox digest to 5f66803
  charts/stable/firefox/Chart.yaml
  charts/stable/firefox/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/plex digest to 7e169d1
  charts/stable/plex/Chart.yaml
  charts/stable/plex/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image yourls digest to 573aa79
  charts/stable/yourls/Chart.yaml
  charts/stable/yourls/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(flux): update image ghcr.io/fluxcd/flux-manifests v2.5.0 → v2.5.1 (clustertool)
  clustertool/embed/generic/root/repositories/oci/flux-manifests.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image jackett 23.3.30 → 23.3.31
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(flux): update image prometheus-operator 11.1.1 → 11.2.0 (clustertool)
  clustertool/embed/generic/kubernetes/system/prometheus-operator/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image ghcr.io/onedr0p/radarr 5.18.4.9674 → 5.19.3.9730
  charts/stable/radarr/Chart.yaml
  charts/stable/radarr/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.30 → 23.3.31 (#32560)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(flux): update image ghcr.io/fluxcd/flux-manifests v2.5.0 → v2.5.1 (clustertool) (#32559)
  clustertool/embed/generic/root/repositories/oci/flux-manifests.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image prometheus-operator 11.1.1 → 11.2.0 (clustertool) (#32561)
  clustertool/embed/generic/kubernetes/system/prometheus-operator/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/machines/filestash digest to 797e411 (#32554)
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/firefox digest to 5f66803 (#32556)
  charts/stable/firefox/Chart.yaml
  charts/stable/firefox/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/radarr 5.18.4.9674 → 5.19.3.9730 (#32562)
  charts/stable/radarr/Chart.yaml
  charts/stable/radarr/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97
