Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

chore(helm): update image docker.io/nocodb/nocodb 0.260.6 → 0.260.7
  charts/stable/nocodb/Chart.yaml
  charts/stable/nocodb/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/nodered/node-red 4.0.8 → 4.0.9
  charts/stable/node-red/Chart.yaml
  charts/stable/node-red/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ollama/ollama 0.5.8 → 0.5.11
  charts/stable/ollama/Chart.yaml
  charts/stable/ollama/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/semaphoreui/semaphore v2.12.8 → v2.12.14
  charts/incubator/semaphore/Chart.yaml
  charts/incubator/semaphore/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/homebridge/homebridge 2025-01-11 → 2025-02-15
  charts/stable/homebridge/Chart.yaml
  charts/stable/homebridge/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/n8nio/n8n 1.78.0 → 1.79.0
  charts/stable/n8n/Chart.yaml
  charts/stable/n8n/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/stonith404/pingvin-share v1.8.2 → v1.9.1
  charts/incubator/pingvin-share/Chart.yaml
  charts/incubator/pingvin-share/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/wiserain/flexget 3.14.4 → 3.15.6
  charts/stable/flexget/Chart.yaml
  charts/stable/flexget/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update astro 5.2.5 → 5.3.0
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(container): update alpine docker digest to a8560b3 (#32046)
  containers/apps/kube-sa-proxy/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(container): update golang:1.23.6-alpine docker digest to 9699757 (#32048)
  containers/apps/kube-sa-proxy/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(container): update golang:1.23.6 docker digest to 77a21b3 (#32047)
  containers/apps/charts-ci/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(container): update public.ecr.aws/docker/library/traefik:v3.3.3 docker digest to be1aeb8 (#32049)
  containers/apps/traefik/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(container): update traefik:v3.3.3 docker digest to be1aeb8 (#32050)
  containers/apps/traefik/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(helm): update image docker digest to baade57 (#32051)
  charts/stable/docker/Chart.yaml
  charts/stable/docker/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/alpine/socat digest to 2c36f5a (#32052)
  charts/stable/emby/Chart.yaml
  charts/stable/emby/values.yaml
  charts/stable/jellyfin/Chart.yaml
  charts/stable/jellyfin/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/automaticrippingmachine/automatic-ripping-machine digest to 13302c4 (#32053)
  charts/stable/automatic-ripping-machine/Chart.yaml
  charts/stable/automatic-ripping-machine/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/lmscommunity/lyrionmusicserver digest to 2292ea1 (#32055)
  charts/incubator/lyrion-music-server/Chart.yaml
  charts/incubator/lyrion-music-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/modem7/docker-rickroll digest to 03ce420 (#32056)
  charts/stable/rickroll/Chart.yaml
  charts/stable/rickroll/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/thelounge/thelounge digest to e660e78 (#32059)
  charts/stable/thelounge/Chart.yaml
  charts/stable/thelounge/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image eclipse-mosquitto digest to 21421af (#32061)
  charts/stable/mosquitto/Chart.yaml
  charts/stable/mosquitto/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/davos digest to 6eda50a (#32066)
  charts/stable/davos/Chart.yaml
  charts/stable/davos/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/hotio/autoscan digest to 9941d81 (#32062)
  charts/stable/autoscan/Chart.yaml
  charts/stable/autoscan/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/emulatorjs digest to de12b3d (#32068)
  charts/stable/emulatorjs/Chart.yaml
  charts/stable/emulatorjs/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/medusa digest to 397636c (#32071)
  charts/stable/medusa/Chart.yaml
  charts/stable/medusa/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/mstream digest to 14f49bf (#32072)
  charts/stable/mstream/Chart.yaml
  charts/stable/mstream/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/sickchill digest to 3cb3394 (#32074)
  charts/stable/sickchill/Chart.yaml
  charts/stable/sickchill/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/lazylibrarian digest to 986b5fa (#32070)
  charts/stable/lazylibrarian/Chart.yaml
  charts/stable/lazylibrarian/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(container): update alpine docker tag to v3.21.3 (#32090)
  containers/base/alpine/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(helm): update image docker.io/brandawg93/peanut 5.2.0 → 5.2.1 (#32093)
  charts/stable/peanut/Chart.yaml
  charts/stable/peanut/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ipfs/kubo v0.33.1 → v0.33.2 (#32098)
  charts/stable/ipfs/Chart.yaml
  charts/stable/ipfs/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/clickhouse/clickhouse-server 25.1.3.23 → 25.1.4.53 (#32094)
  charts/stable/clickhouse/Chart.yaml
  charts/stable/clickhouse/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/advplyr/audiobookshelf 2.19.1 → 2.19.2 (#32092)
  charts/stable/audiobookshelf/Chart.yaml
  charts/stable/audiobookshelf/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/doitandbedone/ispyagentdvr 6.1.3.0 → 6.1.6.0 (#32095)
  charts/stable/ispy-agent-dvr/Chart.yaml
  charts/stable/ispy-agent-dvr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image alpine 3.21.2 → 3.21.3 (#32091)
  charts/stable/external-service/Chart.yaml
  charts/stable/external-service/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/leonismoe/ariang 1.3.9 → 1.3.10 (#32099)
  charts/stable/ariang/Chart.yaml
  charts/stable/ariang/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/inovector/mixpost v2.1.0 → v2.1.1 (#32097)
  charts/incubator/mixpost/Chart.yaml
  charts/incubator/mixpost/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/homeassistant/home-assistant 2025.2.2 → 2025.2.4 (#32096)
  charts/stable/home-assistant/Chart.yaml
  charts/stable/home-assistant/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/nginxinc/nginx-unprivileged 1.27.3 → 1.27.4 (#32100)
  charts/premium/nextcloud/Chart.yaml
  charts/premium/nextcloud/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update astro 5.2.5 → 5.3.0 (#32111)
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97
