Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

chore(helm): update image docker.io/b4bz/homer v24.12.1 → v25.02.1 (#31591)
  charts/stable/homer/Chart.yaml
  charts/stable/homer/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1359 → 0.22.1363 (#31584)
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/speedtest-tracker 1.2.0 → 1.2.2 (#31567)
  charts/stable/speedtest-tracker/Chart.yaml
  charts/stable/speedtest-tracker/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ghostfolio/ghostfolio 2.136.0 → 2.137.1 (#31572)
  charts/stable/ghostfolio/Chart.yaml
  charts/stable/ghostfolio/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image renovate/renovate 39.146.1 → 39.146.4 (#31569)
  charts/incubator/renovate/Chart.yaml
  charts/incubator/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image quay.io/hedgedoc/hedgedoc 1.10.0 → 1.10.1 (#31568)
  charts/stable/hedgedoc/Chart.yaml
  charts/stable/hedgedoc/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/haveagitgat/tdarr 2.29.01 → 2.30.01 (#31586)
  charts/stable/tdarr/Chart.yaml
  charts/stable/tdarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/brandawg93/peanut 5.0.2 → 5.1.0 (#31585)
  charts/stable/peanut/Chart.yaml
  charts/stable/peanut/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/lidarr 2.8.2.4493 → 2.9.6.4552 (#31598)
  charts/stable/lidarr/Chart.yaml
  charts/stable/lidarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ronivay/xen-orchestra 5.168.1 → 5.169.1 (#31589)
  charts/stable/xen-orchestra/Chart.yaml
  charts/stable/xen-orchestra/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/radarr 5.17.2.9580 → 5.18.4.9674 (#31599)
  charts/stable/radarr/Chart.yaml
  charts/stable/radarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/haveagitgat/tdarr_node 2.29.01 → 2.30.01 (#31587)
  charts/stable/tdarr-node/Chart.yaml
  charts/stable/tdarr-node/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(website): lock file maintenance (#31575)
  website/package-lock.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(devcontainer): update dockerfile (#31594)
  containers/apps/devcontainer/VERSION
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

fix(Transmission): BREAKING CHANGE Switch Image to Linuxserver (#31595)
  charts/stable/transmission/Chart.yaml
  charts/stable/transmission/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image renovate/renovate 39.146.1 → 39.156.1 (#31573)
  charts/incubator/renovate/Chart.yaml
  charts/incubator/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update devcontainer.json
  .devcontainer/devcontainer.json
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

Update devcontainer.json
  clustertool/embed/generic/root/DOTREPLACEdevcontainer/devcontainer.json
Owners: @privatepuffin, @stavros-k

Commit daily changes
  charts/stable/transmission/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/machines/filestash digest to ebcd431
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to 7bd310a
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/kdenlive digest to a50ff0d
  charts/stable/kdenlive/Chart.yaml
  charts/stable/kdenlive/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(container): update tccr.io/tccr/devcontainer docker tag to v1.0.4
  .devcontainer/devcontainer.json
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(flux): update image jackett 23.3.9 → 23.3.10
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update chart mongodb 15.3.1 → 15.3.2
  charts/stable/mongo-express/Chart.yaml
  charts/stable/wekan/Chart.yaml
  charts/stable/youtubedl-material/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update chart cert-manager v1.16.3 → v1.17.0
  charts/system/cert-manager/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(container): update tccr.io/tccr/devcontainer docker tag to v1.0.4 (#31606)
  .devcontainer/devcontainer.json
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(flux): update image jackett 23.3.9 → 23.3.10 (#31607)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image ghcr.io/meeb/tubesync digest to 7bd310a (#31604)
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/machines/filestash digest to ebcd431 (#31603)
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/kdenlive digest to a50ff0d (#31605)
  charts/stable/kdenlive/Chart.yaml
  charts/stable/kdenlive/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update chart mongodb 15.3.1 → 15.3.2 (#31608)
  charts/stable/mongo-express/Chart.yaml
  charts/stable/wekan/Chart.yaml
  charts/stable/youtubedl-material/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update Chart.yaml
  charts/system/cert-manager/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update chart cert-manager v1.16.3 → v1.17.0 (#31609)
  charts/system/cert-manager/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(devcontainer): Update version (#31602)
  .devcontainer/devcontainer.json
  clustertool/embed/generic/root/DOTREPLACEdevcontainer/devcontainer.json
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @stavros-k

chore(container): update golang:1.23.5 docker digest to e213430
  containers/apps/charts-ci/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(github-action): update golangci/golangci-lint-action digest to e60da84
  .github/workflows/clustertool.golangci-lint.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker digest to ba55987
  charts/stable/docker/Chart.yaml
  charts/stable/docker/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/bitnami/alertmanager digest to e8d2dc5
  charts/premium/prometheus/Chart.yaml
  charts/premium/prometheus/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/clamav/clamav digest to cb9aed5
  charts/premium/nextcloud/Chart.yaml
  charts/premium/nextcloud/values.yaml
  charts/stable/clamav/Chart.yaml
  charts/stable/clamav/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97
