Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to baaea53
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jgraph/drawio digest to 37246b7
  charts/stable/drawio/Chart.yaml
  charts/stable/drawio/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/lmscommunity/lyrionmusicserver digest to d31ddf5
  charts/incubator/lyrion-music-server/Chart.yaml
  charts/incubator/lyrion-music-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/machines/filestash digest to 3355b98
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/mikenye/tar1090 digest to 786ceeb
  charts/stable/tar1090/Chart.yaml
  charts/stable/tar1090/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/searxng/searxng digest to cb1f826
  charts/stable/searxng/Chart.yaml
  charts/stable/searxng/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/soulraven1980/wdosg digest to 671be9a
  charts/incubator/wdosg/Chart.yaml
  charts/incubator/wdosg/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image friendica digest to 6ae9660
  charts/stable/friendica/Chart.yaml
  charts/stable/friendica/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/boinc digest to 74292b2
  charts/stable/boinc/Chart.yaml
  charts/stable/boinc/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/ddclient digest to 855acbb
  charts/stable/ddclient/Chart.yaml
  charts/stable/ddclient/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/digikam digest to f495e34
  charts/stable/digikam/Chart.yaml
  charts/stable/digikam/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/duckdns digest to 0f61de8
  charts/stable/duckdns/Chart.yaml
  charts/stable/duckdns/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/filezilla digest to 69a485e
  charts/stable/filezilla/Chart.yaml
  charts/stable/filezilla/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/lazylibrarian digest to 11d05bd
  charts/stable/lazylibrarian/Chart.yaml
  charts/stable/lazylibrarian/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/orcaslicer digest to 6853c24
  charts/stable/orcaslicer/Chart.yaml
  charts/stable/orcaslicer/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/rsnapshot digest to fe0790b
  charts/stable/rsnapshot/Chart.yaml
  charts/stable/rsnapshot/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/smokeping digest to 6db40c6
  charts/stable/smokeping/Chart.yaml
  charts/stable/smokeping/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/synclounge digest to ba531c3
  charts/stable/synclounge/Chart.yaml
  charts/stable/synclounge/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to d226f4c
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image redmine digest to 34271e3
  charts/stable/redmine/Chart.yaml
  charts/stable/redmine/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update rdesktop
  charts/stable/rdesktop/Chart.yaml
  charts/stable/rdesktop/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update webtop
  charts/stable/webtop/Chart.yaml
  charts/stable/webtop/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(container): update golang docker tag to v1.23.6
  containers/apps/charts-ci/Dockerfile
  containers/apps/kube-sa-proxy/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(flux): update image cert-manager 6.5.2 → 6.5.3 (clustertool)
  clustertool/embed/generic/kubernetes/system/cert-manager/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update chart kube-prometheus-stack 68.4.4 → 68.4.5
  charts/premium/prometheus/Chart.yaml
  charts/system/prometheus-operator/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/cglatot/pasta 1.6.4 → 1.6.6
  charts/stable/pasta/Chart.yaml
  charts/stable/pasta/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/clickhouse/clickhouse-server 25.1.2.3 → 25.1.3.23
  charts/stable/clickhouse/Chart.yaml
  charts/stable/clickhouse/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/flowiseai/flowise 2.2.4 → 2.2.5
  charts/stable/flowise/Chart.yaml
  charts/stable/flowise/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/grafana/grafana 11.5.0 → 11.5.1
  charts/premium/grafana/Chart.yaml
  charts/premium/grafana/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/n8nio/n8n 1.77.1 → 1.77.2
  charts/stable/n8n/Chart.yaml
  charts/stable/n8n/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/netdata/netdata v2.2.3 → v2.2.4
  charts/stable/netdata/Chart.yaml
  charts/stable/netdata/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/nocodb/nocodb 0.260.2 → 0.260.4
  charts/stable/nocodb/Chart.yaml
  charts/stable/nocodb/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/semaphoreui/semaphore v2.12.3 → v2.12.4
  charts/incubator/semaphore/Chart.yaml
  charts/incubator/semaphore/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/vaultwarden/server 1.33.0 → 1.33.1
  charts/premium/vaultwarden/Chart.yaml
  charts/premium/vaultwarden/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1363 → 0.22.1368
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/stirling-tools/s-pdf 0.40.1 → 0.40.2
  charts/stable/stirling-pdf/Chart.yaml
  charts/stable/stirling-pdf/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update astro 5.2.3 → 5.2.5
  website/package-lock.json
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(container): update docker.io/tailscale/tailscale docker tag to v1.80.0
  containers/apps/tailscale/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(flux): update helm release cilium 1.16.6 → 1.17.0 (clustertool)
  clustertool/embed/generic/kubernetes/kube-system/cilium/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/discordgsm/discord-game-server-monitor 2.17.0 → 2.18.0
  charts/stable/discordgsm/Chart.yaml
  charts/stable/discordgsm/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97
