Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

fix(deps): update module golang.org/x/crypto v0.32.0 → v0.33.0 (clustertool) (#31752)
  clustertool/go.mod
  clustertool/go.sum
Owners: @privatepuffin, @stavros-k

chore(flux): update image app-template 3.6.1 → 3.7.0 (clustertool) (#31744)
  clustertool/embed/generic/kubernetes/system/system-upgrade-controller/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/ronnieroller/media-roller digest to 944c215 (#31734)
  charts/stable/media-roller/Chart.yaml
  charts/stable/media-roller/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/cyfershepard/jellystat digest to 246ad02 (#31731)
  charts/stable/jellystat/Chart.yaml
  charts/stable/jellystat/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/machines/filestash digest to f36751f (#31733)
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/wabayang/jelu digest to f9947ab (#31735)
  charts/stable/jelu/Chart.yaml
  charts/stable/jelu/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to f89e8c6 (#31732)
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/drakkan/sftpgo v2.6.4 → v2.6.5 (#31740)
  charts/stable/sftpgo/Chart.yaml
  charts/stable/sftpgo/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/koenkk/zigbee2mqtt 2.1.0 → 2.1.1 (#31738)
  charts/stable/zigbee2mqtt/Chart.yaml
  charts/stable/zigbee2mqtt/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/sonatype/nexus3 3.77.0 → 3.77.1 (#31739)
  charts/stable/nexus-oss/Chart.yaml
  charts/stable/nexus-oss/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/stirling-tools/s-pdf 0.40.2 → 0.41.0 (#31751)
  charts/stable/stirling-pdf/Chart.yaml
  charts/stable/stirling-pdf/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/brandawg93/peanut 5.1.0 → 5.1.1 (#31737)
  charts/stable/peanut/Chart.yaml
  charts/stable/peanut/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/emby 4.9.0.37 → 4.9.0.38 (#31741)
  charts/stable/emby/Chart.yaml
  charts/stable/emby/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/speedtest-tracker 1.2.2 → 1.2.3 (#31743)
  charts/stable/speedtest-tracker/Chart.yaml
  charts/stable/speedtest-tracker/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/fluidd-core/fluidd v1.31.4 → v1.32.0 (#31749)
  charts/stable/fluidd/Chart.yaml
  charts/stable/fluidd/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/haveagitgat/tdarr_node 2.30.01 → 2.31.02 (#31747)
  charts/stable/tdarr-node/Chart.yaml
  charts/stable/tdarr-node/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/wekanteam/wekan v7.80 → v7.81 (#31748)
  charts/stable/wekan/Chart.yaml
  charts/stable/wekan/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/calibre 7.24.0 → 7.25.0 (#31750)
  charts/stable/calibre/Chart.yaml
  charts/stable/calibre/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/haveagitgat/tdarr 2.30.01 → 2.31.02 (#31746)
  charts/stable/tdarr/Chart.yaml
  charts/stable/tdarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1377 → 0.22.1381 (#31742)
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

some work on renovate
  charts/incubator/renovate/Chart.yaml
  charts/incubator/renovate/values.yaml
  clusters/main/kubernetes/apps/renovate/app/helm-release.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

set renovate cache dir
  clusters/main/kubernetes/apps/renovate/app/helm-release.yaml
Owners: @privatepuffin

use githubpattc for renovate
  clusters/main/kubernetes/apps/renovate/app/helm-release.yaml
Owners: @privatepuffin

fix(renovate): some minor renovate chart tweaks
  charts/incubator/renovate/Chart.yaml
  charts/incubator/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

bump chart version for renovate on cluster
  clusters/main/kubernetes/apps/renovate/app/helm-release.yaml
Owners: @privatepuffin

move renovate cache mountpoint
  charts/incubator/renovate/Chart.yaml
  charts/incubator/renovate/values.yaml
  clusters/main/kubernetes/apps/renovate/app/helm-release.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(container): update golang:1.23.6 docker digest to 9271129
  containers/apps/charts-ci/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(container): update golang:1.23.6-alpine docker digest to 2c49857
  containers/apps/kube-sa-proxy/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(helm): update image ghcr.io/linuxserver/boinc digest to 617c46e
  charts/stable/boinc/Chart.yaml
  charts/stable/boinc/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/doublecommander digest to 37cc4c0
  charts/stable/doublecommander/Chart.yaml
  charts/stable/doublecommander/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/emulatorjs digest to b6ac4ec
  charts/stable/emulatorjs/Chart.yaml
  charts/stable/emulatorjs/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/lazylibrarian digest to 986e972
  charts/stable/lazylibrarian/Chart.yaml
  charts/stable/lazylibrarian/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/mysql-workbench digest to 2e72ea0
  charts/stable/mysql-workbench/Chart.yaml
  charts/stable/mysql-workbench/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/openvscode-server digest to 3ff5b72
  charts/stable/openvscode-server/Chart.yaml
  charts/stable/openvscode-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/sickchill digest to 479993a
  charts/stable/sickchill/Chart.yaml
  charts/stable/sickchill/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to 8bd0993
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/blender digest to c79b8ec
  charts/stable/blender/Chart.yaml
  charts/stable/blender/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/pyload-ng digest to 48c4c2b
  charts/stable/pyload-ng/Chart.yaml
  charts/stable/pyload-ng/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image tccr.io/tccr/db-wait-mongodb digest to a7096b6
  charts/library/common/Chart.yaml
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image tccr.io/tccr/nextcloud-fpm digest to 1217576
  charts/premium/nextcloud/Chart.yaml
  charts/premium/nextcloud/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97
