Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

.github/CODEOWNERS:

# Default code owners
*                         @truecharts/core-team @privatepuffin @stavros-k @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**        @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md        @privatepuffin @stavros-k @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97

chore(blocky): increase list of default blocklists
  charts/premium/blocky/templates/_blockyConfig.tpl
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

feat(blocky): split default blacklists in different categories
  charts/premium/blocky/templates/_blockyConfig.tpl
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(blocky): use more default blocklists
  charts/premium/blocky/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(blocky): bump blocky
  charts/premium/blocky/Chart.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/zedeus/nitter digest to 27a6733
  charts/stable/nitter/Chart.yaml
  charts/stable/nitter/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/calibre digest to 458392c
  charts/stable/calibre/Chart.yaml
  charts/stable/calibre/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1459 → 0.22.1461
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1459 → 0.22.1461 (#32603)
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/zedeus/nitter digest to 27a6733 (#32601)
  charts/stable/nitter/Chart.yaml
  charts/stable/nitter/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/calibre digest to 458392c (#32602)
  charts/stable/calibre/Chart.yaml
  charts/stable/calibre/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Manual Authelia Update Setup-Guide.md
  charts/premium/authelia/docs/Setup-Guide.md
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Manual Authelia Update Setup-Guide.md (#32604)
  charts/premium/authelia/docs/Setup-Guide.md
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(blocky): disable some buggy/broken lists
  charts/premium/blocky/templates/_blockyConfig.tpl
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(blocky): bump
  charts/premium/blocky/Chart.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(container): update golang:1.24.0 docker digest to cd0c949
  containers/apps/charts-ci/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update actions/cache digest to d4323d4
  .github/workflows/charts-release.yaml
  .github/workflows/common-tests.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image adminer digest to 6913d52
  charts/stable/adminer/Chart.yaml
  charts/stable/adminer/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image chronograf digest to 35675ea
  charts/stable/chronograf/Chart.yaml
  charts/stable/chronograf/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/automaticrippingmachine/automatic-ripping-machine digest to f3eb22f
  charts/stable/automatic-ripping-machine/Chart.yaml
  charts/stable/automatic-ripping-machine/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/benzino77/tasmocompiler digest to 63640e0
  charts/stable/tasmocompiler/Chart.yaml
  charts/stable/tasmocompiler/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/lancachenet/lancache-dns digest to 4be0120
  charts/stable/lancache-dns/Chart.yaml
  charts/stable/lancache-dns/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/linuxserver/transmission digest to 0d9d72d
  charts/stable/transmission/Chart.yaml
  charts/stable/transmission/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/lmscommunity/lyrionmusicserver digest to ffa6381
  charts/stable/lyrion-music-server/Chart.yaml
  charts/stable/lyrion-music-server/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/niruix/sshwifty digest to 24fa405
  charts/stable/sshwifty/Chart.yaml
  charts/stable/sshwifty/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/phasecorex/red-discordbot digest to f3587a3
  charts/stable/red-discordbot/Chart.yaml
  charts/stable/red-discordbot/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/revenz/fileflows digest to 54ae364
  charts/stable/fileflows/Chart.yaml
  charts/stable/fileflows/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/wabayang/jelu digest to e14ee3e
  charts/stable/jelu/Chart.yaml
  charts/stable/jelu/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/webpsh/webps digest to 0e7d505
  charts/stable/webp-server/Chart.yaml
  charts/stable/webp-server/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/xavierh/goaccess-for-nginxproxymanager digest to 4604796
  charts/stable/goaccess-npm-logs/Chart.yaml
  charts/stable/goaccess-npm-logs/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image friendica digest to 1028146
  charts/stable/friendica/Chart.yaml
  charts/stable/friendica/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/riven-frontend digest to c901b97
  charts/stable/riven/Chart.yaml
  charts/stable/riven/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/zilean digest to 5bb6b81
  charts/stable/zilean/Chart.yaml
  charts/stable/zilean/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image monica digest to 06ee8de
  charts/stable/monica/Chart.yaml
  charts/stable/monica/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image redmine digest to cdbf1b0
  charts/stable/redmine/Chart.yaml
  charts/stable/redmine/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(container): update traefik docker tag to v3.3.4
  containers/apps/traefik/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image blocky 16.13.6 → 16.13.8 (clustertool)
  clustertool/embed/generic/kubernetes/core/blocky/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image jackett 23.3.32 → 23.3.33
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image docker 28.0.0 → 28.0.1
  charts/stable/docker/Chart.yaml
  charts/stable/docker/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/b4bz/homer v25.02.1 → v25.02.2
  charts/stable/homer/Chart.yaml
  charts/stable/homer/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/docuseal/docuseal 1.9.2 → 1.9.3
  charts/stable/docuseal/Chart.yaml
  charts/stable/docuseal/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97
