Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

chore(helm): update image docker.io/fireflyiii/core version-6.1.25 → version-6.2.2
  charts/stable/fireflyiii/Chart.yaml
  charts/stable/fireflyiii/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/sonatype/nexus3 3.76.1 → 3.77.0
  charts/stable/nexus-oss/Chart.yaml
  charts/stable/nexus-oss/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/tailscale/tailscale v1.78.3 → v1.80.0
  charts/stable/tailscale/Chart.yaml
  charts/stable/tailscale/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(container): update golang:1.23.5 docker digest to e213430 (#31611)
  containers/apps/charts-ci/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(github-action): update golangci/golangci-lint-action digest to e60da84 (#31612)
  .github/workflows/clustertool.golangci-lint.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/lmscommunity/lyrionmusicserver digest to d31ddf5 (#31618)
  charts/incubator/lyrion-music-server/Chart.yaml
  charts/incubator/lyrion-music-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/clamav/clamav digest to cb9aed5 (#31615)
  charts/premium/nextcloud/Chart.yaml
  charts/premium/nextcloud/values.yaml
  charts/stable/clamav/Chart.yaml
  charts/stable/clamav/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/boinc digest to 74292b2 (#31624)
  charts/stable/boinc/Chart.yaml
  charts/stable/boinc/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/filezilla digest to 69a485e (#31628)
  charts/stable/filezilla/Chart.yaml
  charts/stable/filezilla/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/digikam digest to f495e34 (#31626)
  charts/stable/digikam/Chart.yaml
  charts/stable/digikam/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/soulraven1980/wdosg digest to 671be9a (#31622)
  charts/incubator/wdosg/Chart.yaml
  charts/incubator/wdosg/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/ddclient digest to 855acbb (#31625)
  charts/stable/ddclient/Chart.yaml
  charts/stable/ddclient/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/duckdns digest to 0f61de8 (#31627)
  charts/stable/duckdns/Chart.yaml
  charts/stable/duckdns/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/rsnapshot digest to fe0790b (#31631)
  charts/stable/rsnapshot/Chart.yaml
  charts/stable/rsnapshot/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/synclounge digest to ba531c3 (#31633)
  charts/stable/synclounge/Chart.yaml
  charts/stable/synclounge/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/orcaslicer digest to 6853c24 (#31630)
  charts/stable/orcaslicer/Chart.yaml
  charts/stable/orcaslicer/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to d226f4c (#31634)
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update rdesktop (#31636)
  charts/stable/rdesktop/Chart.yaml
  charts/stable/rdesktop/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker digest to ba55987 (#31613)
  charts/stable/docker/Chart.yaml
  charts/stable/docker/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image cert-manager 6.5.2 → 6.5.3 (clustertool) (#31639)
  clustertool/embed/generic/kubernetes/system/cert-manager/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/bitnami/alertmanager digest to e8d2dc5 (#31614)
  charts/premium/prometheus/Chart.yaml
  charts/premium/prometheus/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to baaea53 (#31616)
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jgraph/drawio digest to 37246b7 (#31617)
  charts/stable/drawio/Chart.yaml
  charts/stable/drawio/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/machines/filestash digest to 3355b98 (#31619)
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/mikenye/tar1090 digest to 786ceeb (#31620)
  charts/stable/tar1090/Chart.yaml
  charts/stable/tar1090/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/searxng/searxng digest to cb1f826 (#31621)
  charts/stable/searxng/Chart.yaml
  charts/stable/searxng/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image friendica digest to 6ae9660 (#31623)
  charts/stable/friendica/Chart.yaml
  charts/stable/friendica/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/lazylibrarian digest to 11d05bd (#31629)
  charts/stable/lazylibrarian/Chart.yaml
  charts/stable/lazylibrarian/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image redmine digest to 34271e3 (#31635)
  charts/stable/redmine/Chart.yaml
  charts/stable/redmine/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/smokeping digest to 6db40c6 (#31632)
  charts/stable/smokeping/Chart.yaml
  charts/stable/smokeping/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(container): update docker.io/tailscale/tailscale docker tag to v1.80.0 (#31653)
  containers/apps/tailscale/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(flux): update helm release cilium 1.16.6 → 1.17.0 (clustertool) (#31654)
  clustertool/embed/generic/kubernetes/kube-system/cilium/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update webtop (#31637)
  charts/stable/webtop/Chart.yaml
  charts/stable/webtop/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/netdata/netdata v2.2.3 → v2.2.4 (#31646)
  charts/stable/netdata/Chart.yaml
  charts/stable/netdata/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/clickhouse/clickhouse-server 25.1.2.3 → 25.1.3.23 (#31642)
  charts/stable/clickhouse/Chart.yaml
  charts/stable/clickhouse/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/grafana/grafana 11.5.0 → 11.5.1 (#31644)
  charts/premium/grafana/Chart.yaml
  charts/premium/grafana/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/nocodb/nocodb 0.260.2 → 0.260.4 (#31647)
  charts/stable/nocodb/Chart.yaml
  charts/stable/nocodb/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/vaultwarden/server 1.33.0 → 1.33.1 (#31649)
  charts/premium/vaultwarden/Chart.yaml
  charts/premium/vaultwarden/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1363 → 0.22.1368 (#31650)
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update chart kube-prometheus-stack 68.4.4 → 68.4.5 (#31640)
  charts/premium/prometheus/Chart.yaml
  charts/system/prometheus-operator/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97
