Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

chore(helm): update image ghcr.io/taxel/plextraktsync 0.34.1 → 0.34.2
  charts/stable/plextraktsync/Chart.yaml
  charts/stable/plextraktsync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/taxel/plextraktsync 0.34.1 → 0.34.2 (#32161)
  charts/stable/plextraktsync/Chart.yaml
  charts/stable/plextraktsync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/rogerfar/rdtclient 2.0.96 → 2.0.97 (#32160)
  charts/stable/rdtclient/Chart.yaml
  charts/stable/rdtclient/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Add documentation for `clustertool talos kubeconfig` command (#32159)
  website/src/content/docs/clustertool/commands/talos/kubeconfig.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/itzg/minecraft-server 2025.2.0 → 2025.2.1
  charts/stable/minecraft-java/Chart.yaml
  charts/stable/minecraft-java/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/jellyfin/jellyfin 10.10.5 → 10.10.6
  charts/stable/jellyfin/Chart.yaml
  charts/stable/jellyfin/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/sbondco/watcharr v2.0.1 → v2.0.2
  charts/stable/watcharr/Chart.yaml
  charts/stable/watcharr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/pmmp/pocketmine-mp 5.24.0 → 5.25.0
  charts/stable/pocketmine-mp/Chart.yaml
  charts/stable/pocketmine-mp/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/jellyfin/jellyfin 10.10.5 → 10.10.6 (#32163)
  charts/stable/jellyfin/Chart.yaml
  charts/stable/jellyfin/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/sbondco/watcharr v2.0.1 → v2.0.2 (#32164)
  charts/stable/watcharr/Chart.yaml
  charts/stable/watcharr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/pmmp/pocketmine-mp 5.24.0 → 5.25.0 (#32165)
  charts/stable/pocketmine-mp/Chart.yaml
  charts/stable/pocketmine-mp/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(deps): update module github.com/spf13/cobra v1.9.0 → v1.9.1 (clustertool)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k

fix(deps): update module github.com/spf13/cobra v1.9.0 → v1.9.1 (clustertool) (#32166)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1428 → 0.22.1437
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update helm release openebs 4.1.3 → 4.2.0 (clustertool)
  clustertool/embed/generic/kubernetes/system/openebs/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

fix(website): update starlight-blog 0.16.1 → 0.17.2
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(website): update starlight-image-zoom 0.10.1 → 0.11.0
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(flux): update helm release openebs 4.1.3 → 4.2.0 (clustertool) (#32167)
  clustertool/embed/generic/kubernetes/system/openebs/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1428 → 0.22.1437 (#32156)
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Add documentation for signing commits
  website/src/content/docs/development/signing-commit.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Add explanatory images to documentation
  website/src/content/docs/development/img/github-add-gpgkey.png
  website/src/content/docs/development/img/github-verified-commit.png
  website/src/content/docs/development/signing-commit.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.22 → 23.3.23
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image quay.io/brancz/kube-rbac-proxy v0.18.2 → v0.19.0
  charts/system/volsync/Chart.yaml
  charts/system/volsync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.22 → 23.3.23 (#32170)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image quay.io/brancz/kube-rbac-proxy v0.18.2 → v0.19.0 (#32171)
  charts/system/volsync/Chart.yaml
  charts/system/volsync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/nwithan8/tauticord 5.11.0 → 5.12.0
  charts/stable/tauticord/Chart.yaml
  charts/stable/tauticord/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/ix-ai/smtp v0.7.2 → v0.7.3
  charts/stable/smtp-relay/Chart.yaml
  charts/stable/smtp-relay/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/authelia/authelia 4.38.18 → 4.38.19
  charts/premium/authelia/Chart.yaml
  charts/premium/authelia/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update chart memcached 14.5.4 → 14.5.5
  charts/stable/seafile/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/qdirstat v24.12.1 → v25.02.1 (#32150)
  charts/stable/qdirstat/Chart.yaml
  charts/stable/qdirstat/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/mkvtoolnix v24.12.2 → v25.02.1 (#32148)
  charts/stable/mkvtoolnix/Chart.yaml
  charts/stable/mkvtoolnix/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/mkvcleaver v24.12.1 → v25.02.1 (#32147)
  charts/stable/mkvcleaver/Chart.yaml
  charts/stable/mkvcleaver/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/putty v24.12.1 → v25.02.1 (#32149)
  charts/stable/putty/Chart.yaml
  charts/stable/putty/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/ix-ai/smtp v0.7.2 → v0.7.3 (#32157)
  charts/stable/smtp-relay/Chart.yaml
  charts/stable/smtp-relay/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/nwithan8/tauticord 5.11.0 → 5.12.0 (#32158)
  charts/stable/tauticord/Chart.yaml
  charts/stable/tauticord/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/authelia/authelia 4.38.18 → 4.38.19 (#32155)
  charts/premium/authelia/Chart.yaml
  charts/premium/authelia/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2025-02-12 → 2025-02-17
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image volsync 2.8.1 → 2.9.0 (clustertool)
  clustertool/embed/generic/kubernetes/system/volsync/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image volsync 2.8.1 → 2.9.0 (clustertool) (#32179)
  clustertool/embed/generic/kubernetes/system/volsync/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update jupyter 2025-02-12 → 2025-02-17 (patch) (#32178)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97
