Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

chore(clustertool): tweak upgrade plan for Talos
  clustertool/embed/generic/kubernetes/core/system-upgrade-controller-plans/app/talos.yaml
Owners: @privatepuffin, @stavros-k

chore(clustertool): tweak upgrade plan for kubernetes
  clustertool/embed/generic/kubernetes/core/system-upgrade-controller-plans/app/kubernetes.yaml
Owners: @privatepuffin, @stavros-k

fix(renovate); correct renovate repo url
  charts/incubator/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update values.yaml
  charts/incubator/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update Chart.yaml
  charts/incubator/renovate/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

feat(cluster): try adding renovate to cluster
  clusters/main/kubernetes/apps/kustomization.yaml
  clusters/main/kubernetes/apps/renovate/app/helm-release.yaml
  clusters/main/kubernetes/apps/renovate/app/kustomization.yaml
  clusters/main/kubernetes/apps/renovate/app/namespace.yaml
  clusters/main/kubernetes/apps/renovate/ks.yaml
Owners: @privatepuffin

hmm
  clusters/main/kubernetes/apps/renovate/app/helm-release.yaml
Owners: @privatepuffin

Update values.yaml
  charts/incubator/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update values.yaml
  charts/incubator/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update Chart.yaml
  charts/incubator/renovate/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update values.yaml
  charts/incubator/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

try this instead
  clusters/main/kubernetes/apps/renovate/app/helm-release.yaml
Owners: @privatepuffin

Update gpu.md
  website/src/content/docs/guides/talos/gpu.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Apply suggestions from code review
  website/src/content/docs/guides/talos/gpu.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(documentation): added additional context in the talos gpu guide. (#31730)
  website/src/content/docs/guides/talos/gpu.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Commit daily changes
  charts/stable/n8n/Chart.yaml
  clustertool/embed/generic/base/talos/talconfig.yaml
  clustertool/embed/generic/kubernetes/core/system-upgrade-controller-plans/app/talos.yaml
  clustertool/go.mod
  website/src/content/docs/guides/talos/gpu.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

chore(helm): update image docker.io/cyfershepard/jellystat digest to 246ad02
  charts/stable/jellystat/Chart.yaml
  charts/stable/jellystat/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/diygod/rsshub digest to f89e8c6
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/machines/filestash digest to f36751f
  charts/stable/filestash/Chart.yaml
  charts/stable/filestash/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ronnieroller/media-roller digest to 944c215
  charts/stable/media-roller/Chart.yaml
  charts/stable/media-roller/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/wabayang/jelu digest to f9947ab
  charts/stable/jelu/Chart.yaml
  charts/stable/jelu/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.12 → 23.3.13
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image docker.io/brandawg93/peanut 5.1.0 → 5.1.1
  charts/stable/peanut/Chart.yaml
  charts/stable/peanut/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/koenkk/zigbee2mqtt 2.1.0 → 2.1.1
  charts/stable/zigbee2mqtt/Chart.yaml
  charts/stable/zigbee2mqtt/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/sonatype/nexus3 3.77.0 → 3.77.1
  charts/stable/nexus-oss/Chart.yaml
  charts/stable/nexus-oss/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/drakkan/sftpgo v2.6.4 → v2.6.5
  charts/stable/sftpgo/Chart.yaml
  charts/stable/sftpgo/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/emby 4.9.0.37 → 4.9.0.38
  charts/stable/emby/Chart.yaml
  charts/stable/emby/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1377 → 0.22.1381
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/speedtest-tracker 1.2.2 → 1.2.3
  charts/stable/speedtest-tracker/Chart.yaml
  charts/stable/speedtest-tracker/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image app-template 3.6.1 → 3.7.0 (clustertool)
  clustertool/embed/generic/kubernetes/system/system-upgrade-controller/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image prometheus-operator 10.2.2 → 10.3.0 (clustertool)
  clustertool/embed/generic/kubernetes/system/prometheus-operator/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/haveagitgat/tdarr 2.30.01 → 2.31.02
  charts/stable/tdarr/Chart.yaml
  charts/stable/tdarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/haveagitgat/tdarr_node 2.30.01 → 2.31.02
  charts/stable/tdarr-node/Chart.yaml
  charts/stable/tdarr-node/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/wekanteam/wekan v7.80 → v7.81
  charts/stable/wekan/Chart.yaml
  charts/stable/wekan/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/fluidd-core/fluidd v1.31.4 → v1.32.0
  charts/stable/fluidd/Chart.yaml
  charts/stable/fluidd/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/calibre 7.24.0 → 7.25.0
  charts/stable/calibre/Chart.yaml
  charts/stable/calibre/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/stirling-tools/s-pdf 0.40.2 → 0.41.0
  charts/stable/stirling-pdf/Chart.yaml
  charts/stable/stirling-pdf/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(deps): update module golang.org/x/crypto v0.32.0 → v0.33.0 (clustertool)
  clustertool/go.mod
  clustertool/go.sum
Owners: @privatepuffin, @stavros-k

chore(flux): update image jackett 23.3.12 → 23.3.13 (#31736)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(flux): update image prometheus-operator 10.2.2 → 10.3.0 (clustertool) (#31745)
  clustertool/embed/generic/kubernetes/system/prometheus-operator/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k
