Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/advplyr/audiobookshelf 2.19.4 → 2.19.5 (#32493)
  charts/stable/audiobookshelf/Chart.yaml
  charts/stable/audiobookshelf/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/wiserain/flexget 3.15.6 → 3.15.11 (#32504)
  charts/stable/flexget/Chart.yaml
  charts/stable/flexget/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/towfiqi/serpbear digest to 7e1de94
  charts/stable/serpbear/Chart.yaml
  charts/stable/serpbear/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/mbentley/omada-controller digest to 176700b
  charts/stable/omada-controller/Chart.yaml
  charts/stable/omada-controller/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/lancachenet/monolithic digest to 236246e
  charts/stable/lancache-monolithic/Chart.yaml
  charts/stable/lancache-monolithic/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/lancachenet/lancache-dns digest to b5175e1
  charts/stable/lancache-dns/Chart.yaml
  charts/stable/lancache-dns/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/kylemanna/bitcoind digest to 6f1240b
  charts/stable/bitcoin-node/Chart.yaml
  charts/stable/bitcoin-node/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/clamav/clamav digest to 2f7de5b
  charts/premium/nextcloud/values.yaml
  charts/stable/clamav/Chart.yaml
  charts/stable/clamav/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/lancachenet/lancache-dns digest to b5175e1 (#32486)
  charts/stable/lancache-dns/Chart.yaml
  charts/stable/lancache-dns/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Update Chart.yaml
  charts/premium/nextcloud/Chart.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/towfiqi/serpbear digest to 7e1de94 (#32490)
  charts/stable/serpbear/Chart.yaml
  charts/stable/serpbear/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/mbentley/omada-controller digest to 176700b (#32488)
  charts/stable/omada-controller/Chart.yaml
  charts/stable/omada-controller/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/kylemanna/bitcoind digest to 6f1240b (#32485)
  charts/stable/bitcoin-node/Chart.yaml
  charts/stable/bitcoin-node/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/lancachenet/monolithic digest to 236246e (#32487)
  charts/stable/lancache-monolithic/Chart.yaml
  charts/stable/lancache-monolithic/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/alpine/socat digest to 2fe7c63
  charts/stable/emby/Chart.yaml
  charts/stable/emby/values.yaml
  charts/stable/jellyfin/Chart.yaml
  charts/stable/jellyfin/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker digest to 0a9c58e
  charts/stable/docker/Chart.yaml
  charts/stable/docker/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/clamav/clamav digest to 2f7de5b (#32484)
  charts/premium/nextcloud/Chart.yaml
  charts/premium/nextcloud/values.yaml
  charts/stable/clamav/Chart.yaml
  charts/stable/clamav/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker digest to 0a9c58e (#32481)
  charts/stable/docker/Chart.yaml
  charts/stable/docker/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/alpine/socat digest to 2fe7c63 (#32482)
  charts/stable/emby/Chart.yaml
  charts/stable/emby/values.yaml
  charts/stable/jellyfin/Chart.yaml
  charts/stable/jellyfin/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image tccr.io/tccr/alpine digest to (#32491)
  charts/library/common/Chart.yaml
  charts/library/common/values.yaml
Owners: @privatepuffin, @stavros-k

fix(nextcloud): update latest-version.sh with updated repository
  containers/apps/nextcloud-fpm/latest-version.sh
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(nextcloud): update latest-version.sh with updated repository (#32511)
  containers/apps/nextcloud-fpm/latest-version.sh
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/lmscommunity/lyrionmusicserver digest to adf282e
  charts/stable/lyrion-music-server/Chart.yaml
  charts/stable/lyrion-music-server/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update jupyter
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.29 → 23.3.30
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image ghcr.io/pi-hole/pihole 2025.02.4 → 2025.02.5
  charts/stable/pihole/Chart.yaml
  charts/stable/pihole/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/nzbget 24.5 → 24.6
  charts/stable/nzbget/Chart.yaml
  charts/stable/nzbget/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/mend/renovate-ce 9.4.0 → 9.5.0
  charts/stable/mend-renovate/Chart.yaml
  charts/stable/mend-renovate/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.29 → 23.3.30 (#32514)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update jupyter (#32513)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/pi-hole/pihole 2025.02.4 → 2025.02.5 (#32515)
  charts/stable/pihole/Chart.yaml
  charts/stable/pihole/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/nzbget 24.5 → 24.6 (#32516)
  charts/stable/nzbget/Chart.yaml
  charts/stable/nzbget/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/lmscommunity/lyrionmusicserver digest to adf282e (#32512)
  charts/stable/lyrion-music-server/Chart.yaml
  charts/stable/lyrion-music-server/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/mend/renovate-ce 9.4.0 → 9.5.0 (#32517)
  charts/stable/mend-renovate/Chart.yaml
  charts/stable/mend-renovate/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Commit daily changes
  charts/stable/mend-renovate/README.md
  charts/stable/mend-renovate/icon-small.webp
  charts/stable/mend-renovate/icon.png
  charts/stable/mend-renovate/icon.webp
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/mikenye/tar1090 digest to f4d40d1
  charts/stable/tar1090/Chart.yaml
  charts/stable/tar1090/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/nzbget digest to 3fafda6
  charts/stable/nzbget/Chart.yaml
  charts/stable/nzbget/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/grocy digest to 21e77b4
  charts/stable/grocy/Chart.yaml
  charts/stable/grocy/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/mysql-workbench digest to ee36c6e
  charts/stable/mysql-workbench/Chart.yaml
  charts/stable/mysql-workbench/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/ombi digest to 7eec3a3
  charts/stable/ombi/Chart.yaml
  charts/stable/ombi/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

.github/CODEOWNERS:

# Default code owners
*                         @truecharts/core-team @privatepuffin @stavros-k @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**        @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md        @privatepuffin @stavros-k @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
