Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1382 → 0.22.1391 (#31867)
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

feat(traefik-integration): actually default to false
  charts/library/common-test/tests/ingress/traefik_test.yaml
  charts/library/common-test/tests/traefik/enabled_test.yaml
  charts/library/common/templates/lib/ingress/integrations/_traefik.tpl
  charts/library/common/templates/spawner/traefik/_middleware.tpl
  website/src/content/docs/common/ingress/traefik.md
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fmt
  charts/library/common/templates/class/_ingress.tpl
Owners: @privatepuffin, @stavros-k

codespell
  cspell.config.yaml
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(flux): update image jackett 23.3.15 → 23.3.16
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image ghcr.io/onedr0p/prowlarr-develop 1.31.0.4941 → 1.31.1.4959
  charts/stable/prowlarr/Chart.yaml
  charts/stable/prowlarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image quay.io/vaultwarden/server 1.33.1 → 1.33.2
  charts/premium/vaultwarden/Chart.yaml
  charts/premium/vaultwarden/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update prettier 3.4.2 → 3.5.0
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/seafileltd/seafile-mc 11.0.13 → 12.0.7
  charts/stable/seafile/Chart.yaml
  charts/stable/seafile/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.15 → 23.3.16 (#31869)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image quay.io/vaultwarden/server 1.33.1 → 1.33.2 (#31871)
  charts/premium/vaultwarden/Chart.yaml
  charts/premium/vaultwarden/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/prowlarr-develop 1.31.0.4941 → 1.31.1.4959 (#31870)
  charts/stable/prowlarr/Chart.yaml
  charts/stable/prowlarr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update prettier 3.4.2 → 3.5.0 (#31872)
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

feat(traefik-integration): actually default to false (#31868)
  charts/library/common-test/tests/ingress/traefik_test.yaml
  charts/library/common-test/tests/traefik/enabled_test.yaml
  charts/library/common/templates/class/_ingress.tpl
  charts/library/common/templates/lib/ingress/integrations/_traefik.tpl
  charts/library/common/templates/spawner/traefik/_middleware.tpl
  cspell.config.yaml
  website/src/content/docs/common/ingress/traefik.md
Owners: @privatepuffin, @stavros-k, @truecharts/core-team, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/tasmoadmin/tasmoadmin v4.2.2 → v4.2.3
  charts/stable/tasmoadmin/Chart.yaml
  charts/stable/tasmoadmin/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/nzbhydra2 7.2.3 → 7.12.3
  charts/stable/nzbhydra/Chart.yaml
  charts/stable/nzbhydra/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/nzbhydra2 7.2.3 → 7.12.3 (#31874)
  charts/stable/nzbhydra/Chart.yaml
  charts/stable/nzbhydra/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/tasmoadmin/tasmoadmin v4.2.2 → v4.2.3 (#31873)
  charts/stable/tasmoadmin/Chart.yaml
  charts/stable/tasmoadmin/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2025-02-03 → 2025-02-10
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter 2025-02-03 → 2025-02-10 (patch) (#31875)
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

merge "addons" section with root values
  charts/library/common-test/Chart.yaml
  charts/library/common-test/ci/vpn-openvpn-values.yaml
  charts/library/common-test/ci/vpn-wireguard-values.yaml
  charts/library/common-test/values.yaml
  charts/library/common/Chart.yaml
  charts/library/common/templates/addons/code-server/_codeserver.tpl
  charts/library/common/templates/addons/code-server/_container.tpl
  charts/library/common/templates/addons/gluetun/_gluetun.tpl
  charts/library/common/templates/addons/gluetun/_gluetunContainer.tpl
  charts/library/common/templates/addons/gluetun/_secret.tpl
  charts/library/common/templates/addons/gluetun/_volume.tpl
  charts/library/common/templates/addons/netshoot/_container.tpl
  charts/library/common/templates/addons/netshoot/_netshoot.tpl
  charts/library/common/templates/addons/tailscale/_secret.tpl
  charts/library/common/templates/addons/tailscale/_tailscale.tpl
  charts/library/common/templates/addons/tailscale/_tailscaleContainer.tpl
  charts/library/common/templates/addons/tailscale/_volume.tpl
  charts/library/common/templates/addons/vpn/_configmap.tpl
  charts/library/common/templates/addons/vpn/_openvpnContainer.tpl
  charts/library/common/templates/addons/vpn/_volume.tpl
  charts/library/common/templates/addons/vpn/_vpn.tpl
  charts/library/common/templates/addons/vpn/_wireguardContainer.tpl
  charts/library/common/templates/loader/_init.tpl
  charts/library/common/templates/values/_init.tpl
  charts/library/common/values.yaml
  containers/apps/openvpn-client/Dockerfile
  containers/apps/openvpn-client/PLATFORM
  containers/apps/wireguard/Dockerfile
  containers/apps/wireguard/PLATFORM
Owners: @privatepuffin, @stavros-k, @truecharts/core-team, @alfi0812, @kqmaverick, @Heavybullets8

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1391 → 0.22.1393
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1391 → 0.22.1393 (#31890)
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update golangci/golangci-lint-action digest to 051d919
  .github/workflows/clustertool.golangci-lint.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image jackett 23.3.16 → 23.3.17
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image ghcr.io/immich-app/immich-machine-learning v1.125.7 → v1.126.0
  charts/stable/immich/Chart.yaml
  charts/stable/immich/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update golangci/golangci-lint-action digest to 051d919 (#31891)
  .github/workflows/clustertool.golangci-lint.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image jackett 23.3.16 → 23.3.17 (#31892)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image ghcr.io/immich-app/immich-machine-learning v1.125.7 → v1.126.0 (#31894)
  charts/stable/immich/Chart.yaml
  charts/stable/immich/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/homeassistant/home-assistant 2025.2.1 → 2025.2.2
  charts/stable/home-assistant/Chart.yaml
  charts/stable/home-assistant/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/goofball222/unifi 9.0.108 → 9.0.114
  charts/stable/unifi/Chart.yaml
  charts/stable/unifi/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/immich-app/immich-machine-learning v1.126.0 → v1.126.1
  charts/stable/immich/Chart.yaml
  charts/stable/immich/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/static-web-server/static-web-server 2.35.0 → 2.36.0
  charts/stable/static-web-server/Chart.yaml
  charts/stable/static-web-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/homeassistant/home-assistant 2025.2.1 → 2025.2.2 (#31896)
  charts/stable/home-assistant/Chart.yaml
  charts/stable/home-assistant/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/immich-app/immich-machine-learning v1.126.0 → v1.126.1 (#31898)
  charts/stable/immich/Chart.yaml
  charts/stable/immich/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/static-web-server/static-web-server 2.35.0 → 2.36.0 (#31899)
  charts/stable/static-web-server/Chart.yaml
  charts/stable/static-web-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/goofball222/unifi 9.0.108 → 9.0.114 (#31897)
  charts/stable/unifi/Chart.yaml
  charts/stable/unifi/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update goreleaser/goreleaser-action digest to 90a3faa
  .github/workflows/clustertool.release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image ghcr.io/immich-app/immich-server v1.125.7 → v1.126.1
  charts/stable/immich/Chart.yaml
  charts/stable/immich/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update goreleaser/goreleaser-action digest to 90a3faa (#31900)
  .github/workflows/clustertool.release.yaml
Owners: @privatepuffin, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97
