Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

chore(helm): update image lscr.io/linuxserver/heimdall digest to 6b36556 (#32081)
  charts/stable/heimdall/Chart.yaml
  charts/stable/heimdall/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/blender digest to 6c3e6c4 (#32080)
  charts/stable/blender/Chart.yaml
  charts/stable/blender/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image registry digest to a3d8aaa (#32084)
  charts/stable/dockerregistry/Chart.yaml
  charts/stable/dockerregistry/values.yaml
  charts/stable/reg/Chart.yaml
  charts/stable/reg/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/josh5/steam-headless digest to 408290e (#32113)
  charts/stable/steam-headless/Chart.yaml
  charts/stable/steam-headless/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image hello-world digest to e0b569a (#32079)
  charts/premium/clusterissuer/Chart.yaml
  charts/premium/clusterissuer/values.yaml
  charts/premium/metallb-config/Chart.yaml
  charts/premium/metallb-config/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/sethforprivacy/simple-monerod digest to 7f5a3fd
  charts/stable/monero-node/Chart.yaml
  charts/stable/monero-node/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/open-webui/open-webui digest to 2448a89
  charts/stable/ollama/Chart.yaml
  charts/stable/ollama/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/znc digest to 2c2d7ae
  charts/stable/znc/Chart.yaml
  charts/stable/znc/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/webgrabplus digest to 32d6e04
  charts/stable/webgrabplus/Chart.yaml
  charts/stable/webgrabplus/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/rsnapshot digest to 339cc11
  charts/stable/rsnapshot/Chart.yaml
  charts/stable/rsnapshot/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/fleet digest to 21b65a3
  charts/stable/fleet/Chart.yaml
  charts/stable/fleet/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/doublecommander digest to e4b6845
  charts/stable/doublecommander/Chart.yaml
  charts/stable/doublecommander/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/fleet digest to 21b65a3 (#32069)
  charts/stable/fleet/Chart.yaml
  charts/stable/fleet/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/webgrabplus digest to 32d6e04 (#32075)
  charts/stable/webgrabplus/Chart.yaml
  charts/stable/webgrabplus/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/doublecommander digest to e4b6845 (#32067)
  charts/stable/doublecommander/Chart.yaml
  charts/stable/doublecommander/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/sethforprivacy/simple-monerod digest to 7f5a3fd (#32078)
  charts/stable/monero-node/Chart.yaml
  charts/stable/monero-node/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/znc digest to 2c2d7ae (#32076)
  charts/stable/znc/Chart.yaml
  charts/stable/znc/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/open-webui/open-webui digest to 2448a89 (#32077)
  charts/stable/ollama/Chart.yaml
  charts/stable/ollama/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/rsnapshot digest to 339cc11 (#32073)
  charts/stable/rsnapshot/Chart.yaml
  charts/stable/rsnapshot/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/hotio/whisparr digest to fc622d7
  charts/stable/whisparr/Chart.yaml
  charts/stable/whisparr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/hotio/rflood digest to 5000326
  charts/stable/rflood/Chart.yaml
  charts/stable/rflood/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/hotio/cloudflareddns digest to 5a2b98c
  charts/stable/cloudflareddns/Chart.yaml
  charts/stable/cloudflareddns/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/zedeus/nitter digest to 85d67c6
  charts/stable/nitter/Chart.yaml
  charts/stable/nitter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ronivay/xen-orchestra digest to fd66f79
  charts/stable/xen-orchestra/Chart.yaml
  charts/stable/xen-orchestra/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/modem7/newyearcountdown digest to 74cc3f7
  charts/stable/newyearcountdownclock/Chart.yaml
  charts/stable/newyearcountdownclock/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/dtjs48jkt/twonkyserver digest to 5bd7729
  charts/stable/twonky-server/Chart.yaml
  charts/stable/twonky-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/hotio/whisparr digest to fc622d7 (#32065)
  charts/stable/whisparr/Chart.yaml
  charts/stable/whisparr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/hotio/rflood digest to 5000326 (#32064)
  charts/stable/rflood/Chart.yaml
  charts/stable/rflood/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/dtjs48jkt/twonkyserver digest to 5bd7729 (#32054)
  charts/stable/twonky-server/Chart.yaml
  charts/stable/twonky-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/modem7/newyearcountdown digest to 74cc3f7 (#32057)
  charts/stable/newyearcountdownclock/Chart.yaml
  charts/stable/newyearcountdownclock/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/hotio/cloudflareddns digest to 5a2b98c (#32063)
  charts/stable/cloudflareddns/Chart.yaml
  charts/stable/cloudflareddns/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ronivay/xen-orchestra digest to fd66f79 (#32058)
  charts/stable/xen-orchestra/Chart.yaml
  charts/stable/xen-orchestra/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update actions/cache digest to 0c907a7
  .github/workflows/charts-release.yaml
  .github/workflows/common-tests.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/diygod/rsshub digest to 0272d09
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/meeb/tubesync digest to 2d25aee
  charts/stable/tubesync/Chart.yaml
  charts/stable/tubesync/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/suwayomi/tachidesk digest to 38a6295
  charts/stable/tachidesk-docker/Chart.yaml
  charts/stable/tachidesk-docker/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update jupyter
  charts/stable/jupyter/Chart.yaml
  charts/stable/jupyter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image clusterissuer 9.5.1 → 9.5.2 (clustertool)
  clustertool/embed/generic/kubernetes/core/clusterissuer/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image jackett 23.3.23 → 23.3.24
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(flux): update image metallb-config 8.5.1 → 8.5.2 (clustertool)
  clustertool/embed/generic/kubernetes/core/metallb-config/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97
