Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

docs(avidemux) remove outdated docs
  charts/stable/avidemux/docs/installation_notes.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Update installation.md
  charts/stable/radarr/docs/installation.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

docs(bitmagnet) remove outdated docs
  charts/stable/bitmagnet/docs/installation_notes.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

docs(avidemux) remove outdated docs (#32289)
  charts/stable/avidemux/docs/installation_notes.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

docs(radarr) update docs (#32286)
  charts/stable/radarr/docs/img/networking.png
  charts/stable/radarr/docs/img/nzbget_radarr_client.png
  charts/stable/radarr/docs/img/nzbget_radarr_storage.png
  charts/stable/radarr/docs/img/nzbget_storage.png
  charts/stable/radarr/docs/img/qbit_radarr_client.png
  charts/stable/radarr/docs/img/qbit_radarr_storage.png
  charts/stable/radarr/docs/img/qbit_storage.png
  charts/stable/radarr/docs/img/sab_internal_link.png
  charts/stable/radarr/docs/img/storage_config.png
  charts/stable/radarr/docs/img/storage_data_backups.png
  charts/stable/radarr/docs/img/storage_data_media.png
  charts/stable/radarr/docs/img/storage_data_nzb.png
  charts/stable/radarr/docs/img/storage_data_qbit.png
  charts/stable/radarr/docs/img/storage_data_syncthing.png
  charts/stable/radarr/docs/installation.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

docs(bitmagnet) remove outdated docs (#32290)
  charts/stable/bitmagnet/docs/installation_notes.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

docs(multiple) remove outdated docs
  charts/stable/czkawka/docs/installation_notes.md
  charts/stable/filebot/docs/installation_notes.md
  charts/stable/handbrake/docs/installation_notes.md
  charts/stable/makemkv/docs/installation_notes.md
  charts/stable/mediainfo/docs/installation_notes.md
  charts/stable/mkvcleaver/docs/installation_notes.md
  charts/stable/putty/docs/installation_notes.md
  charts/stable/qdirstat/docs/installation_notes.md
  charts/stable/tsmuxer/docs/installation_notes.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

add glances
  charts/incubator/glances/.helmignore
  charts/incubator/glances/Chart.yaml
  charts/incubator/glances/README.md
  charts/incubator/glances/icon.png
  charts/incubator/glances/templates/NOTES.txt
  charts/incubator/glances/templates/common.yaml
  charts/incubator/glances/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

copy paste
  charts/incubator/glances/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

docs(multiple) remove outdated docs (#32291)
  charts/stable/czkawka/docs/installation_notes.md
  charts/stable/filebot/docs/installation_notes.md
  charts/stable/handbrake/docs/installation_notes.md
  charts/stable/makemkv/docs/installation_notes.md
  charts/stable/mediainfo/docs/installation_notes.md
  charts/stable/mkvcleaver/docs/installation_notes.md
  charts/stable/putty/docs/installation_notes.md
  charts/stable/qdirstat/docs/installation_notes.md
  charts/stable/tsmuxer/docs/installation_notes.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

feat(glances): Add chart (#32292)
  charts/incubator/glances/.helmignore
  charts/incubator/glances/Chart.yaml
  charts/incubator/glances/README.md
  charts/incubator/glances/icon.png
  charts/incubator/glances/templates/NOTES.txt
  charts/incubator/glances/templates/common.yaml
  charts/incubator/glances/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update values.yaml
  charts/stable/fireflyiii/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update Chart.yaml
  charts/stable/fireflyiii/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update Chart.yaml
  charts/stable/fireflyiii/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

docs(docusaurus) update how-to
  charts/stable/docusaurus/docs/How-To.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

remove img
  charts/stable/docusaurus/docs/img/Container-Config.png
  charts/stable/docusaurus/docs/img/Storage.png
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Update charts/stable/docusaurus/docs/How-To.md
  charts/stable/docusaurus/docs/How-To.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): BREAKING update image docker.io/fireflyiii/core version-6.1.25 → version-6.2.7 (#31520)
  charts/stable/fireflyiii/Chart.yaml
  charts/stable/fireflyiii/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

docs(docusaurus) update how-to (#32293)
  charts/stable/docusaurus/docs/How-To.md
  charts/stable/docusaurus/docs/img/Container-Config.png
  charts/stable/docusaurus/docs/img/Storage.png
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Update customVersioning.json5
  .github/renovate/special/customVersioning.json5
Owners: @privatepuffin, @stavros-k

Move glances to stable
  charts/stable/glances/.helmignore
  charts/stable/glances/Chart.yaml
  charts/stable/glances/README.md
  charts/stable/glances/icon.png
  charts/stable/glances/templates/NOTES.txt
  charts/stable/glances/templates/common.yaml
  charts/stable/glances/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

Update customVersioning.json5 (#32294)
  .github/renovate/special/customVersioning.json5
Owners: @privatepuffin, @stavros-k

docs(immich) reduce to warning
  charts/stable/immich/docs/install_notes.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Update charts/stable/immich/docs/install_notes.md
  charts/stable/immich/docs/install_notes.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(glances): Move glances to stable (#32295)
  charts/stable/glances/.helmignore
  charts/stable/glances/Chart.yaml
  charts/stable/glances/README.md
  charts/stable/glances/icon.png
  charts/stable/glances/templates/NOTES.txt
  charts/stable/glances/templates/common.yaml
  charts/stable/glances/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

docs(immich) reduce to warning (#32296)
  charts/stable/immich/docs/install_notes.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(flux): update image jackett 23.3.25 → 23.3.26
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update chart kube-prometheus-stack 69.3.2 → 69.3.3
  charts/premium/prometheus/Chart.yaml
  charts/system/prometheus-operator/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image ghcr.io/fluxcd/flux-manifests v2.4.0 → v2.5.0 (clustertool)
  clustertool/embed/generic/root/repositories/oci/flux-manifests.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image jackett 23.3.25 → 23.3.26 (#32297)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

chore(flux): update image ghcr.io/fluxcd/flux-manifests v2.4.0 → v2.5.0 (clustertool) (#32299)
  clustertool/embed/generic/root/repositories/oci/flux-manifests.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update chart kube-prometheus-stack 69.3.2 → 69.3.3 (#32298)
  charts/premium/prometheus/Chart.yaml
  charts/system/prometheus-operator/Chart.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/calibre digest to f00ab50
  charts/stable/calibre/Chart.yaml
  charts/stable/calibre/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image prometheus-operator 11.0.0 → 11.0.1 (clustertool)
  clustertool/embed/generic/kubernetes/system/prometheus-operator/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image public.ecr.aws/bitnami/memcached 1.6.36 → 1.6.37
  charts/stable/memcached/Chart.yaml
  charts/stable/memcached/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image quay.io/netdata/netdata v2.2.5 → v2.2.6
  charts/stable/netdata/Chart.yaml
  charts/stable/netdata/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image prometheus-operator 11.0.0 → 11.0.1 (clustertool) (#32301)
  clustertool/embed/generic/kubernetes/system/prometheus-operator/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

Commit daily changes
  charts/incubator/plant-it/values.yaml
  charts/stable/cloudcommander/Chart.yaml
  charts/stable/glances/Chart.yaml
  charts/stable/glances/README.md
  charts/stable/glances/icon-small.webp
  charts/stable/glances/icon.png
  charts/stable/glances/icon.webp
  charts/stable/immich/docs/install_notes.md
  charts/stable/nitter/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/memcached 1.6.36 → 1.6.37 (#32302)
  charts/stable/memcached/Chart.yaml
  charts/stable/memcached/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/calibre digest to f00ab50 (#32300)
  charts/stable/calibre/Chart.yaml
  charts/stable/calibre/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97
