Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

.github/CODEOWNERS:

# Default code owners
*                         @truecharts/core-team @privatepuffin @stavros-k @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**        @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md        @privatepuffin @stavros-k @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97

chore(helm): update image docker.io/homebridge/homebridge 2025-02-16 → 2025-02-26 (#32634)
  charts/stable/homebridge/Chart.yaml
  charts/stable/homebridge/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/whyour/qinglong 2.18.1 → 2.18.2 (#32650)
  charts/stable/qinglong/Chart.yaml
  charts/stable/qinglong/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

build(goreleaser): {version,name}_template
  .goreleaser.yaml
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/haveagitgat/tdarr 2.33.01 → 2.34.01 (#32654)
  charts/stable/tdarr/Chart.yaml
  charts/stable/tdarr/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/haveagitgat/tdarr_node 2.33.01 → 2.34.01 (#32655)
  charts/stable/tdarr-node/Chart.yaml
  charts/stable/tdarr-node/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jenkins/jenkins 2.498 → 2.499 (#32656)
  charts/stable/jenkins/Chart.yaml
  charts/stable/jenkins/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/n8nio/n8n 1.80.3 → 1.81.1 (#32657)
  charts/stable/n8n/Chart.yaml
  charts/stable/n8n/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(deps): update module github.com/go-git/go-git/v5 v5.13.2 → v5.14.0 (clustertool) (#32661)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k

chore(helm): update image docker.io/wekanteam/wekan v7.81 → v7.82 (#32658)
  charts/stable/wekan/Chart.yaml
  charts/stable/wekan/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/zwavejs/zwave-js-ui 9.30.1 → 9.31.0 (#32659)
  charts/stable/zwavejs2mqtt/Chart.yaml
  charts/stable/zwavejs2mqtt/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/jlesage/makemkv v25.02.2 → v25.02.3 (#32635)
  charts/stable/makemkv/Chart.yaml
  charts/stable/makemkv/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(website): update astro 5.2.6 → 5.4.0 (#32662)
  website/package.json
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/misskey/misskey 2025.2.0 → 2025.2.1 (#32639)
  charts/stable/misskey/Chart.yaml
  charts/stable/misskey/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/portainer/portainer-ee 2.27.0 → 2.27.1 (#32644)
  charts/stable/portainer/Chart.yaml
  charts/stable/portainer/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/onlyoffice/documentserver 8.3.0 → 8.3.1 (#32642)
  charts/stable/onlyoffice-document-server/Chart.yaml
  charts/stable/onlyoffice-document-server/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/nocodb/nocodb 0.262.0 → 0.262.1 (#32641)
  charts/stable/nocodb/Chart.yaml
  charts/stable/nocodb/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/kubernetesui/dashboard-api 1.10.2 → 1.10.3 (#32636)
  charts/premium/kubernetes-dashboard/Chart.yaml
  charts/premium/kubernetes-dashboard/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/portainer/portainer-ce 2.27.0 → 2.27.1 (#32643)
  charts/stable/portainer/Chart.yaml
  charts/stable/portainer/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/kubernetesui/dashboard-web 1.6.1 → 1.6.2 (#32637)
  charts/premium/kubernetes-dashboard/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/sonatype/nexus3 3.77.1 → 3.77.2 (#32646)
  charts/stable/nexus-oss/Chart.yaml
  charts/stable/nexus-oss/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/tinymediamanager/tinymediamanager 5.1.2 → 5.1.3 (#32649)
  charts/stable/tinymediamanager/Chart.yaml
  charts/stable/tinymediamanager/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/doitandbedone/ispyagentdvr 6.1.8.0 → 6.2.1.0 (#32652)
  charts/stable/ispy-agent-dvr/Chart.yaml
  charts/stable/ispy-agent-dvr/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ghostfolio/ghostfolio 2.140.0 → 2.141.0 (#32653)
  charts/stable/ghostfolio/Chart.yaml
  charts/stable/ghostfolio/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Update values.yaml
  charts/premium/authelia/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Update Chart.yaml
  charts/premium/authelia/Chart.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(flux): update image kubernetes-dashboard 1.13.2 → 1.13.3 (clustertool)
  clustertool/embed/generic/kubernetes/apps/kubernetes-dashboard/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

fix(website): update @astrojs/starlight 0.31.1 → 0.32.2
  website/package.json
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(flux): update image kubernetes-dashboard 1.13.2 → 1.13.3 (clustertool) (#32664)
  clustertool/embed/generic/kubernetes/apps/kubernetes-dashboard/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

build(goreleaser): generate/publish AUR package
  .goreleaser.yaml
Owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/boinc digest to ce4256b
  charts/stable/boinc/Chart.yaml
  charts/stable/boinc/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/orcaslicer digest to 50ec857
  charts/stable/orcaslicer/Chart.yaml
  charts/stable/orcaslicer/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/remmina digest to 38b9eb2
  charts/stable/remmina/Chart.yaml
  charts/stable/remmina/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/synclounge digest to 04cee44
  charts/stable/synclounge/Chart.yaml
  charts/stable/synclounge/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/onedr0p/sonarr digest to b2217e5
  charts/stable/sonarr/Chart.yaml
  charts/stable/sonarr/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image hello-world
  charts/premium/clusterissuer/Chart.yaml
  charts/premium/clusterissuer/values.yaml
  charts/premium/metallb-config/Chart.yaml
  charts/premium/metallb-config/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update webtop
  charts/stable/webtop/Chart.yaml
  charts/stable/webtop/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/renovate/renovate 39.179.1 → 39.182.4
  charts/stable/renovate/Chart.yaml
  charts/stable/renovate/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/boinc digest to ce4256b (#32671)
  charts/stable/boinc/Chart.yaml
  charts/stable/boinc/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(Authelia) Authelia password_policy (#32663)
  charts/premium/authelia/Chart.yaml
  charts/premium/authelia/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/orcaslicer digest to 50ec857 (#32676)
  charts/stable/orcaslicer/Chart.yaml
  charts/stable/orcaslicer/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97
