Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

fix(deps): update kubernetes packages v0.32.1 → v0.32.2 (clustertool) (patch) (#32020)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k

fix(website): update astro 5.2.5 → 5.3.0 (#32021)
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(website): update prettier 3.4.2 → 3.5.1 (#32022)
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(deps): update ghcr.io/siderolabs/installer docker tag to v1.9.4 (clustertool) (#32018)
  clustertool/embed/generic/base/talos/talconfig.yaml
  clustertool/embed/generic/kubernetes/flux-system/flux/upgradesettings.yaml
Owners: @privatepuffin, @stavros-k

chore(github-action): update golangci/golangci-lint-action digest to 0adbc47
  .github/workflows/clustertool.golangci-lint.yaml
Owners: @privatepuffin, @stavros-k

fix(website): update astro 5.2.5 → 5.2.6
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(github-action): update golangci/golangci-lint-action digest to 0adbc47 (#32024)
  .github/workflows/clustertool.golangci-lint.yaml
Owners: @privatepuffin, @stavros-k

fix(website): update astro 5.2.5 → 5.2.6 (#32025)
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(container): update public.ecr.aws/docker/library/nextcloud docker tag to v30.0.6
  containers/apps/nextcloud-fpm/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(helm): update image ghcr.io/sbondco/watcharr v2.0.0 → v2.0.1
  charts/stable/watcharr/Chart.yaml
  charts/stable/watcharr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(deps): update module github.com/budimanjojo/talhelper/v3 v3.0.18 → v3.0.19 (clustertool)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k

chore(helm): update image ghcr.io/linuxserver/calibre 7.25.0 → 7.26.0
  charts/stable/calibre/Chart.yaml
  charts/stable/calibre/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update astro 5.2.5 → 5.3.0
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(deps): update module github.com/budimanjojo/talhelper/v3 v3.0.18 → v3.0.19 (clustertool) (#32028)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k

chore(container): update public.ecr.aws/docker/library/nextcloud docker tag to v30.0.6 (#32026)
  containers/apps/nextcloud-fpm/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

fix(website): update astro 5.2.5 → 5.3.0 (#32030)
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/calibre 7.25.0 → 7.26.0 (#32029)
  charts/stable/calibre/Chart.yaml
  charts/stable/calibre/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/sbondco/watcharr v2.0.0 → v2.0.1 (#32027)
  charts/stable/watcharr/Chart.yaml
  charts/stable/watcharr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

feat(website) add longhorn snapshot-delete/cleanup task info
  website/src/content/docs/clustertool/csi/longhorn.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

Add webhook issuer
  charts/premium/clusterissuer/templates/clusterissuer/_ACME.tpl
  charts/premium/clusterissuer/values.yaml
  clustertool/embed/generic/kubernetes/core/clusterissuer/app/helm-release.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

feat(website) add longhorn snapshot-delete/cleanup task info (#32031)
  website/src/content/docs/clustertool/csi/longhorn.md
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(sinusbot): Reverse image change back to docker (#32016)
  charts/stable/sinusbot/Chart.yaml
  charts/stable/sinusbot/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(container): update public.ecr.aws/docker/library/nextcloud:30.0.6-fpm docker digest to 3581684
  containers/apps/nextcloud-fpm/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1421 → 0.22.1425
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/oscam 11868-ls132 → 11868-ls133
  charts/stable/oscam/Chart.yaml
  charts/stable/oscam/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update astro 5.2.5 → 5.2.6
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(container): update public.ecr.aws/docker/library/nextcloud:30.0.6-fpm docker digest to 3581684 (#32032)
  containers/apps/nextcloud-fpm/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(helm): update image ghcr.io/elfhosted/jackett 0.22.1421 → 0.22.1425 (#32033)
  charts/stable/jackett/Chart.yaml
  charts/stable/jackett/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update astro 5.2.5 → 5.2.6 (#32035)
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/oscam 11868-ls132 → 11868-ls133 (#32034)
  charts/stable/oscam/Chart.yaml
  charts/stable/oscam/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(github-action): update golangci/golangci-lint-action digest to 818ec4d
  .github/workflows/clustertool.golangci-lint.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image jackett 23.3.20 → 23.3.21
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

fix(deps): update module sigs.k8s.io/controller-runtime v0.20.1 → v0.20.2 (clustertool)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k

fix(website): update starlight-links-validator 0.14.2 → 0.14.3
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/renovate/renovate 39.164.0 → 39.170.1
  charts/stable/renovate/Chart.yaml
  charts/stable/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/manyfold3d/manyfold 0.100.1 → 0.101.0
  charts/incubator/manyfold/Chart.yaml
  charts/incubator/manyfold/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(website): update astro 5.2.5 → 5.3.0
  website/package.json
Owners: @privatepuffin, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(github-action): update golangci/golangci-lint-action digest to 818ec4d (#32036)
  .github/workflows/clustertool.golangci-lint.yaml
Owners: @privatepuffin, @stavros-k

chore(flux): update image jackett 23.3.20 → 23.3.21 (#32037)
  clusters/main/kubernetes/apps/jackett/app/helm-release.yaml
Owners: @privatepuffin

fix(deps): update module sigs.k8s.io/controller-runtime v0.20.1 → v0.20.2 (clustertool) (#32038)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k
