Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @stavros-k

.github/CODEOWNERS:

# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/**                @privatepuffin @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**         @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md      @privatepuffin @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @alfi0812 @kqmaverick  @StevenMcElligott @xstar97

chore(helm): update image docker.io/docuseal/docuseal 1.8.9 → 1.9.0
  charts/incubator/docuseal/Chart.yaml
  charts/incubator/docuseal/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/doitandbedone/ispyagentdvr 6.0.8.0 → 6.1.3.0
  charts/stable/ispy-agent-dvr/Chart.yaml
  charts/stable/ispy-agent-dvr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ghostfolio/ghostfolio 2.137.1 → 2.138.0
  charts/stable/ghostfolio/Chart.yaml
  charts/stable/ghostfolio/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/victoriametrics/victoria-metrics v1.110.0 → v1.111.0
  charts/incubator/victoriametrics/Chart.yaml
  charts/incubator/victoriametrics/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/vstavrinov/acestream-service 2.0.2.8 → 2.1.1.1
  charts/stable/acestream/Chart.yaml
  charts/stable/acestream/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/wiserain/flexget 3.13.26 → 3.14.4
  charts/stable/flexget/Chart.yaml
  charts/stable/flexget/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(flux): update image docker.io/rancher/system-upgrade-controller v0.14.1 → v0.14.2 (clustertool) (#31778)
  clustertool/embed/generic/kubernetes/system/system-upgrade-controller/app/helm-release.yaml
Owners: @privatepuffin, @stavros-k

fix: ensure docker.io library explicitly mentions library
  charts/stable/mongo-express/values.yaml
  charts/stable/odoo/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(dockerfiles): ensure docker.io and library are explicitly mentioned
  containers/apps/nextcloud-fpm/Dockerfile
  containers/apps/nextcloud-imaginary/Dockerfile
  containers/apps/nextcloud-push-notify/Dockerfile
  containers/apps/openvpn-client/Dockerfile
  containers/apps/traefik/Dockerfile
Owners: @truecharts/core-team, @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8

chore(helm): update image docker.io/alpine/socat digest to e899028 (#31775)
  charts/stable/emby/Chart.yaml
  charts/stable/emby/values.yaml
  charts/stable/jellyfin/Chart.yaml
  charts/stable/jellyfin/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/automaticrippingmachine/automatic-ripping-machine digest to 77b52e2 (#31776)
  charts/stable/automatic-ripping-machine/Chart.yaml
  charts/stable/automatic-ripping-machine/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/victoriametrics/victoria-metrics v1.110.0 → v1.111.0 (#31787)
  charts/incubator/victoriametrics/Chart.yaml
  charts/incubator/victoriametrics/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/homeassistant/home-assistant 2025.2.0 → 2025.2.1 (#31781)
  charts/stable/home-assistant/Chart.yaml
  charts/stable/home-assistant/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/doitandbedone/ispyagentdvr 6.0.8.0 → 6.1.3.0 (#31785)
  charts/stable/ispy-agent-dvr/Chart.yaml
  charts/stable/ispy-agent-dvr/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/cloudflare/cloudflared 2025.1.1 → 2025.2.0 (#31783)
  charts/stable/cloudflared/Chart.yaml
  charts/stable/cloudflared/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/gaseousgames/gaseousserver v1.7.9 → v1.7.10 (#31779)
  charts/stable/gaseous-server/Chart.yaml
  charts/stable/gaseous-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/baserow/baserow 1.30.1 → 1.31.0 (#31782)
  charts/stable/baserow/Chart.yaml
  charts/stable/baserow/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/lmscommunity/lyrionmusicserver digest to 5bffd40 (#31777)
  charts/incubator/lyrion-music-server/Chart.yaml
  charts/incubator/lyrion-music-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/gitea/gitea 1.23.2 → 1.23.3 (#31780)
  charts/stable/gitea/Chart.yaml
  charts/stable/gitea/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/docuseal/docuseal 1.8.9 → 1.9.0 (#31784)
  charts/incubator/docuseal/Chart.yaml
  charts/incubator/docuseal/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/wiserain/flexget 3.13.26 → 3.14.4 (#31789)
  charts/stable/flexget/Chart.yaml
  charts/stable/flexget/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/ghostfolio/ghostfolio 2.137.1 → 2.138.0 (#31786)
  charts/stable/ghostfolio/Chart.yaml
  charts/stable/ghostfolio/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

fix(renovate): lower renovate frequency slightly
  charts/stable/renovate/Chart.yaml
  charts/stable/renovate/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

bump renovate version
  clusters/main/kubernetes/apps/renovate/app/helm-release.yaml
Owners: @privatepuffin

chore: Always utilise ECR for docker.io/library
  .github/renovate/special/customVersioning.json5
  charts/stable/mongo-express/values.yaml
  charts/stable/odoo/values.yaml
  charts/stable/xwiki/values.yaml
  clustertool/testdata/values_yaml/multiImageValues.yaml
  containers/apps/nextcloud-fpm/Dockerfile
  containers/apps/nextcloud-imaginary/Dockerfile
  containers/apps/nextcloud-push-notify/Dockerfile
  containers/apps/traefik/Dockerfile
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97, @truecharts/core-team

change clutertool included patch format, add nvidia patch sample
  clustertool/embed/generic/patches/all.yaml
  clustertool/embed/generic/patches/controlplane.yaml
  clustertool/embed/generic/patches/nvidia.yaml
  clustertool/embed/generic/patches/worker.yaml
Owners: @privatepuffin, @stavros-k

chore: move bitnami dockerhub references to ecr
  charts/premium/prometheus/values.yaml
  charts/stable/dokuwiki/values.yaml
  charts/stable/mariadb/values.yaml
  charts/stable/matomo/values.yaml
  charts/stable/memcached/values.yaml
  charts/stable/mongodb/values.yaml
  charts/stable/redis/values.yaml
  charts/stable/solr/values.yaml
  charts/stable/wordpress/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore: move itzg to ghcr
  charts/stable/minecraft-bedrock/values.yaml
  charts/stable/minecraft-java/values.yaml
  charts/stable/minecraft-router/values.yaml
  charts/stable/rcon-webadmin/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(removate): more pvcs
  charts/stable/renovate/Chart.yaml
  charts/stable/renovate/values.yaml
  clusters/main/kubernetes/apps/renovate/app/helm-release.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(removate): more pvcs
  charts/stable/renovate/Chart.yaml
  charts/stable/renovate/values.yaml
  clusters/main/kubernetes/apps/renovate/app/helm-release.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

remove some entries that are provieded by default
  clustertool/embed/generic/patches/controlplane.yaml
Owners: @privatepuffin, @stavros-k

chore(helm): update image mirror.gcr.io/accetto/ubuntu-vnc-xfce-firefox-g3 digest to 6130d9a
  charts/stable/firefox-desktop-g3/Chart.yaml
  charts/stable/firefox-desktop-g3/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image mirror.gcr.io/cthulhoo/ttrss-fpm-pgsql-static digest to 195c7bb
  charts/stable/tt-rss/Chart.yaml
  charts/stable/tt-rss/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image mirror.gcr.io/cthulhoo/ttrss-web-nginx digest to 997301a
  charts/stable/tt-rss/Chart.yaml
  charts/stable/tt-rss/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image mirror.gcr.io/diygod/rsshub digest to 73af837
  charts/stable/rsshub/Chart.yaml
  charts/stable/rsshub/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image mirror.gcr.io/dtjs48jkt/twonkyserver digest to 9797ac9
  charts/stable/twonky-server/Chart.yaml
  charts/stable/twonky-server/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image mirror.gcr.io/factoriotools/factorio digest to b7968be
  charts/stable/factorio/Chart.yaml
  charts/stable/factorio/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image mirror.gcr.io/farmos/farmos digest to 23a079f
  charts/stable/farmos/Chart.yaml
  charts/stable/farmos/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image mirror.gcr.io/mbentley/omada-controller digest to d88c890
  charts/stable/omada-controller/Chart.yaml
  charts/stable/omada-controller/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image mirror.gcr.io/revenz/fenrus digest to b2d0a5a
  charts/stable/fenrus/Chart.yaml
  charts/stable/fenrus/values.yaml
Owners: @privatepuffin, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97
