Repository truecharts/public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @truecharts/core-team, @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @Heavybullets8, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/openvscode-server digest to 8e755e9
  charts/stable/openvscode-server/Chart.yaml
  charts/stable/openvscode-server/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/resilio-sync digest to f233a1c
  charts/stable/resilio-sync/Chart.yaml
  charts/stable/resilio-sync/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/calibre-web digest to cb05a2f
  charts/stable/calibre-web/Chart.yaml
  charts/stable/calibre-web/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/matomo digest to cde7793
  charts/stable/matomo/Chart.yaml
  charts/stable/matomo/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/drakkan/sftpgo v2.6.5 → v2.6.6
  charts/stable/sftpgo/Chart.yaml
  charts/stable/sftpgo/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/renovate/renovate 39.176.4 → 39.179.1
  charts/stable/renovate/Chart.yaml
  charts/stable/renovate/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(deps): update module golang.org/x/crypto v0.34.0 → v0.35.0 (clustertool)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k

fix(website): update astro 5.2.6 → 5.3.1
  website/package.json
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/mikenye/tar1090 digest to f4d40d1 (#32519)
  charts/stable/tar1090/Chart.yaml
  charts/stable/tar1090/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/elfhosted/nzbget digest to 3fafda6 (#32523)
  charts/stable/nzbget/Chart.yaml
  charts/stable/nzbget/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/resilio-sync digest to f233a1c (#32534)
  charts/stable/resilio-sync/Chart.yaml
  charts/stable/resilio-sync/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/grocy digest to 21e77b4 (#32530)
  charts/stable/grocy/Chart.yaml
  charts/stable/grocy/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/mysql-workbench digest to ee36c6e (#32531)
  charts/stable/mysql-workbench/Chart.yaml
  charts/stable/mysql-workbench/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(deps): update module golang.org/x/crypto v0.34.0 → v0.35.0 (clustertool) (#32543)
  clustertool/go.mod
Owners: @privatepuffin, @stavros-k

chore(helm): update image ghcr.io/linuxserver/openvscode-server digest to 8e755e9 (#32533)
  charts/stable/openvscode-server/Chart.yaml
  charts/stable/openvscode-server/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image public.ecr.aws/bitnami/matomo digest to cde7793 (#32537)
  charts/stable/matomo/Chart.yaml
  charts/stable/matomo/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/ombi digest to 7eec3a3 (#32532)
  charts/stable/ombi/Chart.yaml
  charts/stable/ombi/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/calibre-web digest to cb05a2f (#32535)
  charts/stable/calibre-web/Chart.yaml
  charts/stable/calibre-web/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/drakkan/sftpgo v2.6.5 → v2.6.6 (#32539)
  charts/stable/sftpgo/Chart.yaml
  charts/stable/sftpgo/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image docker.io/renovate/renovate 39.176.4 → 39.179.1 (#32542)
  charts/stable/renovate/Chart.yaml
  charts/stable/renovate/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(website): update astro 5.2.6 → 5.3.1 (#32544)
  website/package.json
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(flux): update image renovate 1.13.0 → 1.14.0
  clusters/main/kubernetes/apps/renovate/app/helm-release.yaml
Owners: @privatepuffin

chore(flux): update image renovate 1.13.0 → 1.14.0 (#32546)
  clusters/main/kubernetes/apps/renovate/app/helm-release.yaml
Owners: @privatepuffin

chore(helm): update image ghcr.io/schlagmichdoch/pairdrop v1.11.1 → v1.11.2
  charts/stable/pairdrop/Chart.yaml
  charts/stable/pairdrop/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/pi-hole/pihole 2025.02.5 → 2025.02.6
  charts/stable/pihole/Chart.yaml
  charts/stable/pihole/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update rdesktop
  charts/stable/rdesktop/Chart.yaml
  charts/stable/rdesktop/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/kdenlive digest to adb1cc5
  charts/stable/kdenlive/Chart.yaml
  charts/stable/kdenlive/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/grav digest to 78915c5
  charts/stable/grav/Chart.yaml
  charts/stable/grav/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/filezilla digest to 9d53d4b
  charts/stable/filezilla/Chart.yaml
  charts/stable/filezilla/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/duckdns digest to 2d25c72
  charts/stable/duckdns/Chart.yaml
  charts/stable/duckdns/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

fix(website): update starlight-blog 0.16.1 → 0.17.3
  website/package.json
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/schlagmichdoch/pairdrop v1.11.1 → v1.11.2 (#32541)
  charts/stable/pairdrop/Chart.yaml
  charts/stable/pairdrop/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/pi-hole/pihole 2025.02.5 → 2025.02.6 (#32540)
  charts/stable/pihole/Chart.yaml
  charts/stable/pihole/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image lscr.io/linuxserver/kdenlive digest to adb1cc5 (#32536)
  charts/stable/kdenlive/Chart.yaml
  charts/stable/kdenlive/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update rdesktop (#32538)
  charts/stable/rdesktop/Chart.yaml
  charts/stable/rdesktop/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/grav digest to 78915c5 (#32529)
  charts/stable/grav/Chart.yaml
  charts/stable/grav/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/filezilla digest to 9d53d4b (#32528)
  charts/stable/filezilla/Chart.yaml
  charts/stable/filezilla/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/duckdns digest to 2d25c72 (#32527)
  charts/stable/duckdns/Chart.yaml
  charts/stable/duckdns/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/digikam digest to ef55dbc
  charts/stable/digikam/Chart.yaml
  charts/stable/digikam/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

chore(helm): update image ghcr.io/linuxserver/davos digest to a0470f1
  charts/stable/davos/Chart.yaml
  charts/stable/davos/values.yaml
Owners: @privatepuffin, @stavros-k, @alfi0812, @kqmaverick, @StevenMcElligott, @xstar97

.github/CODEOWNERS:

# Default code owners
*                         @truecharts/core-team @privatepuffin @stavros-k @alfi0812 @kqmaverick @Heavybullets8 @StevenMcElligott @xstar97
/charts/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/charts/dev/**            @privatepuffin
/charts/unstable/**       @privatepuffin
/charts/library/**        @privatepuffin @stavros-k
/clustertool/**           @privatepuffin @stavros-k
/website/**               @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
/.github/**               @privatepuffin @stavros-k
/.github/README.md        @privatepuffin @stavros-k @alfi0812 @StevenMcElligott
/clusters/**              @privatepuffin
/repositories/**          @privatepuffin
**/docs/**                @privatepuffin @stavros-k @alfi0812 @kqmaverick @StevenMcElligott @xstar97
